
tempCodeRunnerFile.py
data/fixtures_2020.json
data/standings_2020.json
__pycache__/graph_data.cpython-38.pyc
__pycache__/data.cpython-38.pyc
templates/graphs/arsenal/fixtures-arsenal.html
templates/graphs/arsenal/form-over-time-arsenal.html
templates/graphs/arsenal/goals-scored-and-conceded-arsenal.html
templates/graphs/arsenal/position-over-time-arsenal.html
templates/graphs/aston-villa/fixtures-aston-villa.html
templates/graphs/aston-villa/form-over-time-aston-villa.html
templates/graphs/aston-villa/goals-scored-and-conceded-aston-villa.html
templates/graphs/aston-villa/position-over-time-aston-villa.html
templates/graphs/brighton-and-hove-albion/fixtures-brighton-and-hove-albion.html
templates/graphs/brighton-and-hove-albion/goals-scored-and-conceded-brighton-and-hove-albion.html
templates/graphs/brighton-and-hove-albion/form-over-time-brighton-and-hove-albion.html
templates/graphs/brighton-and-hove-albion/position-over-time-brighton-and-hove-albion.html
templates/graphs/burnley/fixtures-burnley.html
templates/graphs/burnley/form-over-time-burnley.html
templates/graphs/burnley/goals-scored-and-conceded-burnley.html
templates/graphs/burnley/position-over-time-burnley.html
templates/graphs/chelsea/fixtures-chelsea.html
templates/graphs/chelsea/form-over-time-chelsea.html
templates/graphs/chelsea/goals-scored-and-conceded-chelsea.html
templates/graphs/west-ham-united/position-over-time-west-ham-united.html
templates/graphs/west-ham-united/goals-scored-and-conceded-west-ham-united.html
templates/graphs/west-ham-united/form-over-time-west-ham-united.html
templates/graphs/west-ham-united/fixtures-west-ham-united.html
templates/graphs/west-bromwich-albion/position-over-time-west-bromwich-albion.html
templates/graphs/west-bromwich-albion/goals-scored-and-conceded-west-bromwich-albion.html
templates/graphs/west-bromwich-albion/form-over-time-west-bromwich-albion.html
templates/graphs/west-bromwich-albion/fixtures-west-bromwich-albion.html
templates/graphs/wolverhampton-wanderers/position-over-time-wolverhampton-wanderers.html
templates/graphs/wolverhampton-wanderers/goals-scored-and-conceded-wolverhampton-wanderers.html
templates/graphs/wolverhampton-wanderers/form-over-time-wolverhampton-wanderers.html
templates/graphs/wolverhampton-wanderers/fixtures-wolverhampton-wanderers.html
templates/graphs/tottenham-hotspur/position-over-time-tottenham-hotspur.html
templates/graphs/tottenham-hotspur/goals-scored-and-conceded-tottenham-hotspur.html
templates/graphs/tottenham-hotspur/form-over-time-tottenham-hotspur.html
templates/graphs/tottenham-hotspur/fixtures-tottenham-hotspur.html
templates/graphs/southampton/position-over-time-southampton.html
templates/graphs/southampton/goals-scored-and-conceded-southampton.html
templates/graphs/southampton/form-over-time-southampton.html
templates/graphs/southampton/fixtures-southampton.html
templates/graphs/sheffield-united/fixtures-sheffield-united.html
templates/graphs/sheffield-united/form-over-time-sheffield-united.html
templates/graphs/sheffield-united/goals-scored-and-conceded-sheffield-united.html
templates/graphs/sheffield-united/position-over-time-sheffield-united.html
templates/graphs/newcastle-united/position-over-time-newcastle-united.html
templates/graphs/newcastle-united/goals-scored-and-conceded-newcastle-united.html
templates/graphs/newcastle-united/form-over-time-newcastle-united.html
templates/graphs/newcastle-united/fixtures-newcastle-united.html
templates/graphs/manchester-united/position-over-time-manchester-united.html
templates/graphs/manchester-united/goals-scored-and-conceded-manchester-united.html
templates/graphs/manchester-united/form-over-time-manchester-united.html
templates/graphs/manchester-united/fixtures-manchester-united.html
templates/graphs/manchester-city/fixtures-manchester-city.html
templates/graphs/manchester-city/form-over-time-manchester-city.html
templates/graphs/manchester-city/goals-scored-and-conceded-manchester-city.html
templates/graphs/manchester-city/position-over-time-manchester-city.html
templates/graphs/liverpool/position-over-time-liverpool.html
templates/graphs/liverpool/goals-scored-and-conceded-liverpool.html
templates/graphs/liverpool/form-over-time-liverpool.html
templates/graphs/leicester-city/fixtures-leicester-city.html
templates/graphs/leicester-city/form-over-time-leicester-city.html
templates/graphs/leicester-city/goals-scored-and-conceded-leicester-city.html
templates/graphs/leicester-city/position-over-time-leicester-city.html
templates/graphs/liverpool/fixtures-liverpool.html
templates/graphs/leeds-united/position-over-time-leeds-united.html
templates/graphs/leeds-united/goals-scored-and-conceded-leeds-united.html
templates/graphs/leeds-united/form-over-time-leeds-united.html
templates/graphs/leeds-united/fixtures-leeds-united.html
templates/graphs/fulham/position-over-time-fulham.html
templates/graphs/fulham/goals-scored-and-conceded-fulham.html
templates/graphs/fulham/form-over-time-fulham.html
templates/graphs/fulham/fixtures-fulham.html
templates/graphs/everton/position-over-time-everton.html
templates/graphs/everton/goals-scored-and-conceded-everton.html
templates/graphs/everton/form-over-time-everton.html
templates/graphs/everton/fixtures-everton.html
templates/graphs/crystal-palace/position-over-time-crystal-palace.html
templates/graphs/crystal-palace/goals-scored-and-conceded-crystal-palace.html
templates/graphs/crystal-palace/form-over-time-crystal-palace.html
templates/graphs/crystal-palace/fixtures-crystal-palace.html
templates/graphs/chelsea/position-over-time-chelsea.html
