<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Matchday</th>
      <th colspan="10" halign="left">1</th>
      <th colspan="10" halign="left">2</th>
      <th colspan="10" halign="left">3</th>
      <th colspan="10" halign="left">4</th>
      <th colspan="10" halign="left">5</th>
      <th colspan="10" halign="left">6</th>
      <th colspan="10" halign="left">7</th>
      <th colspan="10" halign="left">8</th>
      <th colspan="10" halign="left">9</th>
      <th colspan="10" halign="left">10</th>
    </tr>
    <tr>
      <th></th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>CumulativeGD</th>
      <th>CumulativePoints</th>
      <th>Date</th>
      <th>Form</th>
      <th>FormRating</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Liverpool FC</th>
      <td>False</td>
      <td>3</td>
      <td>3</td>
      <td>2021-08-14 16:30:00</td>
      <td>W</td>
      <td>0.766862</td>
      <td>3</td>
      <td>3</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>5</td>
      <td>6</td>
      <td>2021-08-21 11:30:00</td>
      <td>WW</td>
      <td>0.706141</td>
      <td>2</td>
      <td>2</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>4</td>
      <td>2021-08-28 16:30:00</td>
      <td>DWW</td>
      <td>0.637427</td>
      <td>0</td>
      <td>5</td>
      <td>CHE</td>
      <td>False</td>
      <td>False</td>
      <td>3</td>
      <td>4</td>
      <td>2021-09-12 15:30:00</td>
      <td>WDWW</td>
      <td>0.672465</td>
      <td>3</td>
      <td>5</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>6</td>
      <td>6</td>
      <td>2021-09-18 14:00:00</td>
      <td>WWDWW</td>
      <td>0.674995</td>
      <td>3</td>
      <td>2</td>
      <td>CRY</td>
      <td>False</td>
      <td>False</td>
      <td>3</td>
      <td>4</td>
      <td>2021-09-25 16:30:00</td>
      <td>DWWDW</td>
      <td>0.621622</td>
      <td>0</td>
      <td>3</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-03 15:30:00</td>
      <td>DDWWD</td>
      <td>0.592538</td>
      <td>0</td>
      <td>11</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>5</td>
      <td>4</td>
      <td>2021-10-16 11:30:00</td>
      <td>WDDWW</td>
      <td>0.667561</td>
      <td>5</td>
      <td>4</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>10</td>
      <td>6</td>
      <td>2021-10-24 15:30:00</td>
      <td>WWDDW</td>
      <td>0.893061</td>
      <td>5</td>
      <td>1</td>
      <td>MUN</td>
      <td>False</td>
      <td>True</td>
      <td>5</td>
      <td>4</td>
      <td>2021-10-30 14:00:00</td>
      <td>DWWDD</td>
      <td>0.856038</td>
      <td>0</td>
      <td>4</td>
      <td>BHA</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>False</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>0.500000</td>
      <td>-3</td>
      <td>18</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-08-21 14:00:00</td>
      <td>DL</td>
      <td>0.500000</td>
      <td>0</td>
      <td>14</td>
      <td>BRE</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-08-28 14:00:00</td>
      <td>DDL</td>
      <td>0.500000</td>
      <td>0</td>
      <td>13</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>3</td>
      <td>4</td>
      <td>2021-09-11 11:30:00</td>
      <td>WDDL</td>
      <td>0.571991</td>
      <td>3</td>
      <td>6</td>
      <td>TOT</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>3</td>
      <td>2021-09-18 14:00:00</td>
      <td>LWDDL</td>
      <td>0.551392</td>
      <td>-3</td>
      <td>8</td>
      <td>LIV</td>
      <td>False</td>
      <td>True</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-09-27 19:00:00</td>
      <td>DLWDD</td>
      <td>0.551392</td>
      <td>0</td>
      <td>18</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-03 13:00:00</td>
      <td>DDLWD</td>
      <td>0.551392</td>
      <td>0</td>
      <td>15</td>
      <td>LEI</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-18 19:00:00</td>
      <td>DDDLW</td>
      <td>0.551392</td>
      <td>0</td>
      <td>13</td>
      <td>ARS</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-23 14:00:00</td>
      <td>DDDDL</td>
      <td>0.493799</td>
      <td>0</td>
      <td>11</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>4</td>
      <td>2021-10-30 14:00:00</td>
      <td>WDDDD</td>
      <td>0.775334</td>
      <td>2</td>
      <td>5</td>
      <td>MCI</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Chelsea FC</th>
      <td>True</td>
      <td>3</td>
      <td>3</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>0.685116</td>
      <td>3</td>
      <td>2</td>
      <td>CRY</td>
      <td>False</td>
      <td>False</td>
      <td>5</td>
      <td>6</td>
      <td>2021-08-22 15:30:00</td>
      <td>WW</td>
      <td>0.713160</td>
      <td>2</td>
      <td>1</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>4</td>
      <td>2021-08-28 16:30:00</td>
      <td>DWW</td>
      <td>0.642106</td>
      <td>0</td>
      <td>4</td>
      <td>LIV</td>
      <td>False</td>
      <td>True</td>
      <td>3</td>
      <td>4</td>
      <td>2021-09-11 16:30:00</td>
      <td>WDWW</td>
      <td>0.670990</td>
      <td>3</td>
      <td>4</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>6</td>
      <td>6</td>
      <td>2021-09-19 15:30:00</td>
      <td>WWDWW</td>
      <td>0.694385</td>
      <td>3</td>
      <td>1</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>3</td>
      <td>2021-09-25 11:30:00</td>
      <td>LWWDW</td>
      <td>0.649242</td>
      <td>-1</td>
      <td>8</td>
      <td>MCI</td>
      <td>False</td>
      <td>True</td>
      <td>1</td>
      <td>3</td>
      <td>2021-10-02 14:00:00</td>
      <td>WLWWD</td>
      <td>0.625659</td>
      <td>2</td>
      <td>6</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>3</td>
      <td>6</td>
      <td>2021-10-16 16:30:00</td>
      <td>WWLWW</td>
      <td>0.644424</td>
      <td>1</td>
      <td>1</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>8</td>
      <td>6</td>
      <td>2021-10-23 11:30:00</td>
      <td>WWWLW</td>
      <td>0.717432</td>
      <td>7</td>
      <td>2</td>
      <td>NOR</td>
      <td>False</td>
      <td>False</td>
      <td>10</td>
      <td>6</td>
      <td>2021-10-30 14:00:00</td>
      <td>WWWWL</td>
      <td>0.698430</td>
      <td>3</td>
      <td>1</td>
      <td>NEW</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>False</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-08-13 19:00:00</td>
      <td>L</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>15</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>-4</td>
      <td>0</td>
      <td>2021-08-22 15:30:00</td>
      <td>LL</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>18</td>
      <td>CHE</td>
      <td>False</td>
      <td>False</td>
      <td>-7</td>
      <td>0</td>
      <td>2021-08-28 11:30:00</td>
      <td>LLL</td>
      <td>0.008932</td>
      <td>-5</td>
      <td>20</td>
      <td>MCI</td>
      <td>False</td>
      <td>True</td>
      <td>-4</td>
      <td>3</td>
      <td>2021-09-11 14:00:00</td>
      <td>WLLL</td>
      <td>0.153938</td>
      <td>1</td>
      <td>11</td>
      <td>NOR</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>6</td>
      <td>2021-09-18 14:00:00</td>
      <td>WWLLL</td>
      <td>0.237692</td>
      <td>1</td>
      <td>5</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>3</td>
      <td>6</td>
      <td>2021-09-26 15:30:00</td>
      <td>WWWLL</td>
      <td>0.530131</td>
      <td>2</td>
      <td>2</td>
      <td>TOT</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>4</td>
      <td>2021-10-02 16:30:00</td>
      <td>DWWWL</td>
      <td>0.530131</td>
      <td>0</td>
      <td>2</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-18 19:00:00</td>
      <td>DDWWW</td>
      <td>0.570728</td>
      <td>0</td>
      <td>11</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>4</td>
      <td>2021-10-22 19:00:00</td>
      <td>WDDWW</td>
      <td>0.587289</td>
      <td>2</td>
      <td>6</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>4</td>
      <td>6</td>
      <td>2021-10-30 11:30:00</td>
      <td>WWDDW</td>
      <td>0.631527</td>
      <td>2</td>
      <td>3</td>
      <td>LEI</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>False</td>
      <td>-1</td>
      <td>0</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>0.000000</td>
      <td>-1</td>
      <td>12</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-08-22 13:00:00</td>
      <td>LL</td>
      <td>0.000000</td>
      <td>-1</td>
      <td>16</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-08-29 15:30:00</td>
      <td>LLL</td>
      <td>0.000000</td>
      <td>-1</td>
      <td>17</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>3</td>
      <td>2021-09-11 14:00:00</td>
      <td>WLLL</td>
      <td>0.121800</td>
      <td>2</td>
      <td>7</td>
      <td>WAT</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>3</td>
      <td>2021-09-18 11:30:00</td>
      <td>LWLLL</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>9</td>
      <td>BRE</td>
      <td>False</td>
      <td>False</td>
      <td>-1</td>
      <td>3</td>
      <td>2021-09-26 13:00:00</td>
      <td>WLWLL</td>
      <td>0.072123</td>
      <td>1</td>
      <td>11</td>
      <td>SOU</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>6</td>
      <td>2021-10-02 14:00:00</td>
      <td>WWLWL</td>
      <td>0.211575</td>
      <td>1</td>
      <td>1</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>6</td>
      <td>2021-10-16 14:00:00</td>
      <td>WWWLW</td>
      <td>0.318334</td>
      <td>1</td>
      <td>2</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>4</td>
      <td>2021-10-23 14:00:00</td>
      <td>DWWWL</td>
      <td>0.288325</td>
      <td>0</td>
      <td>7</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>1</td>
      <td>2021-11-01 20:00:00</td>
      <td>DWWW</td>
      <td>0.537550</td>
      <td>0</td>
      <td>13</td>
      <td>EVE</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>True</td>
      <td>-1</td>
      <td>0</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>0.000000</td>
      <td>-1</td>
      <td>13</td>
      <td>BHA</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-08-21 11:30:00</td>
      <td>LL</td>
      <td>0.171712</td>
      <td>-2</td>
      <td>17</td>
      <td>LIV</td>
      <td>False</td>
      <td>True</td>
      <td>-2</td>
      <td>1</td>
      <td>2021-08-29 13:00:00</td>
      <td>DLL</td>
      <td>0.281142</td>
      <td>0</td>
      <td>15</td>
      <td>LEE</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>1</td>
      <td>2021-09-13 19:00:00</td>
      <td>LDLL</td>
      <td>0.017428</td>
      <td>-2</td>
      <td>15</td>
      <td>EVE</td>
      <td>False</td>
      <td>True</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-09-18 14:00:00</td>
      <td>LLDLL</td>
      <td>0.000000</td>
      <td>-1</td>
      <td>18</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-09-25 14:00:00</td>
      <td>DLLDL</td>
      <td>0.119457</td>
      <td>0</td>
      <td>17</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-02 14:00:00</td>
      <td>DDLLD</td>
      <td>0.123591</td>
      <td>0</td>
      <td>14</td>
      <td>NOR</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>1</td>
      <td>2021-10-16 14:00:00</td>
      <td>LDDLL</td>
      <td>0.107352</td>
      <td>-2</td>
      <td>16</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>1</td>
      <td>2021-10-23 14:00:00</td>
      <td>DLDDL</td>
      <td>0.362095</td>
      <td>0</td>
      <td>14</td>
      <td>SOU</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>4</td>
      <td>2021-10-30 14:00:00</td>
      <td>WDLDD</td>
      <td>0.521291</td>
      <td>2</td>
      <td>6</td>
      <td>BRE</td>
      <td>False</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>False</td>
      <td>2</td>
      <td>3</td>
      <td>2021-08-15 13:00:00</td>
      <td>W</td>
      <td>0.628637</td>
      <td>2</td>
      <td>6</td>
      <td>NEW</td>
      <td>False</td>
      <td>True</td>
      <td>5</td>
      <td>6</td>
      <td>2021-08-23 19:00:00</td>
      <td>WW</td>
      <td>0.784741</td>
      <td>3</td>
      <td>3</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>3</td>
      <td>4</td>
      <td>2021-08-28 14:00:00</td>
      <td>DWW</td>
      <td>0.689828</td>
      <td>0</td>
      <td>3</td>
      <td>CRY</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-09-11 14:00:00</td>
      <td>DDWW</td>
      <td>0.642371</td>
      <td>0</td>
      <td>12</td>
      <td>SOU</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-09-19 13:00:00</td>
      <td>LDDWW</td>
      <td>0.524313</td>
      <td>-1</td>
      <td>14</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>3</td>
      <td>2021-09-25 14:00:00</td>
      <td>WLDDW</td>
      <td>0.517091</td>
      <td>1</td>
      <td>10</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>3</td>
      <td>2021-10-03 13:00:00</td>
      <td>LWLDD</td>
      <td>0.301900</td>
      <td>-1</td>
      <td>8</td>
      <td>BRE</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>3</td>
      <td>2021-10-17 13:00:00</td>
      <td>WLWLD</td>
      <td>0.320315</td>
      <td>1</td>
      <td>8</td>
      <td>EVE</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>6</td>
      <td>2021-10-24 13:00:00</td>
      <td>WWLWL</td>
      <td>0.339513</td>
      <td>1</td>
      <td>5</td>
      <td>TOT</td>
      <td>False</td>
      <td>False</td>
      <td>4</td>
      <td>6</td>
      <td>2021-10-31 16:30:00</td>
      <td>WWWLW</td>
      <td>0.480624</td>
      <td>3</td>
      <td>2</td>
      <td>AVL</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>False</td>
      <td>1</td>
      <td>3</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>0.572710</td>
      <td>1</td>
      <td>9</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>3</td>
      <td>6</td>
      <td>2021-08-21 16:30:00</td>
      <td>WW</td>
      <td>0.611378</td>
      <td>2</td>
      <td>4</td>
      <td>WAT</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>3</td>
      <td>2021-08-28 14:00:00</td>
      <td>LWW</td>
      <td>0.149681</td>
      <td>-2</td>
      <td>9</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>-1</td>
      <td>3</td>
      <td>2021-09-11 14:00:00</td>
      <td>WLWW</td>
      <td>0.260717</td>
      <td>1</td>
      <td>9</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>6</td>
      <td>2021-09-19 13:00:00</td>
      <td>WWLWW</td>
      <td>0.337963</td>
      <td>1</td>
      <td>4</td>
      <td>LEI</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>4</td>
      <td>2021-09-27 19:00:00</td>
      <td>DWWLW</td>
      <td>0.323421</td>
      <td>0</td>
      <td>6</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-02 16:30:00</td>
      <td>DDWWL</td>
      <td>0.293412</td>
      <td>0</td>
      <td>12</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-16 14:00:00</td>
      <td>DDDWW</td>
      <td>0.548155</td>
      <td>0</td>
      <td>12</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-10-23 16:30:00</td>
      <td>LDDDW</td>
      <td>0.505031</td>
      <td>-3</td>
      <td>15</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-10-30 14:00:00</td>
      <td>DLDDD</td>
      <td>0.475642</td>
      <td>0</td>
      <td>15</td>
      <td>LIV</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>False</td>
      <td>-1</td>
      <td>0</td>
      <td>2021-08-15 15:30:00</td>
      <td>L</td>
      <td>0.000000</td>
      <td>-1</td>
      <td>14</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>4</td>
      <td>3</td>
      <td>2021-08-21 14:00:00</td>
      <td>WL</td>
      <td>0.405913</td>
      <td>5</td>
      <td>9</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>10</td>
      <td>6</td>
      <td>2021-08-28 11:30:00</td>
      <td>WWL</td>
      <td>0.638279</td>
      <td>5</td>
      <td>1</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>6</td>
      <td>6</td>
      <td>2021-09-11 14:00:00</td>
      <td>WWWL</td>
      <td>0.640446</td>
      <td>1</td>
      <td>1</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>1</td>
      <td>4</td>
      <td>2021-09-18 14:00:00</td>
      <td>DWWWL</td>
      <td>0.612357</td>
      <td>0</td>
      <td>6</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>4</td>
      <td>2021-09-25 11:30:00</td>
      <td>WDWWW</td>
      <td>0.884732</td>
      <td>1</td>
      <td>7</td>
      <td>CHE</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>4</td>
      <td>2021-10-03 15:30:00</td>
      <td>DWDWW</td>
      <td>0.795778</td>
      <td>0</td>
      <td>5</td>
      <td>LIV</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>4</td>
      <td>2021-10-16 14:00:00</td>
      <td>WDWDW</td>
      <td>0.704260</td>
      <td>2</td>
      <td>5</td>
      <td>BUR</td>
      <td>False</td>
      <td>False</td>
      <td>5</td>
      <td>6</td>
      <td>2021-10-23 16:30:00</td>
      <td>WWDWD</td>
      <td>0.730688</td>
      <td>3</td>
      <td>3</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>1</td>
      <td>3</td>
      <td>2021-10-30 14:00:00</td>
      <td>LWWDW</td>
      <td>0.463797</td>
      <td>-2</td>
      <td>10</td>
      <td>CRY</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>False</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>16</td>
      <td>EVE</td>
      <td>False</td>
      <td>True</td>
      <td>-2</td>
      <td>1</td>
      <td>2021-08-22 13:00:00</td>
      <td>DL</td>
      <td>0.000000</td>
      <td>0</td>
      <td>13</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-08-28 14:00:00</td>
      <td>DDL</td>
      <td>0.075429</td>
      <td>0</td>
      <td>12</td>
      <td>NEW</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>2</td>
      <td>2021-09-11 14:00:00</td>
      <td>DDDL</td>
      <td>0.181572</td>
      <td>0</td>
      <td>13</td>
      <td>WHU</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-09-18 14:00:00</td>
      <td>DDDDL</td>
      <td>0.245257</td>
      <td>0</td>
      <td>13</td>
      <td>MCI</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-09-26 13:00:00</td>
      <td>LDDDD</td>
      <td>0.372055</td>
      <td>-1</td>
      <td>14</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-10-02 14:00:00</td>
      <td>LLDDD</td>
      <td>0.372055</td>
      <td>-2</td>
      <td>20</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>3</td>
      <td>2021-10-16 14:00:00</td>
      <td>WLLDD</td>
      <td>0.390560</td>
      <td>1</td>
      <td>10</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>1</td>
      <td>4</td>
      <td>2021-10-23 14:00:00</td>
      <td>DWLLD</td>
      <td>0.390560</td>
      <td>0</td>
      <td>8</td>
      <td>BUR</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>4</td>
      <td>2021-10-30 14:00:00</td>
      <td>WDWLL</td>
      <td>0.405565</td>
      <td>1</td>
      <td>7</td>
      <td>WAT</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>True</td>
      <td>1</td>
      <td>3</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>0.589208</td>
      <td>1</td>
      <td>8</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>3</td>
      <td>2021-08-23 19:00:00</td>
      <td>LW</td>
      <td>0.000000</td>
      <td>-3</td>
      <td>12</td>
      <td>WHU</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>3</td>
      <td>2021-08-28 14:00:00</td>
      <td>WLW</td>
      <td>0.099907</td>
      <td>1</td>
      <td>10</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>3</td>
      <td>2021-09-11 14:00:00</td>
      <td>LWLW</td>
      <td>0.189781</td>
      <td>-1</td>
      <td>8</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-09-19 13:00:00</td>
      <td>LLWLW</td>
      <td>0.124644</td>
      <td>-1</td>
      <td>17</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-09-25 14:00:00</td>
      <td>DLLWL</td>
      <td>0.106802</td>
      <td>0</td>
      <td>16</td>
      <td>BUR</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-03 13:00:00</td>
      <td>DDLLW</td>
      <td>0.382491</td>
      <td>0</td>
      <td>13</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>4</td>
      <td>2021-10-16 14:00:00</td>
      <td>WDDLL</td>
      <td>0.477106</td>
      <td>2</td>
      <td>6</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>3</td>
      <td>6</td>
      <td>2021-10-24 13:00:00</td>
      <td>WWDDL</td>
      <td>0.503990</td>
      <td>1</td>
      <td>4</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>3</td>
      <td>2021-10-30 11:30:00</td>
      <td>LWWDD</td>
      <td>0.387839</td>
      <td>-2</td>
      <td>11</td>
      <td>ARS</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>False</td>
      <td>-4</td>
      <td>0</td>
      <td>2021-08-14 11:30:00</td>
      <td>L</td>
      <td>0.000000</td>
      <td>-4</td>
      <td>20</td>
      <td>MUN</td>
      <td>False</td>
      <td>True</td>
      <td>-4</td>
      <td>1</td>
      <td>2021-08-21 14:00:00</td>
      <td>DL</td>
      <td>0.000000</td>
      <td>0</td>
      <td>15</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-08-29 13:00:00</td>
      <td>DDL</td>
      <td>0.000000</td>
      <td>0</td>
      <td>14</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-09-12 15:30:00</td>
      <td>LDDL</td>
      <td>0.044331</td>
      <td>-3</td>
      <td>17</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-09-17 19:00:00</td>
      <td>DLDDL</td>
      <td>0.135465</td>
      <td>0</td>
      <td>15</td>
      <td>NEW</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-09-25 14:00:00</td>
      <td>LDLDD</td>
      <td>0.401902</td>
      <td>-1</td>
      <td>15</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>3</td>
      <td>2021-10-02 14:00:00</td>
      <td>WLDLD</td>
      <td>0.416907</td>
      <td>1</td>
      <td>9</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>3</td>
      <td>2021-10-16 14:00:00</td>
      <td>LWLDL</td>
      <td>0.283449</td>
      <td>-1</td>
      <td>9</td>
      <td>SOU</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-10-23 14:00:00</td>
      <td>DLWLD</td>
      <td>0.289651</td>
      <td>0</td>
      <td>12</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>4</td>
      <td>2021-10-31 14:00:00</td>
      <td>WDLWL</td>
      <td>0.307442</td>
      <td>1</td>
      <td>8</td>
      <td>NOR</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>True</td>
      <td>1</td>
      <td>3</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>0.585880</td>
      <td>1</td>
      <td>7</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>-1</td>
      <td>3</td>
      <td>2021-08-21 16:30:00</td>
      <td>LW</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>11</td>
      <td>BHA</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-08-29 13:00:00</td>
      <td>LLW</td>
      <td>0.000000</td>
      <td>-1</td>
      <td>18</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-09-11 14:00:00</td>
      <td>LLLW</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>20</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>3</td>
      <td>2021-09-18 14:00:00</td>
      <td>WLLLW</td>
      <td>0.000000</td>
      <td>2</td>
      <td>11</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>4</td>
      <td>2021-09-25 14:00:00</td>
      <td>DWLLL</td>
      <td>0.000000</td>
      <td>0</td>
      <td>5</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-10-02 14:00:00</td>
      <td>LDWLL</td>
      <td>0.025822</td>
      <td>-1</td>
      <td>16</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>-6</td>
      <td>0</td>
      <td>2021-10-16 11:30:00</td>
      <td>LLDWL</td>
      <td>0.142075</td>
      <td>-5</td>
      <td>20</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>3</td>
      <td>2021-10-23 14:00:00</td>
      <td>WLLDW</td>
      <td>0.453210</td>
      <td>3</td>
      <td>10</td>
      <td>EVE</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>3</td>
      <td>2021-10-30 14:00:00</td>
      <td>LWLLD</td>
      <td>0.284171</td>
      <td>-1</td>
      <td>9</td>
      <td>SOU</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>True</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-08-15 13:00:00</td>
      <td>L</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>17</td>
      <td>WHU</td>
      <td>False</td>
      <td>False</td>
      <td>-4</td>
      <td>0</td>
      <td>2021-08-21 14:00:00</td>
      <td>LL</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>19</td>
      <td>AVL</td>
      <td>False</td>
      <td>True</td>
      <td>-2</td>
      <td>1</td>
      <td>2021-08-28 14:00:00</td>
      <td>DLL</td>
      <td>0.000000</td>
      <td>0</td>
      <td>16</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-09-11 14:00:00</td>
      <td>LDLL</td>
      <td>0.000000</td>
      <td>-3</td>
      <td>18</td>
      <td>MUN</td>
      <td>False</td>
      <td>True</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-09-17 19:00:00</td>
      <td>DLDLL</td>
      <td>0.000000</td>
      <td>0</td>
      <td>16</td>
      <td>LEE</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-09-25 14:00:00</td>
      <td>DDLDL</td>
      <td>0.000000</td>
      <td>0</td>
      <td>13</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-10-02 14:00:00</td>
      <td>LDDLD</td>
      <td>0.103305</td>
      <td>-1</td>
      <td>18</td>
      <td>WOL</td>
      <td>False</td>
      <td>True</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-10-17 15:30:00</td>
      <td>LLDDL</td>
      <td>0.000000</td>
      <td>-1</td>
      <td>19</td>
      <td>TOT</td>
      <td>False</td>
      <td>False</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-10-23 14:00:00</td>
      <td>DLLDD</td>
      <td>0.245466</td>
      <td>0</td>
      <td>13</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-10-30 14:00:00</td>
      <td>LDLLD</td>
      <td>0.245466</td>
      <td>-3</td>
      <td>14</td>
      <td>CHE</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>True</td>
      <td>4</td>
      <td>3</td>
      <td>2021-08-14 11:30:00</td>
      <td>W</td>
      <td>0.870102</td>
      <td>4</td>
      <td>1</td>
      <td>LEE</td>
      <td>False</td>
      <td>False</td>
      <td>4</td>
      <td>4</td>
      <td>2021-08-22 13:00:00</td>
      <td>DW</td>
      <td>0.685051</td>
      <td>0</td>
      <td>6</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>4</td>
      <td>2021-08-29 15:30:00</td>
      <td>WDW</td>
      <td>0.653103</td>
      <td>1</td>
      <td>8</td>
      <td>WOL</td>
      <td>False</td>
      <td>True</td>
      <td>4</td>
      <td>6</td>
      <td>2021-09-11 14:00:00</td>
      <td>WWDW</td>
      <td>0.663067</td>
      <td>3</td>
      <td>3</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>4</td>
      <td>6</td>
      <td>2021-09-19 13:00:00</td>
      <td>WWWDW</td>
      <td>0.684344</td>
      <td>1</td>
      <td>3</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>3</td>
      <td>2021-09-25 11:30:00</td>
      <td>LWWWD</td>
      <td>0.481713</td>
      <td>-1</td>
      <td>9</td>
      <td>AVL</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-10-02 11:30:00</td>
      <td>DLWWW</td>
      <td>0.481713</td>
      <td>0</td>
      <td>17</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>1</td>
      <td>2021-10-16 14:00:00</td>
      <td>LDLWW</td>
      <td>0.231077</td>
      <td>-2</td>
      <td>17</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>-7</td>
      <td>0</td>
      <td>2021-10-24 15:30:00</td>
      <td>LLDLW</td>
      <td>0.182151</td>
      <td>-5</td>
      <td>20</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>3</td>
      <td>2021-10-30 16:30:00</td>
      <td>WLLDL</td>
      <td>0.185853</td>
      <td>3</td>
      <td>12</td>
      <td>TOT</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>True</td>
      <td>2</td>
      <td>3</td>
      <td>2021-08-13 19:00:00</td>
      <td>W</td>
      <td>0.741204</td>
      <td>2</td>
      <td>4</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>4</td>
      <td>2021-08-21 14:00:00</td>
      <td>DW</td>
      <td>0.620602</td>
      <td>0</td>
      <td>7</td>
      <td>CRY</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>2</td>
      <td>2021-08-28 14:00:00</td>
      <td>DDW</td>
      <td>0.580401</td>
      <td>0</td>
      <td>11</td>
      <td>AVL</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-09-11 14:00:00</td>
      <td>LDDW</td>
      <td>0.401325</td>
      <td>-1</td>
      <td>14</td>
      <td>BHA</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>3</td>
      <td>2021-09-18 11:30:00</td>
      <td>WLDDW</td>
      <td>0.456743</td>
      <td>2</td>
      <td>7</td>
      <td>WOL</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>4</td>
      <td>2021-09-25 16:30:00</td>
      <td>DWLDD</td>
      <td>0.408503</td>
      <td>0</td>
      <td>4</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>1</td>
      <td>4</td>
      <td>2021-10-03 13:00:00</td>
      <td>WDWLD</td>
      <td>0.462393</td>
      <td>1</td>
      <td>4</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>3</td>
      <td>2021-10-16 16:30:00</td>
      <td>LWDWL</td>
      <td>0.462393</td>
      <td>-1</td>
      <td>7</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-10-24 13:00:00</td>
      <td>LLWDW</td>
      <td>0.473177</td>
      <td>-1</td>
      <td>17</td>
      <td>LEI</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-10-30 14:00:00</td>
      <td>LLLWD</td>
      <td>0.175005</td>
      <td>-2</td>
      <td>16</td>
      <td>BUR</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>True</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-08-14 16:30:00</td>
      <td>L</td>
      <td>0.468993</td>
      <td>-3</td>
      <td>19</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>-8</td>
      <td>0</td>
      <td>2021-08-21 14:00:00</td>
      <td>LL</td>
      <td>0.383003</td>
      <td>-5</td>
      <td>20</td>
      <td>MCI</td>
      <td>False</td>
      <td>True</td>
      <td>-6</td>
      <td>0</td>
      <td>2021-08-28 14:00:00</td>
      <td>LLL</td>
      <td>0.228007</td>
      <td>-1</td>
      <td>19</td>
      <td>LEI</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-09-11 14:00:00</td>
      <td>LLLL</td>
      <td>0.143923</td>
      <td>-1</td>
      <td>19</td>
      <td>ARS</td>
      <td>False</td>
      <td>True</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-09-18 14:00:00</td>
      <td>LLLLL</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>19</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>-4</td>
      <td>0</td>
      <td>2021-09-25 14:00:00</td>
      <td>LLLLL</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>19</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>1</td>
      <td>2021-10-02 14:00:00</td>
      <td>DLLLL</td>
      <td>0.000000</td>
      <td>0</td>
      <td>19</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>2</td>
      <td>2021-10-16 14:00:00</td>
      <td>DDLLL</td>
      <td>0.000000</td>
      <td>0</td>
      <td>14</td>
      <td>BHA</td>
      <td>False</td>
      <td>False</td>
      <td>-7</td>
      <td>1</td>
      <td>2021-10-23 11:30:00</td>
      <td>LDDLL</td>
      <td>0.000000</td>
      <td>-7</td>
      <td>16</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>-8</td>
      <td>0</td>
      <td>2021-10-31 14:00:00</td>
      <td>LLDDL</td>
      <td>0.117976</td>
      <td>-1</td>
      <td>20</td>
      <td>LEE</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>True</td>
      <td>2</td>
      <td>3</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>0.623289</td>
      <td>2</td>
      <td>5</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>4</td>
      <td>2021-08-21 14:00:00</td>
      <td>DW</td>
      <td>0.561644</td>
      <td>0</td>
      <td>8</td>
      <td>LEE</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>4</td>
      <td>2021-08-28 14:00:00</td>
      <td>WDW</td>
      <td>0.603115</td>
      <td>2</td>
      <td>6</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>4</td>
      <td>6</td>
      <td>2021-09-13 19:00:00</td>
      <td>WWDW</td>
      <td>0.613692</td>
      <td>2</td>
      <td>2</td>
      <td>BUR</td>
      <td>False</td>
      <td>False</td>
      <td>-1</td>
      <td>3</td>
      <td>2021-09-18 16:30:00</td>
      <td>LWWDW</td>
      <td>0.205122</td>
      <td>-3</td>
      <td>12</td>
      <td>AVL</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>3</td>
      <td>2021-09-25 14:00:00</td>
      <td>WLWWD</td>
      <td>0.216046</td>
      <td>2</td>
      <td>12</td>
      <td>NOR</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>4</td>
      <td>2021-10-02 11:30:00</td>
      <td>DWLWW</td>
      <td>0.216046</td>
      <td>0</td>
      <td>3</td>
      <td>MUN</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>1</td>
      <td>2021-10-17 13:00:00</td>
      <td>LDWLW</td>
      <td>0.086938</td>
      <td>-1</td>
      <td>15</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>-4</td>
      <td>0</td>
      <td>2021-10-23 14:00:00</td>
      <td>LLDWL</td>
      <td>0.000000</td>
      <td>-3</td>
      <td>19</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-11-01 20:00:00</td>
      <td>LLDW</td>
      <td>0.009568</td>
      <td>0</td>
      <td>17</td>
      <td>WOL</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>True</td>
      <td>1</td>
      <td>3</td>
      <td>2021-08-15 15:30:00</td>
      <td>W</td>
      <td>1.000000</td>
      <td>1</td>
      <td>10</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>6</td>
      <td>2021-08-22 13:00:00</td>
      <td>WW</td>
      <td>0.888772</td>
      <td>1</td>
      <td>5</td>
      <td>WOL</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>6</td>
      <td>2021-08-29 13:00:00</td>
      <td>WWW</td>
      <td>0.784189</td>
      <td>1</td>
      <td>2</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>-2</td>
      <td>3</td>
      <td>2021-09-11 11:30:00</td>
      <td>LWWW</td>
      <td>0.212721</td>
      <td>-3</td>
      <td>10</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>-6</td>
      <td>0</td>
      <td>2021-09-19 15:30:00</td>
      <td>LLWWW</td>
      <td>0.270177</td>
      <td>-3</td>
      <td>20</td>
      <td>CHE</td>
      <td>False</td>
      <td>False</td>
      <td>-5</td>
      <td>0</td>
      <td>2021-09-26 15:30:00</td>
      <td>LLLWW</td>
      <td>0.000000</td>
      <td>-2</td>
      <td>20</td>
      <td>ARS</td>
      <td>False</td>
      <td>True</td>
      <td>-1</td>
      <td>3</td>
      <td>2021-10-03 13:00:00</td>
      <td>WLLLW</td>
      <td>0.000000</td>
      <td>1</td>
      <td>10</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>2</td>
      <td>6</td>
      <td>2021-10-17 15:30:00</td>
      <td>WWLLL</td>
      <td>0.000000</td>
      <td>1</td>
      <td>3</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>3</td>
      <td>2021-10-24 13:00:00</td>
      <td>LWWLL</td>
      <td>0.194811</td>
      <td>-1</td>
      <td>9</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>-4</td>
      <td>0</td>
      <td>2021-10-30 16:30:00</td>
      <td>LLWWL</td>
      <td>0.000000</td>
      <td>-3</td>
      <td>18</td>
      <td>MUN</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>False</td>
      <td>-1</td>
      <td>0</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>0.000000</td>
      <td>-1</td>
      <td>11</td>
      <td>WAT</td>
      <td>False</td>
      <td>True</td>
      <td>1</td>
      <td>3</td>
      <td>2021-08-21 14:00:00</td>
      <td>WL</td>
      <td>0.237364</td>
      <td>2</td>
      <td>10</td>
      <td>NEW</td>
      <td>False</td>
      <td>True</td>
      <td>2</td>
      <td>4</td>
      <td>2021-08-28 14:00:00</td>
      <td>DWL</td>
      <td>0.324909</td>
      <td>0</td>
      <td>7</td>
      <td>BRE</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>1</td>
      <td>2021-09-11 16:30:00</td>
      <td>LDWL</td>
      <td>0.368682</td>
      <td>-3</td>
      <td>16</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>0</td>
      <td>3</td>
      <td>2021-09-18 16:30:00</td>
      <td>WLDWL</td>
      <td>0.450191</td>
      <td>3</td>
      <td>10</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>4</td>
      <td>6</td>
      <td>2021-09-25 11:30:00</td>
      <td>WWLDW</td>
      <td>0.637176</td>
      <td>1</td>
      <td>1</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>0</td>
      <td>3</td>
      <td>2021-10-03 13:00:00</td>
      <td>LWWLD</td>
      <td>0.484860</td>
      <td>-1</td>
      <td>7</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>-2</td>
      <td>0</td>
      <td>2021-10-16 14:00:00</td>
      <td>LLWWL</td>
      <td>0.356915</td>
      <td>-1</td>
      <td>18</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>-3</td>
      <td>0</td>
      <td>2021-10-22 19:00:00</td>
      <td>LLLWW</td>
      <td>0.113583</td>
      <td>-2</td>
      <td>18</td>
      <td>ARS</td>
      <td>False</td>
      <td>True</td>
      <td>-5</td>
      <td>0</td>
      <td>2021-10-31 16:30:00</td>
      <td>LLLLW</td>
      <td>0.000000</td>
      <td>-3</td>
      <td>19</td>
      <td>WHU</td>
      <td>False</td>
    </tr>
  </tbody>
</table>