<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Matchday</th>
      <th colspan="8" halign="left">1</th>
      <th colspan="8" halign="left">2</th>
      <th colspan="8" halign="left">3</th>
      <th colspan="8" halign="left">4</th>
      <th colspan="8" halign="left">5</th>
      <th colspan="8" halign="left">6</th>
      <th colspan="8" halign="left">7</th>
      <th colspan="8" halign="left">8</th>
      <th colspan="8" halign="left">9</th>
    </tr>
    <tr>
      <th></th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>AtHome</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>AtHome</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>AtHome</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>AtHome</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>AtHome</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>AtHome</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>AtHome</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>AtHome</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>AtHome</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Brentford FC</th>
      <td>2021-08-13 19:00:00</td>
      <td>[ARS]</td>
      <td>[2 - 0]</td>
      <td>[True]</td>
      <td>W</td>
      <td>[2]</td>
      <td>0.694133</td>
      <td>[False]</td>
      <td>2021-08-21 14:00:00</td>
      <td>[ARS, CRY]</td>
      <td>[2 - 0, 0 - 0]</td>
      <td>[True, False]</td>
      <td>WD</td>
      <td>[2, 0]</td>
      <td>0.597066</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[ARS, CRY, AVL]</td>
      <td>[2 - 0, 0 - 0, 1 - 1]</td>
      <td>[True, False, False]</td>
      <td>WDD</td>
      <td>[2, 0, 0]</td>
      <td>0.564711</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[ARS, CRY, AVL, BHA]</td>
      <td>[2 - 0, 0 - 0, 1 - 1, 0 - 1]</td>
      <td>[True, False, False, True]</td>
      <td>WDDL</td>
      <td>[2, 0, 0, -1]</td>
      <td>0.365515</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 11:30:00</td>
      <td>[ARS, CRY, AVL, BHA, WOL]</td>
      <td>[2 - 0, 0 - 0, 1 - 1, 0 - 1, 0 - 2]</td>
      <td>[True, False, False, True, False]</td>
      <td>WDDLW</td>
      <td>[2, 0, 0, -1, 2]</td>
      <td>0.425882</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 16:30:00</td>
      <td>[CRY, AVL, BHA, WOL, LIV]</td>
      <td>[0 - 0, 1 - 1, 0 - 1, 0 - 2, 3 - 3]</td>
      <td>[False, False, True, False, True]</td>
      <td>DDLWD</td>
      <td>[0, 0, -1, 2, 0]</td>
      <td>0.387056</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03 13:00:00</td>
      <td>[AVL, BHA, WOL, LIV, WHU]</td>
      <td>[1 - 1, 0 - 1, 0 - 2, 3 - 3, 1 - 2]</td>
      <td>[False, True, False, True, False]</td>
      <td>DLWDW</td>
      <td>[0, -1, 2, 0, 1]</td>
      <td>0.432194</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 16:30:00</td>
      <td>[BHA, WOL, LIV, WHU, CHE]</td>
      <td>[0 - 1, 0 - 2, 3 - 3, 1 - 2, 0 - 1]</td>
      <td>[True, False, True, False, True]</td>
      <td>LWDWL</td>
      <td>[-1, 2, 0, 1, -1]</td>
      <td>0.413541</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-24 13:00:00</td>
      <td>[WOL, LIV, WHU, CHE, LEI]</td>
      <td>[0 - 2, 3 - 3, 1 - 2, 0 - 1, 1 - 2]</td>
      <td>[False, True, False, True, True]</td>
      <td>WDWLL</td>
      <td>[2, 0, 1, -1, -1]</td>
      <td>0.428307</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>2021-08-13 19:00:00</td>
      <td>[BRE]</td>
      <td>[2 - 0]</td>
      <td>[False]</td>
      <td>L</td>
      <td>[-2]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-22 15:30:00</td>
      <td>[BRE, CHE]</td>
      <td>[2 - 0, 0 - 2]</td>
      <td>[False, True]</td>
      <td>LL</td>
      <td>[-2, -2]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-28 11:30:00</td>
      <td>[BRE, CHE, MCI]</td>
      <td>[2 - 0, 0 - 2, 5 - 0]</td>
      <td>[False, True, False]</td>
      <td>LLL</td>
      <td>[-2, -2, -5]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[BRE, CHE, MCI, NOR]</td>
      <td>[2 - 0, 0 - 2, 5 - 0, 1 - 0]</td>
      <td>[False, True, False, True]</td>
      <td>LLLW</td>
      <td>[-2, -2, -5, 1]</td>
      <td>0.087639</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 14:00:00</td>
      <td>[BRE, CHE, MCI, NOR, BUR]</td>
      <td>[2 - 0, 0 - 2, 5 - 0, 1 - 0, 0 - 1]</td>
      <td>[False, True, False, True, False]</td>
      <td>LLLWW</td>
      <td>[-2, -2, -5, 1, 1]</td>
      <td>0.183155</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-26 15:30:00</td>
      <td>[CHE, MCI, NOR, BUR, TOT]</td>
      <td>[0 - 2, 5 - 0, 1 - 0, 0 - 1, 3 - 1]</td>
      <td>[True, False, True, False, True]</td>
      <td>LLWWW</td>
      <td>[-2, -5, 1, 1, 2]</td>
      <td>0.512680</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 16:30:00</td>
      <td>[MCI, NOR, BUR, TOT, BHA]</td>
      <td>[5 - 0, 1 - 0, 0 - 1, 3 - 1, 0 - 0]</td>
      <td>[False, True, False, True, False]</td>
      <td>LWWWD</td>
      <td>[-5, 1, 1, 2, 0]</td>
      <td>0.549986</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-18 19:00:00</td>
      <td>[NOR, BUR, TOT, BHA, CRY]</td>
      <td>[1 - 0, 0 - 1, 3 - 1, 0 - 0, 2 - 2]</td>
      <td>[True, False, True, False, True]</td>
      <td>WWWDD</td>
      <td>[1, 1, 2, 0, 0]</td>
      <td>0.567740</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-22 19:00:00</td>
      <td>[BUR, TOT, BHA, CRY, AVL]</td>
      <td>[0 - 1, 3 - 1, 0 - 0, 2 - 2, 3 - 1]</td>
      <td>[False, True, False, True, True]</td>
      <td>WWDDW</td>
      <td>[1, 2, 0, 0, 2]</td>
      <td>0.584116</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>2021-08-14 11:30:00</td>
      <td>[LEE]</td>
      <td>[5 - 1]</td>
      <td>[True]</td>
      <td>W</td>
      <td>[4]</td>
      <td>0.837767</td>
      <td>[False]</td>
      <td>2021-08-22 13:00:00</td>
      <td>[LEE, SOU]</td>
      <td>[5 - 1, 1 - 1]</td>
      <td>[True, False]</td>
      <td>WD</td>
      <td>[4, 0]</td>
      <td>0.668884</td>
      <td>[False, False]</td>
      <td>2021-08-29 15:30:00</td>
      <td>[LEE, SOU, WOL]</td>
      <td>[5 - 1, 1 - 1, 0 - 1]</td>
      <td>[True, False, False]</td>
      <td>WDW</td>
      <td>[4, 0, 1]</td>
      <td>0.640481</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[LEE, SOU, WOL, NEW]</td>
      <td>[5 - 1, 1 - 1, 0 - 1, 4 - 1]</td>
      <td>[True, False, False, True]</td>
      <td>WDWW</td>
      <td>[4, 0, 1, 3]</td>
      <td>0.648023</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19 13:00:00</td>
      <td>[LEE, SOU, WOL, NEW, WHU]</td>
      <td>[5 - 1, 1 - 1, 0 - 1, 4 - 1, 1 - 2]</td>
      <td>[True, False, False, True, False]</td>
      <td>WDWWW</td>
      <td>[4, 0, 1, 3, 1]</td>
      <td>0.663557</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 11:30:00</td>
      <td>[SOU, WOL, NEW, WHU, AVL]</td>
      <td>[1 - 1, 0 - 1, 4 - 1, 1 - 2, 0 - 1]</td>
      <td>[False, False, True, False, True]</td>
      <td>DWWWL</td>
      <td>[0, 1, 3, 1, -1]</td>
      <td>0.447902</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 11:30:00</td>
      <td>[WOL, NEW, WHU, AVL, EVE]</td>
      <td>[0 - 1, 4 - 1, 1 - 2, 0 - 1, 1 - 1]</td>
      <td>[False, True, False, True, True]</td>
      <td>WWWLD</td>
      <td>[1, 3, 1, -1, 0]</td>
      <td>0.447902</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[NEW, WHU, AVL, EVE, LEI]</td>
      <td>[4 - 1, 1 - 2, 0 - 1, 1 - 1, 4 - 2]</td>
      <td>[True, False, True, True, False]</td>
      <td>WWLDL</td>
      <td>[3, 1, -1, 0, -2]</td>
      <td>0.167870</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-24 15:30:00</td>
      <td>[WHU, AVL, EVE, LEI, LIV]</td>
      <td>[1 - 2, 0 - 1, 1 - 1, 4 - 2, 0 - 5]</td>
      <td>[False, True, True, False, True]</td>
      <td>WLDLL</td>
      <td>[1, -1, 0, -2, -5]</td>
      <td>0.133740</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>2021-08-14 11:30:00</td>
      <td>[MUN]</td>
      <td>[5 - 1]</td>
      <td>[False]</td>
      <td>L</td>
      <td>[-4]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21 14:00:00</td>
      <td>[MUN, EVE]</td>
      <td>[5 - 1, 2 - 2]</td>
      <td>[False, True]</td>
      <td>LD</td>
      <td>[-4, 0]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-29 13:00:00</td>
      <td>[MUN, EVE, BUR]</td>
      <td>[5 - 1, 2 - 2, 1 - 1]</td>
      <td>[False, True, False]</td>
      <td>LDD</td>
      <td>[-4, 0, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-12 15:30:00</td>
      <td>[MUN, EVE, BUR, LIV]</td>
      <td>[5 - 1, 2 - 2, 1 - 1, 0 - 3]</td>
      <td>[False, True, False, True]</td>
      <td>LDDL</td>
      <td>[-4, 0, 0, -3]</td>
      <td>0.000000</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-17 19:00:00</td>
      <td>[MUN, EVE, BUR, LIV, NEW]</td>
      <td>[5 - 1, 2 - 2, 1 - 1, 0 - 3, 1 - 1]</td>
      <td>[False, True, False, True, False]</td>
      <td>LDDLD</td>
      <td>[-4, 0, 0, -3, 0]</td>
      <td>0.029602</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 14:00:00</td>
      <td>[EVE, BUR, LIV, NEW, WHU]</td>
      <td>[2 - 2, 1 - 1, 0 - 3, 1 - 1, 1 - 2]</td>
      <td>[True, False, True, False, True]</td>
      <td>DDLDL</td>
      <td>[0, 0, -3, 0, -1]</td>
      <td>0.380699</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 14:00:00</td>
      <td>[BUR, LIV, NEW, WHU, WAT]</td>
      <td>[1 - 1, 0 - 3, 1 - 1, 1 - 2, 1 - 0]</td>
      <td>[False, True, False, True, True]</td>
      <td>DLDLW</td>
      <td>[0, -3, 0, -1, 1]</td>
      <td>0.392623</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[LIV, NEW, WHU, WAT, SOU]</td>
      <td>[0 - 3, 1 - 1, 1 - 2, 1 - 0, 1 - 0]</td>
      <td>[True, False, True, True, False]</td>
      <td>LDLWL</td>
      <td>[-3, 0, -1, 1, -1]</td>
      <td>0.239310</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 14:00:00</td>
      <td>[NEW, WHU, WAT, SOU, WOL]</td>
      <td>[1 - 1, 1 - 2, 1 - 0, 1 - 0, 1 - 1]</td>
      <td>[False, True, True, False, True]</td>
      <td>DLWLD</td>
      <td>[0, -1, 1, -1, 0]</td>
      <td>0.239310</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[AVL]</td>
      <td>[3 - 2]</td>
      <td>[True]</td>
      <td>W</td>
      <td>[1]</td>
      <td>0.581692</td>
      <td>[False]</td>
      <td>2021-08-21 16:30:00</td>
      <td>[AVL, BHA]</td>
      <td>[3 - 2, 2 - 0]</td>
      <td>[True, False]</td>
      <td>WL</td>
      <td>[1, -2]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-29 13:00:00</td>
      <td>[AVL, BHA, TOT]</td>
      <td>[3 - 2, 2 - 0, 1 - 0]</td>
      <td>[True, False, False]</td>
      <td>WLL</td>
      <td>[1, -2, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[AVL, BHA, TOT, WOL]</td>
      <td>[3 - 2, 2 - 0, 1 - 0, 0 - 2]</td>
      <td>[True, False, False, True]</td>
      <td>WLLL</td>
      <td>[1, -2, -1, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 14:00:00</td>
      <td>[AVL, BHA, TOT, WOL, NOR]</td>
      <td>[3 - 2, 2 - 0, 1 - 0, 0 - 2, 1 - 3]</td>
      <td>[True, False, False, True, False]</td>
      <td>WLLLW</td>
      <td>[1, -2, -1, -2, 2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 14:00:00</td>
      <td>[BHA, TOT, WOL, NOR, NEW]</td>
      <td>[2 - 0, 1 - 0, 0 - 2, 1 - 3, 1 - 1]</td>
      <td>[False, False, True, False, True]</td>
      <td>LLLWD</td>
      <td>[-2, -1, -2, 2, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 14:00:00</td>
      <td>[TOT, WOL, NOR, NEW, LEE]</td>
      <td>[1 - 0, 0 - 2, 1 - 3, 1 - 1, 1 - 0]</td>
      <td>[False, True, False, True, False]</td>
      <td>LLWDL</td>
      <td>[-1, -2, 2, 0, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 11:30:00</td>
      <td>[WOL, NOR, NEW, LEE, LIV]</td>
      <td>[0 - 2, 1 - 3, 1 - 1, 1 - 0, 0 - 5]</td>
      <td>[True, False, True, False, True]</td>
      <td>LWDLL</td>
      <td>[-2, 2, 0, -1, -5]</td>
      <td>0.089641</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 14:00:00</td>
      <td>[NOR, NEW, LEE, LIV, EVE]</td>
      <td>[1 - 3, 1 - 1, 1 - 0, 0 - 5, 2 - 5]</td>
      <td>[False, True, False, True, False]</td>
      <td>WDLLW</td>
      <td>[2, 0, -1, -5, 3]</td>
      <td>0.437902</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[WAT]</td>
      <td>[3 - 2]</td>
      <td>[False]</td>
      <td>L</td>
      <td>[-1]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21 14:00:00</td>
      <td>[WAT, NEW]</td>
      <td>[3 - 2, 2 - 0]</td>
      <td>[False, True]</td>
      <td>LW</td>
      <td>[-1, 2]</td>
      <td>0.175595</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[WAT, NEW, BRE]</td>
      <td>[3 - 2, 2 - 0, 1 - 1]</td>
      <td>[False, True, True]</td>
      <td>LWD</td>
      <td>[-1, 2, 0]</td>
      <td>0.283730</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 16:30:00</td>
      <td>[WAT, NEW, BRE, CHE]</td>
      <td>[3 - 2, 2 - 0, 1 - 1, 3 - 0]</td>
      <td>[False, True, True, False]</td>
      <td>LWDL</td>
      <td>[-1, 2, 0, -3]</td>
      <td>0.267849</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 16:30:00</td>
      <td>[WAT, NEW, BRE, CHE, EVE]</td>
      <td>[3 - 2, 2 - 0, 1 - 1, 3 - 0, 3 - 0]</td>
      <td>[False, True, True, False, True]</td>
      <td>LWDLW</td>
      <td>[-1, 2, 0, -3, 3]</td>
      <td>0.367131</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 11:30:00</td>
      <td>[NEW, BRE, CHE, EVE, MUN]</td>
      <td>[2 - 0, 1 - 1, 3 - 0, 3 - 0, 0 - 1]</td>
      <td>[True, True, False, True, False]</td>
      <td>WDLWW</td>
      <td>[2, 0, -3, 3, 1]</td>
      <td>0.566487</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03 13:00:00</td>
      <td>[BRE, CHE, EVE, MUN, TOT]</td>
      <td>[1 - 1, 3 - 0, 3 - 0, 0 - 1, 2 - 1]</td>
      <td>[True, False, True, False, False]</td>
      <td>DLWWL</td>
      <td>[0, -3, 3, 1, -1]</td>
      <td>0.398492</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[CHE, EVE, MUN, TOT, WOL]</td>
      <td>[3 - 0, 3 - 0, 0 - 1, 2 - 1, 2 - 3]</td>
      <td>[False, True, False, False, True]</td>
      <td>LWWLL</td>
      <td>[-3, 3, 1, -1, -1]</td>
      <td>0.250787</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-22 19:00:00</td>
      <td>[EVE, MUN, TOT, WOL, ARS]</td>
      <td>[3 - 0, 0 - 1, 2 - 1, 2 - 3, 3 - 1]</td>
      <td>[True, False, False, True, False]</td>
      <td>WWLLL</td>
      <td>[3, 1, -1, -1, -2]</td>
      <td>0.016694</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[WOL]</td>
      <td>[1 - 0]</td>
      <td>[True]</td>
      <td>W</td>
      <td>[1]</td>
      <td>0.583675</td>
      <td>[False]</td>
      <td>2021-08-23 19:00:00</td>
      <td>[WOL, WHU]</td>
      <td>[1 - 0, 4 - 1]</td>
      <td>[True, False]</td>
      <td>WL</td>
      <td>[1, -3]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[WOL, WHU, NOR]</td>
      <td>[1 - 0, 4 - 1, 1 - 2]</td>
      <td>[True, False, False]</td>
      <td>WLW</td>
      <td>[1, -3, 1]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[WOL, WHU, NOR, MCI]</td>
      <td>[1 - 0, 4 - 1, 1 - 2, 0 - 1]</td>
      <td>[True, False, False, True]</td>
      <td>WLWL</td>
      <td>[1, -3, 1, -1]</td>
      <td>0.089477</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19 13:00:00</td>
      <td>[WOL, WHU, NOR, MCI, BHA]</td>
      <td>[1 - 0, 4 - 1, 1 - 2, 0 - 1, 2 - 1]</td>
      <td>[True, False, False, True, False]</td>
      <td>WLWLL</td>
      <td>[1, -3, 1, -1, -1]</td>
      <td>0.025168</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 14:00:00</td>
      <td>[WHU, NOR, MCI, BHA, BUR]</td>
      <td>[4 - 1, 1 - 2, 0 - 1, 2 - 1, 2 - 2]</td>
      <td>[False, False, True, False, True]</td>
      <td>LWLLD</td>
      <td>[-3, 1, -1, -1, 0]</td>
      <td>0.008433</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03 13:00:00</td>
      <td>[NOR, MCI, BHA, BUR, CRY]</td>
      <td>[1 - 2, 0 - 1, 2 - 1, 2 - 2, 2 - 2]</td>
      <td>[False, True, False, True, False]</td>
      <td>WLLDD</td>
      <td>[1, -1, -1, 0, 0]</td>
      <td>0.366335</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[MCI, BHA, BUR, CRY, MUN]</td>
      <td>[0 - 1, 2 - 1, 2 - 2, 2 - 2, 4 - 2]</td>
      <td>[True, False, True, False, True]</td>
      <td>LLDDW</td>
      <td>[-1, -1, 0, 0, 2]</td>
      <td>0.443715</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-24 13:00:00</td>
      <td>[BHA, BUR, CRY, MUN, BRE]</td>
      <td>[2 - 1, 2 - 2, 2 - 2, 4 - 2, 1 - 2]</td>
      <td>[False, True, False, True, False]</td>
      <td>LDDWW</td>
      <td>[-1, 0, 0, 2, 1]</td>
      <td>0.466140</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[LEI]</td>
      <td>[1 - 0]</td>
      <td>[False]</td>
      <td>L</td>
      <td>[-1]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-22 13:00:00</td>
      <td>[LEI, TOT]</td>
      <td>[1 - 0, 0 - 1]</td>
      <td>[False, True]</td>
      <td>LL</td>
      <td>[-1, -1]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-29 15:30:00</td>
      <td>[LEI, TOT, MUN]</td>
      <td>[1 - 0, 0 - 1, 0 - 1]</td>
      <td>[False, True, True]</td>
      <td>LLL</td>
      <td>[-1, -1, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[LEI, TOT, MUN, WAT]</td>
      <td>[1 - 0, 0 - 1, 0 - 1, 0 - 2]</td>
      <td>[False, True, True, False]</td>
      <td>LLLW</td>
      <td>[-1, -1, -1, 2]</td>
      <td>0.036698</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 11:30:00</td>
      <td>[LEI, TOT, MUN, WAT, BRE]</td>
      <td>[1 - 0, 0 - 1, 0 - 1, 0 - 2, 0 - 2]</td>
      <td>[False, True, True, False, True]</td>
      <td>LLLWL</td>
      <td>[-1, -1, -1, 2, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-26 13:00:00</td>
      <td>[TOT, MUN, WAT, BRE, SOU]</td>
      <td>[0 - 1, 0 - 1, 0 - 2, 0 - 2, 0 - 1]</td>
      <td>[True, True, False, True, False]</td>
      <td>LLWLW</td>
      <td>[-1, -1, 2, -2, 1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 14:00:00</td>
      <td>[MUN, WAT, BRE, SOU, NEW]</td>
      <td>[0 - 1, 0 - 2, 0 - 2, 0 - 1, 2 - 1]</td>
      <td>[True, False, True, False, True]</td>
      <td>LWLWW</td>
      <td>[-1, 2, -2, 1, 1]</td>
      <td>0.137622</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[WAT, BRE, SOU, NEW, AVL]</td>
      <td>[0 - 2, 0 - 2, 0 - 1, 2 - 1, 2 - 3]</td>
      <td>[False, True, False, True, False]</td>
      <td>WLWWW</td>
      <td>[2, -2, 1, 1, 1]</td>
      <td>0.271560</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 14:00:00</td>
      <td>[BRE, SOU, NEW, AVL, LEE]</td>
      <td>[0 - 2, 0 - 1, 2 - 1, 2 - 3, 1 - 1]</td>
      <td>[True, False, True, False, False]</td>
      <td>LWWWD</td>
      <td>[-2, 1, 1, 1, 0]</td>
      <td>0.247711</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[SOU]</td>
      <td>[3 - 1]</td>
      <td>[True]</td>
      <td>W</td>
      <td>[2]</td>
      <td>0.611263</td>
      <td>[False]</td>
      <td>2021-08-21 14:00:00</td>
      <td>[SOU, LEE]</td>
      <td>[3 - 1, 2 - 2]</td>
      <td>[True, False]</td>
      <td>WD</td>
      <td>[2, 0]</td>
      <td>0.555632</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[SOU, LEE, BHA]</td>
      <td>[3 - 1, 2 - 2, 0 - 2]</td>
      <td>[True, False, False]</td>
      <td>WDW</td>
      <td>[2, 0, 2]</td>
      <td>0.597171</td>
      <td>[False, False, False]</td>
      <td>2021-09-13 19:00:00</td>
      <td>[SOU, LEE, BHA, BUR]</td>
      <td>[3 - 1, 2 - 2, 0 - 2, 3 - 1]</td>
      <td>[True, False, False, True]</td>
      <td>WDWW</td>
      <td>[2, 0, 2, 2]</td>
      <td>0.605488</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 16:30:00</td>
      <td>[SOU, LEE, BHA, BUR, AVL]</td>
      <td>[3 - 1, 2 - 2, 0 - 2, 3 - 1, 3 - 0]</td>
      <td>[True, False, False, True, False]</td>
      <td>WDWWL</td>
      <td>[2, 0, 2, 2, -3]</td>
      <td>0.140088</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 14:00:00</td>
      <td>[LEE, BHA, BUR, AVL, NOR]</td>
      <td>[2 - 2, 0 - 2, 3 - 1, 3 - 0, 2 - 0]</td>
      <td>[False, False, True, False, True]</td>
      <td>DWWLW</td>
      <td>[0, 2, 2, -3, 2]</td>
      <td>0.150436</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 11:30:00</td>
      <td>[BHA, BUR, AVL, NOR, MUN]</td>
      <td>[0 - 2, 3 - 1, 3 - 0, 2 - 0, 1 - 1]</td>
      <td>[False, True, False, True, False]</td>
      <td>WWLWD</td>
      <td>[2, 2, -3, 2, 0]</td>
      <td>0.150436</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-17 13:00:00</td>
      <td>[BUR, AVL, NOR, MUN, WHU]</td>
      <td>[3 - 1, 3 - 0, 2 - 0, 1 - 1, 0 - 1]</td>
      <td>[True, False, True, False, True]</td>
      <td>WLWDL</td>
      <td>[2, -3, 2, 0, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 14:00:00</td>
      <td>[AVL, NOR, MUN, WHU, WAT]</td>
      <td>[3 - 0, 2 - 0, 1 - 1, 0 - 1, 2 - 5]</td>
      <td>[False, True, False, True, True]</td>
      <td>LWDLL</td>
      <td>[-3, 2, 0, -1, -3]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[EVE]</td>
      <td>[3 - 1]</td>
      <td>[False]</td>
      <td>L</td>
      <td>[-2]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-22 13:00:00</td>
      <td>[EVE, MUN]</td>
      <td>[3 - 1, 1 - 1]</td>
      <td>[False, True]</td>
      <td>LD</td>
      <td>[-2, 0]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[EVE, MUN, NEW]</td>
      <td>[3 - 1, 1 - 1, 2 - 2]</td>
      <td>[False, True, False]</td>
      <td>LDD</td>
      <td>[-2, 0, 0]</td>
      <td>0.010593</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[EVE, MUN, NEW, WHU]</td>
      <td>[3 - 1, 1 - 1, 2 - 2, 0 - 0]</td>
      <td>[False, True, False, True]</td>
      <td>LDDD</td>
      <td>[-2, 0, 0, 0]</td>
      <td>0.132945</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 14:00:00</td>
      <td>[EVE, MUN, NEW, WHU, MCI]</td>
      <td>[3 - 1, 1 - 1, 2 - 2, 0 - 0, 0 - 0]</td>
      <td>[False, True, False, True, False]</td>
      <td>LDDDD</td>
      <td>[-2, 0, 0, 0, 0]</td>
      <td>0.206356</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-26 13:00:00</td>
      <td>[MUN, NEW, WHU, MCI, WOL]</td>
      <td>[1 - 1, 2 - 2, 0 - 0, 0 - 0, 0 - 1]</td>
      <td>[True, False, True, False, True]</td>
      <td>DDDDL</td>
      <td>[0, 0, 0, 0, -1]</td>
      <td>0.352296</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 14:00:00</td>
      <td>[NEW, WHU, MCI, WOL, CHE]</td>
      <td>[2 - 2, 0 - 0, 0 - 0, 0 - 1, 3 - 1]</td>
      <td>[False, True, False, True, False]</td>
      <td>DDDLL</td>
      <td>[0, 0, 0, -1, -2]</td>
      <td>0.314990</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[WHU, MCI, WOL, CHE, LEE]</td>
      <td>[0 - 0, 0 - 0, 0 - 1, 3 - 1, 1 - 0]</td>
      <td>[True, False, True, False, True]</td>
      <td>DDLLW</td>
      <td>[0, 0, -1, -2, 1]</td>
      <td>0.331878</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 14:00:00</td>
      <td>[MCI, WOL, CHE, LEE, BUR]</td>
      <td>[0 - 0, 0 - 1, 3 - 1, 1 - 0, 2 - 2]</td>
      <td>[False, True, False, True, True]</td>
      <td>DLLWD</td>
      <td>[0, -1, -2, 1, 0]</td>
      <td>0.331878</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Chelsea FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[CRY]</td>
      <td>[3 - 0]</td>
      <td>[True]</td>
      <td>W</td>
      <td>[3]</td>
      <td>0.648388</td>
      <td>[False]</td>
      <td>2021-08-22 15:30:00</td>
      <td>[CRY, ARS]</td>
      <td>[3 - 0, 0 - 2]</td>
      <td>[True, False]</td>
      <td>WW</td>
      <td>[3, 2]</td>
      <td>0.671261</td>
      <td>[False, False]</td>
      <td>2021-08-28 16:30:00</td>
      <td>[CRY, ARS, LIV]</td>
      <td>[3 - 0, 0 - 2, 1 - 1]</td>
      <td>[True, False, False]</td>
      <td>WWD</td>
      <td>[3, 2, 0]</td>
      <td>0.614174</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 16:30:00</td>
      <td>[CRY, ARS, LIV, AVL]</td>
      <td>[3 - 0, 0 - 2, 1 - 1, 3 - 0]</td>
      <td>[True, False, False, True]</td>
      <td>WWDW</td>
      <td>[3, 2, 0, 3]</td>
      <td>0.646899</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19 15:30:00</td>
      <td>[CRY, ARS, LIV, AVL, TOT]</td>
      <td>[3 - 0, 0 - 2, 1 - 1, 3 - 0, 0 - 3]</td>
      <td>[True, False, False, True, False]</td>
      <td>WWDWW</td>
      <td>[3, 2, 0, 3, 3]</td>
      <td>0.675112</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 11:30:00</td>
      <td>[ARS, LIV, AVL, TOT, MCI]</td>
      <td>[0 - 2, 1 - 1, 3 - 0, 0 - 3, 0 - 1]</td>
      <td>[False, False, True, False, True]</td>
      <td>WDWWL</td>
      <td>[2, 0, 3, 3, -1]</td>
      <td>0.641884</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 14:00:00</td>
      <td>[LIV, AVL, TOT, MCI, SOU]</td>
      <td>[1 - 1, 3 - 0, 0 - 3, 0 - 1, 3 - 1]</td>
      <td>[False, True, False, True, True]</td>
      <td>DWWLW</td>
      <td>[0, 3, 3, -1, 2]</td>
      <td>0.625310</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 16:30:00</td>
      <td>[AVL, TOT, MCI, SOU, BRE]</td>
      <td>[3 - 0, 0 - 3, 0 - 1, 3 - 1, 0 - 1]</td>
      <td>[True, False, True, True, False]</td>
      <td>WWLWW</td>
      <td>[3, 3, -1, 2, 1]</td>
      <td>0.644184</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 11:30:00</td>
      <td>[TOT, MCI, SOU, BRE, NOR]</td>
      <td>[0 - 3, 0 - 1, 3 - 1, 0 - 1, 7 - 0]</td>
      <td>[False, True, True, False, True]</td>
      <td>WLWWW</td>
      <td>[3, -1, 2, 1, 7]</td>
      <td>0.709273</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[CHE]</td>
      <td>[3 - 0]</td>
      <td>[False]</td>
      <td>L</td>
      <td>[-3]</td>
      <td>0.220208</td>
      <td>[False]</td>
      <td>2021-08-21 14:00:00</td>
      <td>[CHE, BRE]</td>
      <td>[3 - 0, 0 - 0]</td>
      <td>[False, True]</td>
      <td>LD</td>
      <td>[-3, 0]</td>
      <td>0.360104</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[CHE, BRE, WHU]</td>
      <td>[3 - 0, 0 - 0, 2 - 2]</td>
      <td>[False, True, False]</td>
      <td>LDD</td>
      <td>[-3, 0, 0]</td>
      <td>0.406736</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 11:30:00</td>
      <td>[CHE, BRE, WHU, TOT]</td>
      <td>[3 - 0, 0 - 0, 2 - 2, 3 - 0]</td>
      <td>[False, True, False, True]</td>
      <td>LDDW</td>
      <td>[-3, 0, 0, 3]</td>
      <td>0.502043</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 14:00:00</td>
      <td>[CHE, BRE, WHU, TOT, LIV]</td>
      <td>[3 - 0, 0 - 0, 2 - 2, 3 - 0, 3 - 0]</td>
      <td>[False, True, False, True, False]</td>
      <td>LDDWL</td>
      <td>[-3, 0, 0, 3, -3]</td>
      <td>0.501635</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-27 19:00:00</td>
      <td>[BRE, WHU, TOT, LIV, BHA]</td>
      <td>[0 - 0, 2 - 2, 3 - 0, 3 - 0, 1 - 1]</td>
      <td>[True, False, True, False, True]</td>
      <td>DDWLD</td>
      <td>[0, 0, 3, -3, 0]</td>
      <td>0.557593</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03 13:00:00</td>
      <td>[WHU, TOT, LIV, BHA, LEI]</td>
      <td>[2 - 2, 3 - 0, 3 - 0, 1 - 1, 2 - 2]</td>
      <td>[False, True, False, True, True]</td>
      <td>DWLDD</td>
      <td>[0, 3, -3, 0, 0]</td>
      <td>0.557593</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-18 19:00:00</td>
      <td>[TOT, LIV, BHA, LEI, ARS]</td>
      <td>[3 - 0, 3 - 0, 1 - 1, 2 - 2, 2 - 2]</td>
      <td>[True, False, True, True, False]</td>
      <td>WLDDD</td>
      <td>[3, -3, 0, 0, 0]</td>
      <td>0.557593</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 14:00:00</td>
      <td>[LIV, BHA, LEI, ARS, NEW]</td>
      <td>[3 - 0, 1 - 1, 2 - 2, 2 - 2, 1 - 1]</td>
      <td>[False, True, True, False, True]</td>
      <td>LDDDD</td>
      <td>[-3, 0, 0, 0, 0]</td>
      <td>0.500000</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[BHA]</td>
      <td>[1 - 2]</td>
      <td>[True]</td>
      <td>L</td>
      <td>[-1]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21 11:30:00</td>
      <td>[BHA, LIV]</td>
      <td>[1 - 2, 2 - 0]</td>
      <td>[True, False]</td>
      <td>LL</td>
      <td>[-1, -2]</td>
      <td>0.133964</td>
      <td>[False, False]</td>
      <td>2021-08-29 13:00:00</td>
      <td>[BHA, LIV, LEE]</td>
      <td>[1 - 2, 2 - 0, 1 - 1]</td>
      <td>[True, False, True]</td>
      <td>LLD</td>
      <td>[-1, -2, 0]</td>
      <td>0.255976</td>
      <td>[False, False, False]</td>
      <td>2021-09-13 19:00:00</td>
      <td>[BHA, LIV, LEE, EVE]</td>
      <td>[1 - 2, 2 - 0, 1 - 1, 3 - 1]</td>
      <td>[True, False, True, False]</td>
      <td>LLDL</td>
      <td>[-1, -2, 0, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 14:00:00</td>
      <td>[BHA, LIV, LEE, EVE, ARS]</td>
      <td>[1 - 2, 2 - 0, 1 - 1, 3 - 1, 0 - 1]</td>
      <td>[True, False, True, False, True]</td>
      <td>LLDLL</td>
      <td>[-1, -2, 0, -2, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 14:00:00</td>
      <td>[LIV, LEE, EVE, ARS, LEI]</td>
      <td>[2 - 0, 1 - 1, 3 - 1, 0 - 1, 2 - 2]</td>
      <td>[False, True, False, True, False]</td>
      <td>LDLLD</td>
      <td>[-2, 0, -2, -1, 0]</td>
      <td>0.061330</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 14:00:00</td>
      <td>[LEE, EVE, ARS, LEI, NOR]</td>
      <td>[1 - 1, 3 - 1, 0 - 1, 2 - 2, 0 - 0]</td>
      <td>[True, False, True, False, True]</td>
      <td>DLLDD</td>
      <td>[0, -2, -1, 0, 0]</td>
      <td>0.061330</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[EVE, ARS, LEI, NOR, MCI]</td>
      <td>[3 - 1, 0 - 1, 2 - 2, 0 - 0, 2 - 0]</td>
      <td>[False, True, False, True, False]</td>
      <td>LLDDL</td>
      <td>[-2, -1, 0, 0, -2]</td>
      <td>0.054228</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 14:00:00</td>
      <td>[ARS, LEI, NOR, MCI, SOU]</td>
      <td>[0 - 1, 2 - 2, 0 - 0, 2 - 0, 2 - 2]</td>
      <td>[True, False, True, False, False]</td>
      <td>LDDLD</td>
      <td>[-1, 0, 0, -2, 0]</td>
      <td>0.347872</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>[BUR]</td>
      <td>[1 - 2]</td>
      <td>[False]</td>
      <td>W</td>
      <td>[1]</td>
      <td>0.565220</td>
      <td>[False]</td>
      <td>2021-08-21 16:30:00</td>
      <td>[BUR, WAT]</td>
      <td>[1 - 2, 2 - 0]</td>
      <td>[False, True]</td>
      <td>WW</td>
      <td>[1, 2]</td>
      <td>0.592230</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[BUR, WAT, EVE]</td>
      <td>[1 - 2, 2 - 0, 0 - 2]</td>
      <td>[False, True, True]</td>
      <td>WWL</td>
      <td>[1, 2, -2]</td>
      <td>0.072080</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[BUR, WAT, EVE, BRE]</td>
      <td>[1 - 2, 2 - 0, 0 - 2, 0 - 1]</td>
      <td>[False, True, True, False]</td>
      <td>WWLW</td>
      <td>[1, 2, -2, 1]</td>
      <td>0.202653</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19 13:00:00</td>
      <td>[BUR, WAT, EVE, BRE, LEI]</td>
      <td>[1 - 2, 2 - 0, 0 - 2, 0 - 1, 2 - 1]</td>
      <td>[False, True, True, False, True]</td>
      <td>WWLWW</td>
      <td>[1, 2, -2, 1, 1]</td>
      <td>0.294913</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-27 19:00:00</td>
      <td>[WAT, EVE, BRE, LEI, CRY]</td>
      <td>[2 - 0, 0 - 2, 0 - 1, 2 - 1, 1 - 1]</td>
      <td>[True, True, False, True, False]</td>
      <td>WLWWD</td>
      <td>[2, -2, 1, 1, 0]</td>
      <td>0.281869</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 16:30:00</td>
      <td>[EVE, BRE, LEI, CRY, ARS]</td>
      <td>[0 - 2, 0 - 1, 2 - 1, 1 - 1, 0 - 0]</td>
      <td>[True, False, True, False, True]</td>
      <td>LWWDD</td>
      <td>[-2, 1, 1, 0, 0]</td>
      <td>0.258021</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[BRE, LEI, CRY, ARS, NOR]</td>
      <td>[0 - 1, 2 - 1, 1 - 1, 0 - 0, 0 - 0]</td>
      <td>[False, True, False, True, False]</td>
      <td>WWDDD</td>
      <td>[1, 1, 0, 0, 0]</td>
      <td>0.551665</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 16:30:00</td>
      <td>[LEI, CRY, ARS, NOR, MCI]</td>
      <td>[2 - 1, 1 - 1, 0 - 0, 0 - 0, 1 - 4]</td>
      <td>[True, False, True, False, True]</td>
      <td>WDDDL</td>
      <td>[1, 0, 0, 0, -3]</td>
      <td>0.522138</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>2021-08-14 16:30:00</td>
      <td>[LIV]</td>
      <td>[0 - 3]</td>
      <td>[True]</td>
      <td>L</td>
      <td>[-3]</td>
      <td>0.500000</td>
      <td>[False]</td>
      <td>2021-08-21 14:00:00</td>
      <td>[LIV, MCI]</td>
      <td>[0 - 3, 5 - 0]</td>
      <td>[True, False]</td>
      <td>LL</td>
      <td>[-3, -5]</td>
      <td>0.455615</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[LIV, MCI, LEI]</td>
      <td>[0 - 3, 5 - 0, 1 - 2]</td>
      <td>[True, False, True]</td>
      <td>LLL</td>
      <td>[-3, -5, -1]</td>
      <td>0.250996</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[LIV, MCI, LEI, ARS]</td>
      <td>[0 - 3, 5 - 0, 1 - 2, 1 - 0]</td>
      <td>[True, False, True, False]</td>
      <td>LLLL</td>
      <td>[-3, -5, -1, -1]</td>
      <td>0.131964</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 14:00:00</td>
      <td>[LIV, MCI, LEI, ARS, WAT]</td>
      <td>[0 - 3, 5 - 0, 1 - 2, 1 - 0, 1 - 3]</td>
      <td>[True, False, True, False, True]</td>
      <td>LLLLL</td>
      <td>[-3, -5, -1, -1, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 14:00:00</td>
      <td>[MCI, LEI, ARS, WAT, EVE]</td>
      <td>[5 - 0, 1 - 2, 1 - 0, 1 - 3, 2 - 0]</td>
      <td>[False, True, False, True, False]</td>
      <td>LLLLL</td>
      <td>[-5, -1, -1, -2, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 14:00:00</td>
      <td>[LEI, ARS, WAT, EVE, BUR]</td>
      <td>[1 - 2, 1 - 0, 1 - 3, 2 - 0, 0 - 0]</td>
      <td>[True, False, True, False, False]</td>
      <td>LLLLD</td>
      <td>[-1, -1, -2, -2, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[ARS, WAT, EVE, BUR, BHA]</td>
      <td>[1 - 0, 1 - 3, 2 - 0, 0 - 0, 0 - 0]</td>
      <td>[False, True, False, False, True]</td>
      <td>LLLDD</td>
      <td>[-1, -2, -2, 0, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 11:30:00</td>
      <td>[WAT, EVE, BUR, BHA, CHE]</td>
      <td>[1 - 3, 2 - 0, 0 - 0, 0 - 0, 7 - 0]</td>
      <td>[True, False, False, True, False]</td>
      <td>LLDDL</td>
      <td>[-2, -2, 0, 0, -7]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>2021-08-14 16:30:00</td>
      <td>[NOR]</td>
      <td>[0 - 3]</td>
      <td>[False]</td>
      <td>W</td>
      <td>[3]</td>
      <td>0.744507</td>
      <td>[False]</td>
      <td>2021-08-21 11:30:00</td>
      <td>[NOR, BUR]</td>
      <td>[0 - 3, 2 - 0]</td>
      <td>[False, True]</td>
      <td>WW</td>
      <td>[3, 2]</td>
      <td>0.687473</td>
      <td>[False, False]</td>
      <td>2021-08-28 16:30:00</td>
      <td>[NOR, BUR, CHE]</td>
      <td>[0 - 3, 2 - 0, 1 - 1]</td>
      <td>[False, True, True]</td>
      <td>WWD</td>
      <td>[3, 2, 0]</td>
      <td>0.624982</td>
      <td>[False, False, False]</td>
      <td>2021-09-12 15:30:00</td>
      <td>[NOR, BUR, CHE, LEE]</td>
      <td>[0 - 3, 2 - 0, 1 - 1, 0 - 3]</td>
      <td>[False, True, True, False]</td>
      <td>WWDW</td>
      <td>[3, 2, 0, 3]</td>
      <td>0.657068</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 14:00:00</td>
      <td>[NOR, BUR, CHE, LEE, CRY]</td>
      <td>[0 - 3, 2 - 0, 1 - 1, 0 - 3, 3 - 0]</td>
      <td>[False, True, True, False, True]</td>
      <td>WWDWW</td>
      <td>[3, 2, 0, 3, 3]</td>
      <td>0.655332</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 16:30:00</td>
      <td>[BUR, CHE, LEE, CRY, BRE]</td>
      <td>[2 - 0, 1 - 1, 0 - 3, 3 - 0, 3 - 3]</td>
      <td>[True, True, False, True, False]</td>
      <td>WDWWD</td>
      <td>[2, 0, 3, 3, 0]</td>
      <td>0.606431</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03 15:30:00</td>
      <td>[CHE, LEE, CRY, BRE, MCI]</td>
      <td>[1 - 1, 0 - 3, 3 - 0, 3 - 3, 2 - 2]</td>
      <td>[True, False, True, False, True]</td>
      <td>DWWDD</td>
      <td>[0, 3, 3, 0, 0]</td>
      <td>0.580343</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 11:30:00</td>
      <td>[LEE, CRY, BRE, MCI, WAT]</td>
      <td>[0 - 3, 3 - 0, 3 - 3, 2 - 2, 0 - 5]</td>
      <td>[False, True, False, True, False]</td>
      <td>WWDDW</td>
      <td>[3, 3, 0, 0, 5]</td>
      <td>0.639963</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-24 15:30:00</td>
      <td>[CRY, BRE, MCI, WAT, MUN]</td>
      <td>[3 - 0, 3 - 3, 2 - 2, 0 - 5, 0 - 5]</td>
      <td>[True, False, True, False, False]</td>
      <td>WDDWW</td>
      <td>[3, 0, 0, 5, 5]</td>
      <td>0.823497</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>2021-08-15 13:00:00</td>
      <td>[WHU]</td>
      <td>[2 - 4]</td>
      <td>[True]</td>
      <td>L</td>
      <td>[-2]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21 14:00:00</td>
      <td>[WHU, AVL]</td>
      <td>[2 - 4, 2 - 0]</td>
      <td>[True, False]</td>
      <td>LL</td>
      <td>[-2, -2]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[WHU, AVL, SOU]</td>
      <td>[2 - 4, 2 - 0, 2 - 2]</td>
      <td>[True, False, True]</td>
      <td>LLD</td>
      <td>[-2, -2, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[WHU, AVL, SOU, MUN]</td>
      <td>[2 - 4, 2 - 0, 2 - 2, 4 - 1]</td>
      <td>[True, False, True, False]</td>
      <td>LLDL</td>
      <td>[-2, -2, 0, -3]</td>
      <td>0.000000</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-17 19:00:00</td>
      <td>[WHU, AVL, SOU, MUN, LEE]</td>
      <td>[2 - 4, 2 - 0, 2 - 2, 4 - 1, 1 - 1]</td>
      <td>[True, False, True, False, True]</td>
      <td>LLDLD</td>
      <td>[-2, -2, 0, -3, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 14:00:00</td>
      <td>[AVL, SOU, MUN, LEE, WAT]</td>
      <td>[2 - 0, 2 - 2, 4 - 1, 1 - 1, 1 - 1]</td>
      <td>[False, True, False, True, False]</td>
      <td>LDLDD</td>
      <td>[-2, 0, -3, 0, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02 14:00:00</td>
      <td>[SOU, MUN, LEE, WAT, WOL]</td>
      <td>[2 - 2, 4 - 1, 1 - 1, 1 - 1, 2 - 1]</td>
      <td>[True, False, True, False, False]</td>
      <td>DLDDL</td>
      <td>[0, -3, 0, 0, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-17 15:30:00</td>
      <td>[MUN, LEE, WAT, WOL, TOT]</td>
      <td>[4 - 1, 1 - 1, 1 - 1, 2 - 1, 2 - 3]</td>
      <td>[False, True, False, False, True]</td>
      <td>LDDLL</td>
      <td>[-3, 0, 0, -1, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 14:00:00</td>
      <td>[LEE, WAT, WOL, TOT, CRY]</td>
      <td>[1 - 1, 1 - 1, 2 - 1, 2 - 3, 1 - 1]</td>
      <td>[True, False, False, True, False]</td>
      <td>DDLLD</td>
      <td>[0, 0, -1, -1, 0]</td>
      <td>0.207054</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>2021-08-15 13:00:00</td>
      <td>[NEW]</td>
      <td>[2 - 4]</td>
      <td>[False]</td>
      <td>W</td>
      <td>[2]</td>
      <td>0.613766</td>
      <td>[False]</td>
      <td>2021-08-23 19:00:00</td>
      <td>[NEW, LEI]</td>
      <td>[2 - 4, 4 - 1]</td>
      <td>[False, True]</td>
      <td>WW</td>
      <td>[2, 3]</td>
      <td>0.802814</td>
      <td>[False, False]</td>
      <td>2021-08-28 14:00:00</td>
      <td>[NEW, LEI, CRY]</td>
      <td>[2 - 4, 4 - 1, 2 - 2]</td>
      <td>[False, True, True]</td>
      <td>WWD</td>
      <td>[2, 3, 0]</td>
      <td>0.701876</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[NEW, LEI, CRY, SOU]</td>
      <td>[2 - 4, 4 - 1, 2 - 2, 0 - 0]</td>
      <td>[False, True, True, False]</td>
      <td>WWDD</td>
      <td>[2, 3, 0, 0]</td>
      <td>0.651407</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19 13:00:00</td>
      <td>[NEW, LEI, CRY, SOU, MUN]</td>
      <td>[2 - 4, 4 - 1, 2 - 2, 0 - 0, 1 - 2]</td>
      <td>[False, True, True, False, True]</td>
      <td>WWDDL</td>
      <td>[2, 3, 0, 0, -1]</td>
      <td>0.503526</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 14:00:00</td>
      <td>[LEI, CRY, SOU, MUN, LEE]</td>
      <td>[4 - 1, 2 - 2, 0 - 0, 1 - 2, 1 - 2]</td>
      <td>[True, True, False, True, False]</td>
      <td>WDDLW</td>
      <td>[3, 0, 0, -1, 1]</td>
      <td>0.497661</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03 13:00:00</td>
      <td>[CRY, SOU, MUN, LEE, BRE]</td>
      <td>[2 - 2, 0 - 0, 1 - 2, 1 - 2, 1 - 2]</td>
      <td>[True, False, True, False, True]</td>
      <td>DDLWL</td>
      <td>[0, 0, -1, 1, -1]</td>
      <td>0.253724</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-17 13:00:00</td>
      <td>[SOU, MUN, LEE, BRE, EVE]</td>
      <td>[0 - 0, 1 - 2, 1 - 2, 1 - 2, 0 - 1]</td>
      <td>[False, True, False, True, False]</td>
      <td>DLWLW</td>
      <td>[0, -1, 1, -1, 1]</td>
      <td>0.271341</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-24 13:00:00</td>
      <td>[MUN, LEE, BRE, EVE, TOT]</td>
      <td>[1 - 2, 1 - 2, 1 - 2, 0 - 1, 1 - 0]</td>
      <td>[True, False, True, False, True]</td>
      <td>LWLWW</td>
      <td>[-1, 1, -1, 1, 1]</td>
      <td>0.290539</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>2021-08-15 15:30:00</td>
      <td>[MCI]</td>
      <td>[1 - 0]</td>
      <td>[True]</td>
      <td>W</td>
      <td>[1]</td>
      <td>1.000000</td>
      <td>[True]</td>
      <td>2021-08-22 13:00:00</td>
      <td>[MCI, WOL]</td>
      <td>[1 - 0, 0 - 1]</td>
      <td>[True, False]</td>
      <td>WW</td>
      <td>[1, 1]</td>
      <td>0.944059</td>
      <td>[True, False]</td>
      <td>2021-08-29 13:00:00</td>
      <td>[MCI, WOL, WAT]</td>
      <td>[1 - 0, 0 - 1, 1 - 0]</td>
      <td>[True, False, True]</td>
      <td>WWW</td>
      <td>[1, 1, 1]</td>
      <td>0.815913</td>
      <td>[True, False, False]</td>
      <td>2021-09-11 11:30:00</td>
      <td>[MCI, WOL, WAT, CRY]</td>
      <td>[1 - 0, 0 - 1, 1 - 0, 3 - 0]</td>
      <td>[True, False, True, False]</td>
      <td>WWWL</td>
      <td>[1, 1, 1, -3]</td>
      <td>0.157384</td>
      <td>[True, False, False, False]</td>
      <td>2021-09-19 15:30:00</td>
      <td>[MCI, WOL, WAT, CRY, CHE]</td>
      <td>[1 - 0, 0 - 1, 1 - 0, 3 - 0, 0 - 3]</td>
      <td>[True, False, True, False, True]</td>
      <td>WWWLL</td>
      <td>[1, 1, 1, -3, -3]</td>
      <td>0.169949</td>
      <td>[True, False, False, False, False]</td>
      <td>2021-09-26 15:30:00</td>
      <td>[WOL, WAT, CRY, CHE, ARS]</td>
      <td>[0 - 1, 1 - 0, 3 - 0, 0 - 3, 3 - 1]</td>
      <td>[False, True, False, True, False]</td>
      <td>WWLLL</td>
      <td>[1, 1, -3, -3, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03 13:00:00</td>
      <td>[WAT, CRY, CHE, ARS, AVL]</td>
      <td>[1 - 0, 3 - 0, 0 - 3, 3 - 1, 2 - 1]</td>
      <td>[True, False, True, False, True]</td>
      <td>WLLLW</td>
      <td>[1, -3, -3, -2, 1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-17 15:30:00</td>
      <td>[CRY, CHE, ARS, AVL, NEW]</td>
      <td>[3 - 0, 0 - 3, 3 - 1, 2 - 1, 2 - 3]</td>
      <td>[False, True, False, True, False]</td>
      <td>LLLWW</td>
      <td>[-3, -3, -2, 1, 1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-24 13:00:00</td>
      <td>[CHE, ARS, AVL, NEW, WHU]</td>
      <td>[0 - 3, 3 - 1, 2 - 1, 2 - 3, 1 - 0]</td>
      <td>[True, False, True, False, False]</td>
      <td>LLWWL</td>
      <td>[-3, -2, 1, 1, -1]</td>
      <td>0.062403</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>2021-08-15 15:30:00</td>
      <td>[TOT]</td>
      <td>[1 - 0]</td>
      <td>[False]</td>
      <td>L</td>
      <td>[-1]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21 14:00:00</td>
      <td>[TOT, NOR]</td>
      <td>[1 - 0, 5 - 0]</td>
      <td>[False, True]</td>
      <td>LW</td>
      <td>[-1, 5]</td>
      <td>0.340652</td>
      <td>[False, False]</td>
      <td>2021-08-28 11:30:00</td>
      <td>[TOT, NOR, ARS]</td>
      <td>[1 - 0, 5 - 0, 5 - 0]</td>
      <td>[False, True, True]</td>
      <td>LWW</td>
      <td>[-1, 5, 5]</td>
      <td>0.555545</td>
      <td>[False, False, False]</td>
      <td>2021-09-11 14:00:00</td>
      <td>[TOT, NOR, ARS, LEI]</td>
      <td>[1 - 0, 5 - 0, 5 - 0, 0 - 1]</td>
      <td>[False, True, True, False]</td>
      <td>LWWW</td>
      <td>[-1, 5, 5, 1]</td>
      <td>0.582648</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18 14:00:00</td>
      <td>[TOT, NOR, ARS, LEI, SOU]</td>
      <td>[1 - 0, 5 - 0, 5 - 0, 0 - 1, 0 - 0]</td>
      <td>[False, True, True, False, True]</td>
      <td>LWWWD</td>
      <td>[-1, 5, 5, 1, 0]</td>
      <td>0.566118</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25 11:30:00</td>
      <td>[NOR, ARS, LEI, SOU, CHE]</td>
      <td>[5 - 0, 5 - 0, 0 - 1, 0 - 0, 0 - 1]</td>
      <td>[True, True, False, True, False]</td>
      <td>WWWDW</td>
      <td>[5, 5, 1, 0, 1]</td>
      <td>0.857146</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03 15:30:00</td>
      <td>[ARS, LEI, SOU, CHE, LIV]</td>
      <td>[5 - 0, 0 - 1, 0 - 0, 0 - 1, 2 - 2]</td>
      <td>[True, False, True, False, False]</td>
      <td>WWDWD</td>
      <td>[5, 1, 0, 1, 0]</td>
      <td>0.775644</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-16 14:00:00</td>
      <td>[LEI, SOU, CHE, LIV, BUR]</td>
      <td>[0 - 1, 0 - 0, 0 - 1, 2 - 2, 2 - 0]</td>
      <td>[False, True, False, False, True]</td>
      <td>WDWDW</td>
      <td>[1, 0, 1, 0, 2]</td>
      <td>0.704665</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-23 16:30:00</td>
      <td>[SOU, CHE, LIV, BUR, BHA]</td>
      <td>[0 - 0, 0 - 1, 2 - 2, 2 - 0, 1 - 4]</td>
      <td>[True, False, False, True, False]</td>
      <td>DWDWW</td>
      <td>[0, 1, 0, 2, 3]</td>
      <td>0.725950</td>
      <td>[False, False, False, False, False]</td>
    </tr>
  </tbody>
</table>