<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Matchday</th>
      <th colspan="8" halign="left">1</th>
      <th colspan="8" halign="left">2</th>
      <th colspan="8" halign="left">3</th>
      <th colspan="8" halign="left">4</th>
      <th colspan="8" halign="left">5</th>
      <th colspan="8" halign="left">6</th>
      <th colspan="8" halign="left">7</th>
    </tr>
    <tr>
      <th></th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>HomeAway</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>HomeAway</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>HomeAway</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>HomeAway</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>HomeAway</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>HomeAway</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
      <th>Date</th>
      <th>TeamsPlayed</th>
      <th>Scores</th>
      <th>HomeAway</th>
      <th>Form</th>
      <th>GDs</th>
      <th>FormRating</th>
      <th>WonAgainstStarTeam</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Brentford FC</th>
      <td>2021-08-13</td>
      <td>[ARS]</td>
      <td>[2 - 0]</td>
      <td>[Home]</td>
      <td>W</td>
      <td>[2]</td>
      <td>0.578518</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[ARS, CRY]</td>
      <td>[2 - 0, 0 - 0]</td>
      <td>[Home, Away]</td>
      <td>WD</td>
      <td>[2, 0]</td>
      <td>0.539259</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[ARS, CRY, AVL]</td>
      <td>[2 - 0, 0 - 0, 1 - 1]</td>
      <td>[Home, Away, Away]</td>
      <td>WDD</td>
      <td>[2, 0, 0]</td>
      <td>0.526173</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[ARS, CRY, AVL, BHA]</td>
      <td>[2 - 0, 0 - 0, 1 - 1, 0 - 1]</td>
      <td>[Home, Away, Away, Home]</td>
      <td>WDDL</td>
      <td>[2, 0, 0, -1]</td>
      <td>0.369257</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[ARS, CRY, AVL, BHA, WOL]</td>
      <td>[2 - 0, 0 - 0, 1 - 1, 0 - 1, 0 - 2]</td>
      <td>[Home, Away, Away, Home, Away]</td>
      <td>WDDLW</td>
      <td>[2, 0, 0, -1, 2]</td>
      <td>0.432187</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[CRY, AVL, BHA, WOL, LIV]</td>
      <td>[0 - 0, 1 - 1, 0 - 1, 0 - 2, 3 - 3]</td>
      <td>[Away, Away, Home, Away, Home]</td>
      <td>DDLWD</td>
      <td>[0, 0, -1, 2, 0]</td>
      <td>0.416483</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03</td>
      <td>[AVL, BHA, WOL, LIV, WHU]</td>
      <td>[1 - 1, 0 - 1, 0 - 2, 3 - 3, 1 - 2]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>DLWDW</td>
      <td>[0, -1, 2, 0, 1]</td>
      <td>0.451684</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>2021-08-13</td>
      <td>[BRE]</td>
      <td>[2 - 0]</td>
      <td>[Away]</td>
      <td>L</td>
      <td>[-2]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-22</td>
      <td>[BRE, CHE]</td>
      <td>[2 - 0, 0 - 2]</td>
      <td>[Away, Home]</td>
      <td>LL</td>
      <td>[-2, -2]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[BRE, CHE, MCI]</td>
      <td>[2 - 0, 0 - 2, 5 - 0]</td>
      <td>[Away, Home, Away]</td>
      <td>LLL</td>
      <td>[-2, -2, -5]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[BRE, CHE, MCI, NOR]</td>
      <td>[2 - 0, 0 - 2, 5 - 0, 1 - 0]</td>
      <td>[Away, Home, Away, Home]</td>
      <td>LLLW</td>
      <td>[-2, -2, -5, 1]</td>
      <td>0.003885</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[BRE, CHE, MCI, NOR, BUR]</td>
      <td>[2 - 0, 0 - 2, 5 - 0, 1 - 0, 0 - 1]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>LLLWW</td>
      <td>[-2, -2, -5, 1, 1]</td>
      <td>0.119721</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-26</td>
      <td>[CHE, MCI, NOR, BUR, TOT]</td>
      <td>[0 - 2, 5 - 0, 1 - 0, 0 - 1, 3 - 1]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>LLWWW</td>
      <td>[-2, -5, 1, 1, 2]</td>
      <td>0.353398</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[MCI, NOR, BUR, TOT, BHA]</td>
      <td>[5 - 0, 1 - 0, 0 - 1, 3 - 1, 0 - 0]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>LWWWD</td>
      <td>[-5, 1, 1, 2, 0]</td>
      <td>0.353398</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>2021-08-14</td>
      <td>[LEE]</td>
      <td>[5 - 1]</td>
      <td>[Home]</td>
      <td>W</td>
      <td>[4]</td>
      <td>0.799982</td>
      <td>[False]</td>
      <td>2021-08-22</td>
      <td>[LEE, SOU]</td>
      <td>[5 - 1, 1 - 1]</td>
      <td>[Home, Away]</td>
      <td>WD</td>
      <td>[4, 0]</td>
      <td>0.649991</td>
      <td>[False, False]</td>
      <td>2021-08-29</td>
      <td>[LEE, SOU, WOL]</td>
      <td>[5 - 1, 1 - 1, 0 - 1]</td>
      <td>[Home, Away, Away]</td>
      <td>WDW</td>
      <td>[4, 0, 1]</td>
      <td>0.630645</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[LEE, SOU, WOL, NEW]</td>
      <td>[5 - 1, 1 - 1, 0 - 1, 4 - 1]</td>
      <td>[Home, Away, Away, Home]</td>
      <td>WDWW</td>
      <td>[4, 0, 1, 3]</td>
      <td>0.673003</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19</td>
      <td>[LEE, SOU, WOL, NEW, WHU]</td>
      <td>[5 - 1, 1 - 1, 0 - 1, 4 - 1, 1 - 2]</td>
      <td>[Home, Away, Away, Home, Away]</td>
      <td>WDWWW</td>
      <td>[4, 0, 1, 3, 1]</td>
      <td>0.673603</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[SOU, WOL, NEW, WHU, AVL]</td>
      <td>[1 - 1, 0 - 1, 4 - 1, 1 - 2, 0 - 1]</td>
      <td>[Away, Away, Home, Away, Home]</td>
      <td>DWWWL</td>
      <td>[0, 1, 3, 1, -1]</td>
      <td>0.469699</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[WOL, NEW, WHU, AVL, EVE]</td>
      <td>[0 - 1, 4 - 1, 1 - 2, 0 - 1, 1 - 1]</td>
      <td>[Away, Home, Away, Home, Home]</td>
      <td>WWWLD</td>
      <td>[1, 3, 1, -1, 0]</td>
      <td>0.469699</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>2021-08-14</td>
      <td>[MUN]</td>
      <td>[5 - 1]</td>
      <td>[Away]</td>
      <td>L</td>
      <td>[-4]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[MUN, EVE]</td>
      <td>[5 - 1, 2 - 2]</td>
      <td>[Away, Home]</td>
      <td>LD</td>
      <td>[-4, 0]</td>
      <td>0.119490</td>
      <td>[False, False]</td>
      <td>2021-08-29</td>
      <td>[MUN, EVE, BUR]</td>
      <td>[5 - 1, 2 - 2, 1 - 1]</td>
      <td>[Away, Home, Away]</td>
      <td>LDD</td>
      <td>[-4, 0, 0]</td>
      <td>0.246327</td>
      <td>[False, False, False]</td>
      <td>2021-09-12</td>
      <td>[MUN, EVE, BUR, LIV]</td>
      <td>[5 - 1, 2 - 2, 1 - 1, 0 - 3]</td>
      <td>[Away, Home, Away, Home]</td>
      <td>LDDL</td>
      <td>[-4, 0, 0, -3]</td>
      <td>0.305503</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-17</td>
      <td>[MUN, EVE, BUR, LIV, NEW]</td>
      <td>[5 - 1, 2 - 2, 1 - 1, 0 - 3, 1 - 1]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>LDDLD</td>
      <td>[-4, 0, 0, -3, 0]</td>
      <td>0.344402</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[EVE, BUR, LIV, NEW, WHU]</td>
      <td>[2 - 2, 1 - 1, 0 - 3, 1 - 1, 1 - 2]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>DDLDL</td>
      <td>[0, 0, -3, 0, -1]</td>
      <td>0.367068</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[BUR, LIV, NEW, WHU, WAT]</td>
      <td>[1 - 1, 0 - 3, 1 - 1, 1 - 2, 1 - 0]</td>
      <td>[Away, Home, Away, Home, Home]</td>
      <td>DLDLW</td>
      <td>[0, -3, 0, -1, 1]</td>
      <td>0.392307</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>2021-08-14</td>
      <td>[AVL]</td>
      <td>[3 - 2]</td>
      <td>[Home]</td>
      <td>W</td>
      <td>[1]</td>
      <td>0.604152</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[AVL, BHA]</td>
      <td>[3 - 2, 2 - 0]</td>
      <td>[Home, Away]</td>
      <td>WL</td>
      <td>[1, -2]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-29</td>
      <td>[AVL, BHA, TOT]</td>
      <td>[3 - 2, 2 - 0, 1 - 0]</td>
      <td>[Home, Away, Away]</td>
      <td>WLL</td>
      <td>[1, -2, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[AVL, BHA, TOT, WOL]</td>
      <td>[3 - 2, 2 - 0, 1 - 0, 0 - 2]</td>
      <td>[Home, Away, Away, Home]</td>
      <td>WLLL</td>
      <td>[1, -2, -1, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[AVL, BHA, TOT, WOL, NOR]</td>
      <td>[3 - 2, 2 - 0, 1 - 0, 0 - 2, 1 - 3]</td>
      <td>[Home, Away, Away, Home, Away]</td>
      <td>WLLLW</td>
      <td>[1, -2, -1, -2, 2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[BHA, TOT, WOL, NOR, NEW]</td>
      <td>[2 - 0, 1 - 0, 0 - 2, 1 - 3, 1 - 1]</td>
      <td>[Away, Away, Home, Away, Home]</td>
      <td>LLLWD</td>
      <td>[-2, -1, -2, 2, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[TOT, WOL, NOR, NEW, LEE]</td>
      <td>[1 - 0, 0 - 2, 1 - 3, 1 - 1, 1 - 0]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>LLWDL</td>
      <td>[-1, -2, 2, 0, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>2021-08-14</td>
      <td>[WAT]</td>
      <td>[3 - 2]</td>
      <td>[Away]</td>
      <td>L</td>
      <td>[-1]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[WAT, NEW]</td>
      <td>[3 - 2, 2 - 0]</td>
      <td>[Away, Home]</td>
      <td>LW</td>
      <td>[-1, 2]</td>
      <td>0.251276</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[WAT, NEW, BRE]</td>
      <td>[3 - 2, 2 - 0, 1 - 1]</td>
      <td>[Away, Home, Home]</td>
      <td>LWD</td>
      <td>[-1, 2, 0]</td>
      <td>0.334184</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[WAT, NEW, BRE, CHE]</td>
      <td>[3 - 2, 2 - 0, 1 - 1, 3 - 0]</td>
      <td>[Away, Home, Home, Away]</td>
      <td>LWDL</td>
      <td>[-1, 2, 0, -3]</td>
      <td>0.375638</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[WAT, NEW, BRE, CHE, EVE]</td>
      <td>[3 - 2, 2 - 0, 1 - 1, 3 - 0, 3 - 0]</td>
      <td>[Away, Home, Home, Away, Home]</td>
      <td>LWDLW</td>
      <td>[-1, 2, 0, -3, 3]</td>
      <td>0.610352</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[NEW, BRE, CHE, EVE, MUN]</td>
      <td>[2 - 0, 1 - 1, 3 - 0, 3 - 0, 0 - 1]</td>
      <td>[Home, Home, Away, Home, Away]</td>
      <td>WDLWW</td>
      <td>[2, 0, -3, 3, 1]</td>
      <td>0.876539</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03</td>
      <td>[BRE, CHE, EVE, MUN, TOT]</td>
      <td>[1 - 1, 3 - 0, 3 - 0, 0 - 1, 2 - 1]</td>
      <td>[Home, Away, Home, Away, Away]</td>
      <td>DLWWL</td>
      <td>[0, -3, 3, 1, -1]</td>
      <td>0.680767</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>2021-08-14</td>
      <td>[WOL]</td>
      <td>[1 - 0]</td>
      <td>[Home]</td>
      <td>W</td>
      <td>[1]</td>
      <td>0.591953</td>
      <td>[False]</td>
      <td>2021-08-23</td>
      <td>[WOL, WHU]</td>
      <td>[1 - 0, 4 - 1]</td>
      <td>[Home, Away]</td>
      <td>WL</td>
      <td>[1, -3]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[WOL, WHU, NOR]</td>
      <td>[1 - 0, 4 - 1, 1 - 2]</td>
      <td>[Home, Away, Away]</td>
      <td>WLW</td>
      <td>[1, -3, 1]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[WOL, WHU, NOR, MCI]</td>
      <td>[1 - 0, 4 - 1, 1 - 2, 0 - 1]</td>
      <td>[Home, Away, Away, Home]</td>
      <td>WLWL</td>
      <td>[1, -3, 1, -1]</td>
      <td>0.011197</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19</td>
      <td>[WOL, WHU, NOR, MCI, BHA]</td>
      <td>[1 - 0, 4 - 1, 1 - 2, 0 - 1, 2 - 1]</td>
      <td>[Home, Away, Away, Home, Away]</td>
      <td>WLWLL</td>
      <td>[1, -3, 1, -1, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[WHU, NOR, MCI, BHA, BUR]</td>
      <td>[4 - 1, 1 - 2, 0 - 1, 2 - 1, 2 - 2]</td>
      <td>[Away, Away, Home, Away, Home]</td>
      <td>LWLLD</td>
      <td>[-3, 1, -1, -1, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03</td>
      <td>[NOR, MCI, BHA, BUR, CRY]</td>
      <td>[1 - 2, 0 - 1, 2 - 1, 2 - 2, 2 - 2]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>WLLDD</td>
      <td>[1, -1, -1, 0, 0]</td>
      <td>0.358882</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>2021-08-14</td>
      <td>[LEI]</td>
      <td>[1 - 0]</td>
      <td>[Away]</td>
      <td>L</td>
      <td>[-1]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-22</td>
      <td>[LEI, TOT]</td>
      <td>[1 - 0, 0 - 1]</td>
      <td>[Away, Home]</td>
      <td>LL</td>
      <td>[-1, -1]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-29</td>
      <td>[LEI, TOT, MUN]</td>
      <td>[1 - 0, 0 - 1, 0 - 1]</td>
      <td>[Away, Home, Home]</td>
      <td>LLL</td>
      <td>[-1, -1, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[LEI, TOT, MUN, WAT]</td>
      <td>[1 - 0, 0 - 1, 0 - 1, 0 - 2]</td>
      <td>[Away, Home, Home, Away]</td>
      <td>LLLW</td>
      <td>[-1, -1, -1, 2]</td>
      <td>0.148894</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[LEI, TOT, MUN, WAT, BRE]</td>
      <td>[1 - 0, 0 - 1, 0 - 1, 0 - 2, 0 - 2]</td>
      <td>[Away, Home, Home, Away, Home]</td>
      <td>LLLWL</td>
      <td>[-1, -1, -1, 2, -2]</td>
      <td>0.003392</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-26</td>
      <td>[TOT, MUN, WAT, BRE, SOU]</td>
      <td>[0 - 1, 0 - 1, 0 - 2, 0 - 2, 0 - 1]</td>
      <td>[Home, Home, Away, Home, Away]</td>
      <td>LLWLW</td>
      <td>[-1, -1, 2, -2, 1]</td>
      <td>0.156439</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[MUN, WAT, BRE, SOU, NEW]</td>
      <td>[0 - 1, 0 - 2, 0 - 2, 0 - 1, 2 - 1]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>LWLWW</td>
      <td>[-1, 2, -2, 1, 1]</td>
      <td>0.332205</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>2021-08-14</td>
      <td>[SOU]</td>
      <td>[3 - 1]</td>
      <td>[Home]</td>
      <td>W</td>
      <td>[2]</td>
      <td>0.654975</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[SOU, LEE]</td>
      <td>[3 - 1, 2 - 2]</td>
      <td>[Home, Away]</td>
      <td>WD</td>
      <td>[2, 0]</td>
      <td>0.577488</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[SOU, LEE, BHA]</td>
      <td>[3 - 1, 2 - 2, 0 - 2]</td>
      <td>[Home, Away, Away]</td>
      <td>WDW</td>
      <td>[2, 0, 2]</td>
      <td>0.699792</td>
      <td>[False, False, False]</td>
      <td>2021-09-13</td>
      <td>[SOU, LEE, BHA, BUR]</td>
      <td>[3 - 1, 2 - 2, 0 - 2, 3 - 1]</td>
      <td>[Home, Away, Away, Home]</td>
      <td>WDWW</td>
      <td>[2, 0, 2, 2]</td>
      <td>0.691375</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[SOU, LEE, BHA, BUR, AVL]</td>
      <td>[3 - 1, 2 - 2, 0 - 2, 3 - 1, 3 - 0]</td>
      <td>[Home, Away, Away, Home, Away]</td>
      <td>WDWWL</td>
      <td>[2, 0, 2, 2, -3]</td>
      <td>0.221378</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[LEE, BHA, BUR, AVL, NOR]</td>
      <td>[2 - 2, 0 - 2, 3 - 1, 3 - 0, 2 - 0]</td>
      <td>[Away, Away, Home, Away, Home]</td>
      <td>DWWLW</td>
      <td>[0, 2, 2, -3, 2]</td>
      <td>0.228917</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[BHA, BUR, AVL, NOR, MUN]</td>
      <td>[0 - 2, 3 - 1, 3 - 0, 2 - 0, 1 - 1]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>WWLWD</td>
      <td>[2, 2, -3, 2, 0]</td>
      <td>0.228917</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>2021-08-14</td>
      <td>[EVE]</td>
      <td>[3 - 1]</td>
      <td>[Away]</td>
      <td>L</td>
      <td>[-2]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-22</td>
      <td>[EVE, MUN]</td>
      <td>[3 - 1, 1 - 1]</td>
      <td>[Away, Home]</td>
      <td>LD</td>
      <td>[-2, 0]</td>
      <td>0.026046</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[EVE, MUN, NEW]</td>
      <td>[3 - 1, 1 - 1, 2 - 2]</td>
      <td>[Away, Home, Away]</td>
      <td>LDD</td>
      <td>[-2, 0, 0]</td>
      <td>0.184031</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[EVE, MUN, NEW, WHU]</td>
      <td>[3 - 1, 1 - 1, 2 - 2, 0 - 0]</td>
      <td>[Away, Home, Away, Home]</td>
      <td>LDDD</td>
      <td>[-2, 0, 0, 0]</td>
      <td>0.263023</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[EVE, MUN, NEW, WHU, MCI]</td>
      <td>[3 - 1, 1 - 1, 2 - 2, 0 - 0, 0 - 0]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>LDDDD</td>
      <td>[-2, 0, 0, 0, 0]</td>
      <td>0.310418</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-26</td>
      <td>[MUN, NEW, WHU, MCI, WOL]</td>
      <td>[1 - 1, 2 - 2, 0 - 0, 0 - 0, 0 - 1]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>DDDDL</td>
      <td>[0, 0, 0, 0, -1]</td>
      <td>0.353653</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[NEW, WHU, MCI, WOL, CHE]</td>
      <td>[2 - 2, 0 - 0, 0 - 0, 0 - 1, 3 - 1]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>DDDLL</td>
      <td>[0, 0, 0, -1, -2]</td>
      <td>0.353653</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Chelsea FC</th>
      <td>2021-08-14</td>
      <td>[CRY]</td>
      <td>[3 - 0]</td>
      <td>[Home]</td>
      <td>W</td>
      <td>[3]</td>
      <td>0.709891</td>
      <td>[False]</td>
      <td>2021-08-22</td>
      <td>[CRY, ARS]</td>
      <td>[3 - 0, 0 - 2]</td>
      <td>[Home, Away]</td>
      <td>WW</td>
      <td>[3, 2]</td>
      <td>0.644205</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[CRY, ARS, LIV]</td>
      <td>[3 - 0, 0 - 2, 1 - 1]</td>
      <td>[Home, Away, Away]</td>
      <td>WWD</td>
      <td>[3, 2, 0]</td>
      <td>0.596136</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[CRY, ARS, LIV, AVL]</td>
      <td>[3 - 0, 0 - 2, 1 - 1, 3 - 0]</td>
      <td>[Home, Away, Away, Home]</td>
      <td>WWDW</td>
      <td>[3, 2, 0, 3]</td>
      <td>0.650217</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19</td>
      <td>[CRY, ARS, LIV, AVL, TOT]</td>
      <td>[3 - 0, 0 - 2, 1 - 1, 3 - 0, 0 - 3]</td>
      <td>[Home, Away, Away, Home, Away]</td>
      <td>WWDWW</td>
      <td>[3, 2, 0, 3, 3]</td>
      <td>0.647104</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[ARS, LIV, AVL, TOT, MCI]</td>
      <td>[0 - 2, 1 - 1, 3 - 0, 0 - 3, 0 - 1]</td>
      <td>[Away, Away, Home, Away, Home]</td>
      <td>WDWWL</td>
      <td>[2, 0, 3, 3, -1]</td>
      <td>0.565039</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[LIV, AVL, TOT, MCI, SOU]</td>
      <td>[1 - 1, 3 - 0, 0 - 3, 0 - 1, 3 - 1]</td>
      <td>[Away, Home, Away, Home, Home]</td>
      <td>DWWLW</td>
      <td>[0, 3, 3, -1, 2]</td>
      <td>0.580330</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>2021-08-14</td>
      <td>[CHE]</td>
      <td>[3 - 0]</td>
      <td>[Away]</td>
      <td>L</td>
      <td>[-3]</td>
      <td>0.500000</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[CHE, BRE]</td>
      <td>[3 - 0, 0 - 0]</td>
      <td>[Away, Home]</td>
      <td>LD</td>
      <td>[-3, 0]</td>
      <td>0.500000</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[CHE, BRE, WHU]</td>
      <td>[3 - 0, 0 - 0, 2 - 2]</td>
      <td>[Away, Home, Away]</td>
      <td>LDD</td>
      <td>[-3, 0, 0]</td>
      <td>0.500000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[CHE, BRE, WHU, TOT]</td>
      <td>[3 - 0, 0 - 0, 2 - 2, 3 - 0]</td>
      <td>[Away, Home, Away, Home]</td>
      <td>LDDW</td>
      <td>[-3, 0, 0, 3]</td>
      <td>0.533663</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[CHE, BRE, WHU, TOT, LIV]</td>
      <td>[3 - 0, 0 - 0, 2 - 2, 3 - 0, 3 - 0]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>LDDWL</td>
      <td>[-3, 0, 0, 3, -3]</td>
      <td>0.523537</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-27</td>
      <td>[BRE, WHU, TOT, LIV, BHA]</td>
      <td>[0 - 0, 2 - 2, 3 - 0, 3 - 0, 1 - 1]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>DDWLD</td>
      <td>[0, 0, 3, -3, 0]</td>
      <td>0.523537</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03</td>
      <td>[WHU, TOT, LIV, BHA, LEI]</td>
      <td>[2 - 2, 3 - 0, 3 - 0, 1 - 1, 2 - 2]</td>
      <td>[Away, Home, Away, Home, Home]</td>
      <td>DWLDD</td>
      <td>[0, 3, -3, 0, 0]</td>
      <td>0.523537</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>2021-08-14</td>
      <td>[BHA]</td>
      <td>[1 - 2]</td>
      <td>[Home]</td>
      <td>L</td>
      <td>[-1]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[BHA, LIV]</td>
      <td>[1 - 2, 2 - 0]</td>
      <td>[Home, Away]</td>
      <td>LL</td>
      <td>[-1, -2]</td>
      <td>0.193599</td>
      <td>[False, False]</td>
      <td>2021-08-29</td>
      <td>[BHA, LIV, LEE]</td>
      <td>[1 - 2, 2 - 0, 1 - 1]</td>
      <td>[Home, Away, Home]</td>
      <td>LLD</td>
      <td>[-1, -2, 0]</td>
      <td>0.295732</td>
      <td>[False, False, False]</td>
      <td>2021-09-13</td>
      <td>[BHA, LIV, LEE, EVE]</td>
      <td>[1 - 2, 2 - 0, 1 - 1, 3 - 1]</td>
      <td>[Home, Away, Home, Away]</td>
      <td>LLDL</td>
      <td>[-1, -2, 0, -2]</td>
      <td>0.109822</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[BHA, LIV, LEE, EVE, ARS]</td>
      <td>[1 - 2, 2 - 0, 1 - 1, 3 - 1, 0 - 1]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>LLDLL</td>
      <td>[-1, -2, 0, -2, -1]</td>
      <td>0.030972</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[LIV, LEE, EVE, ARS, LEI]</td>
      <td>[2 - 0, 1 - 1, 3 - 1, 0 - 1, 2 - 2]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>LDLLD</td>
      <td>[-2, 0, -2, -1, 0]</td>
      <td>0.151269</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[LEE, EVE, ARS, LEI, NOR]</td>
      <td>[1 - 1, 3 - 1, 0 - 1, 2 - 2, 0 - 0]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>DLLDD</td>
      <td>[0, -2, -1, 0, 0]</td>
      <td>0.153532</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>2021-08-14</td>
      <td>[BUR]</td>
      <td>[1 - 2]</td>
      <td>[Away]</td>
      <td>W</td>
      <td>[1]</td>
      <td>0.583062</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[BUR, WAT]</td>
      <td>[1 - 2, 2 - 0]</td>
      <td>[Away, Home]</td>
      <td>WW</td>
      <td>[1, 2]</td>
      <td>0.667723</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[BUR, WAT, EVE]</td>
      <td>[1 - 2, 2 - 0, 0 - 2]</td>
      <td>[Away, Home, Home]</td>
      <td>WWL</td>
      <td>[1, 2, -2]</td>
      <td>0.295846</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[BUR, WAT, EVE, BRE]</td>
      <td>[1 - 2, 2 - 0, 0 - 2, 0 - 1]</td>
      <td>[Away, Home, Home, Away]</td>
      <td>WWLW</td>
      <td>[1, 2, -2, 1]</td>
      <td>0.417980</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19</td>
      <td>[BUR, WAT, EVE, BRE, LEI]</td>
      <td>[1 - 2, 2 - 0, 0 - 2, 0 - 1, 2 - 1]</td>
      <td>[Away, Home, Home, Away, Home]</td>
      <td>WWLWW</td>
      <td>[1, 2, -2, 1, 1]</td>
      <td>0.461572</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-27</td>
      <td>[WAT, EVE, BRE, LEI, CRY]</td>
      <td>[2 - 0, 0 - 2, 0 - 1, 2 - 1, 1 - 1]</td>
      <td>[Home, Home, Away, Home, Away]</td>
      <td>WLWWD</td>
      <td>[2, -2, 1, 1, 0]</td>
      <td>0.444960</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[EVE, BRE, LEI, CRY, ARS]</td>
      <td>[0 - 2, 0 - 1, 2 - 1, 1 - 1, 0 - 0]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>LWWDD</td>
      <td>[-2, 1, 1, 0, 0]</td>
      <td>0.394483</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>2021-08-14</td>
      <td>[LIV]</td>
      <td>[0 - 3]</td>
      <td>[Home]</td>
      <td>L</td>
      <td>[-3]</td>
      <td>0.483030</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[LIV, MCI]</td>
      <td>[0 - 3, 5 - 0]</td>
      <td>[Home, Away]</td>
      <td>LL</td>
      <td>[-3, -5]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[LIV, MCI, LEI]</td>
      <td>[0 - 3, 5 - 0, 1 - 2]</td>
      <td>[Home, Away, Home]</td>
      <td>LLL</td>
      <td>[-3, -5, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[LIV, MCI, LEI, ARS]</td>
      <td>[0 - 3, 5 - 0, 1 - 2, 1 - 0]</td>
      <td>[Home, Away, Home, Away]</td>
      <td>LLLL</td>
      <td>[-3, -5, -1, -1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[LIV, MCI, LEI, ARS, WAT]</td>
      <td>[0 - 3, 5 - 0, 1 - 2, 1 - 0, 1 - 3]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>LLLLL</td>
      <td>[-3, -5, -1, -1, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[MCI, LEI, ARS, WAT, EVE]</td>
      <td>[5 - 0, 1 - 2, 1 - 0, 1 - 3, 2 - 0]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>LLLLL</td>
      <td>[-5, -1, -1, -2, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[LEI, ARS, WAT, EVE, BUR]</td>
      <td>[1 - 2, 1 - 0, 1 - 3, 2 - 0, 0 - 0]</td>
      <td>[Home, Away, Home, Away, Away]</td>
      <td>LLLLD</td>
      <td>[-1, -1, -2, -2, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>2021-08-14</td>
      <td>[NOR]</td>
      <td>[0 - 3]</td>
      <td>[Away]</td>
      <td>W</td>
      <td>[3]</td>
      <td>0.789009</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[NOR, BUR]</td>
      <td>[0 - 3, 2 - 0]</td>
      <td>[Away, Home]</td>
      <td>WW</td>
      <td>[3, 2]</td>
      <td>0.727567</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[NOR, BUR, CHE]</td>
      <td>[0 - 3, 2 - 0, 1 - 1]</td>
      <td>[Away, Home, Home]</td>
      <td>WWD</td>
      <td>[3, 2, 0]</td>
      <td>0.651711</td>
      <td>[False, False, False]</td>
      <td>2021-09-12</td>
      <td>[NOR, BUR, CHE, LEE]</td>
      <td>[0 - 3, 2 - 0, 1 - 1, 0 - 3]</td>
      <td>[Away, Home, Home, Away]</td>
      <td>WWDW</td>
      <td>[3, 2, 0, 3]</td>
      <td>0.670030</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[NOR, BUR, CHE, LEE, CRY]</td>
      <td>[0 - 3, 2 - 0, 1 - 1, 0 - 3, 3 - 0]</td>
      <td>[Away, Home, Home, Away, Home]</td>
      <td>WWDWW</td>
      <td>[3, 2, 0, 3, 3]</td>
      <td>0.678002</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[BUR, CHE, LEE, CRY, BRE]</td>
      <td>[2 - 0, 1 - 1, 0 - 3, 3 - 0, 3 - 3]</td>
      <td>[Home, Home, Away, Home, Away]</td>
      <td>WDWWD</td>
      <td>[2, 0, 3, 3, 0]</td>
      <td>0.620201</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03</td>
      <td>[CHE, LEE, CRY, BRE, MCI]</td>
      <td>[1 - 1, 0 - 3, 3 - 0, 3 - 3, 2 - 2]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>DWWDD</td>
      <td>[0, 3, 3, 0, 0]</td>
      <td>0.586976</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>2021-08-15</td>
      <td>[WHU]</td>
      <td>[2 - 4]</td>
      <td>[Home]</td>
      <td>L</td>
      <td>[-2]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[WHU, AVL]</td>
      <td>[2 - 4, 2 - 0]</td>
      <td>[Home, Away]</td>
      <td>LL</td>
      <td>[-2, -2]</td>
      <td>0.000000</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[WHU, AVL, SOU]</td>
      <td>[2 - 4, 2 - 0, 2 - 2]</td>
      <td>[Home, Away, Home]</td>
      <td>LLD</td>
      <td>[-2, -2, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[WHU, AVL, SOU, MUN]</td>
      <td>[2 - 4, 2 - 0, 2 - 2, 4 - 1]</td>
      <td>[Home, Away, Home, Away]</td>
      <td>LLDL</td>
      <td>[-2, -2, 0, -3]</td>
      <td>0.000000</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-17</td>
      <td>[WHU, AVL, SOU, MUN, LEE]</td>
      <td>[2 - 4, 2 - 0, 2 - 2, 4 - 1, 1 - 1]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>LLDLD</td>
      <td>[-2, -2, 0, -3, 0]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[AVL, SOU, MUN, LEE, WAT]</td>
      <td>[2 - 0, 2 - 2, 4 - 1, 1 - 1, 1 - 1]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>LDLDD</td>
      <td>[-2, 0, -3, 0, 0]</td>
      <td>0.098032</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-02</td>
      <td>[SOU, MUN, LEE, WAT, WOL]</td>
      <td>[2 - 2, 4 - 1, 1 - 1, 1 - 1, 2 - 1]</td>
      <td>[Home, Away, Home, Away, Away]</td>
      <td>DLDDL</td>
      <td>[0, -3, 0, 0, -1]</td>
      <td>0.239500</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>2021-08-15</td>
      <td>[NEW]</td>
      <td>[2 - 4]</td>
      <td>[Away]</td>
      <td>W</td>
      <td>[2]</td>
      <td>0.700051</td>
      <td>[False]</td>
      <td>2021-08-23</td>
      <td>[NEW, LEI]</td>
      <td>[2 - 4, 4 - 1]</td>
      <td>[Away, Home]</td>
      <td>WW</td>
      <td>[2, 3]</td>
      <td>0.803940</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[NEW, LEI, CRY]</td>
      <td>[2 - 4, 4 - 1, 2 - 2]</td>
      <td>[Away, Home, Home]</td>
      <td>WWD</td>
      <td>[2, 3, 0]</td>
      <td>0.702627</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[NEW, LEI, CRY, SOU]</td>
      <td>[2 - 4, 4 - 1, 2 - 2, 0 - 0]</td>
      <td>[Away, Home, Home, Away]</td>
      <td>WWDD</td>
      <td>[2, 3, 0, 0]</td>
      <td>0.651970</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19</td>
      <td>[NEW, LEI, CRY, SOU, MUN]</td>
      <td>[2 - 4, 4 - 1, 2 - 2, 0 - 0, 1 - 2]</td>
      <td>[Away, Home, Home, Away, Home]</td>
      <td>WWDDL</td>
      <td>[2, 3, 0, 0, -1]</td>
      <td>0.583525</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[LEI, CRY, SOU, MUN, LEE]</td>
      <td>[4 - 1, 2 - 2, 0 - 0, 1 - 2, 1 - 2]</td>
      <td>[Home, Home, Away, Home, Away]</td>
      <td>WDDLW</td>
      <td>[3, 0, 0, -1, 1]</td>
      <td>0.558514</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03</td>
      <td>[CRY, SOU, MUN, LEE, BRE]</td>
      <td>[2 - 2, 0 - 0, 1 - 2, 1 - 2, 1 - 2]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>DDLWL</td>
      <td>[0, 0, -1, 1, -1]</td>
      <td>0.369086</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>2021-08-15</td>
      <td>[MCI]</td>
      <td>[1 - 0]</td>
      <td>[Home]</td>
      <td>W</td>
      <td>[1]</td>
      <td>1.000000</td>
      <td>[False]</td>
      <td>2021-08-22</td>
      <td>[MCI, WOL]</td>
      <td>[1 - 0, 0 - 1]</td>
      <td>[Home, Away]</td>
      <td>WW</td>
      <td>[1, 1]</td>
      <td>0.857603</td>
      <td>[False, False]</td>
      <td>2021-08-29</td>
      <td>[MCI, WOL, WAT]</td>
      <td>[1 - 0, 0 - 1, 1 - 0]</td>
      <td>[Home, Away, Home]</td>
      <td>WWW</td>
      <td>[1, 1, 1]</td>
      <td>0.780466</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[MCI, WOL, WAT, CRY]</td>
      <td>[1 - 0, 0 - 1, 1 - 0, 3 - 0]</td>
      <td>[Home, Away, Home, Away]</td>
      <td>WWWL</td>
      <td>[1, 1, 1, -3]</td>
      <td>0.145055</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-19</td>
      <td>[MCI, WOL, WAT, CRY, CHE]</td>
      <td>[1 - 0, 0 - 1, 1 - 0, 3 - 0, 0 - 3]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>WWWLL</td>
      <td>[1, 1, 1, -3, -3]</td>
      <td>0.216044</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-26</td>
      <td>[WOL, WAT, CRY, CHE, ARS]</td>
      <td>[0 - 1, 1 - 0, 3 - 0, 0 - 3, 3 - 1]</td>
      <td>[Away, Home, Away, Home, Away]</td>
      <td>WWLLL</td>
      <td>[1, 1, -3, -3, -2]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-10-03</td>
      <td>[WAT, CRY, CHE, ARS, AVL]</td>
      <td>[1 - 0, 3 - 0, 0 - 3, 3 - 1, 2 - 1]</td>
      <td>[Home, Away, Home, Away, Home]</td>
      <td>WLLLW</td>
      <td>[1, -3, -3, -2, 1]</td>
      <td>0.000000</td>
      <td>[False, False, False, False, False]</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>2021-08-15</td>
      <td>[TOT]</td>
      <td>[1 - 0]</td>
      <td>[Away]</td>
      <td>L</td>
      <td>[-1]</td>
      <td>0.000000</td>
      <td>[False]</td>
      <td>2021-08-21</td>
      <td>[TOT, NOR]</td>
      <td>[1 - 0, 5 - 0]</td>
      <td>[Away, Home]</td>
      <td>LW</td>
      <td>[-1, 5]</td>
      <td>0.351438</td>
      <td>[False, False]</td>
      <td>2021-08-28</td>
      <td>[TOT, NOR, ARS]</td>
      <td>[1 - 0, 5 - 0, 5 - 0]</td>
      <td>[Away, Home, Home]</td>
      <td>LWW</td>
      <td>[-1, 5, 5]</td>
      <td>0.466390</td>
      <td>[False, False, False]</td>
      <td>2021-09-11</td>
      <td>[TOT, NOR, ARS, LEI]</td>
      <td>[1 - 0, 5 - 0, 5 - 0, 0 - 1]</td>
      <td>[Away, Home, Home, Away]</td>
      <td>LWWW</td>
      <td>[-1, 5, 5, 1]</td>
      <td>0.508779</td>
      <td>[False, False, False, False]</td>
      <td>2021-09-18</td>
      <td>[TOT, NOR, ARS, LEI, SOU]</td>
      <td>[1 - 0, 5 - 0, 5 - 0, 0 - 1, 0 - 0]</td>
      <td>[Away, Home, Home, Away, Home]</td>
      <td>LWWWD</td>
      <td>[-1, 5, 5, 1, 0]</td>
      <td>0.507023</td>
      <td>[False, False, False, False, False]</td>
      <td>2021-09-25</td>
      <td>[NOR, ARS, LEI, SOU, CHE]</td>
      <td>[5 - 0, 5 - 0, 0 - 1, 0 - 0, 0 - 1]</td>
      <td>[Home, Home, Away, Home, Away]</td>
      <td>WWWDW</td>
      <td>[5, 5, 1, 0, 1]</td>
      <td>0.827522</td>
      <td>[False, False, False, False, True]</td>
      <td>2021-10-03</td>
      <td>[ARS, LEI, SOU, CHE, LIV]</td>
      <td>[5 - 0, 0 - 1, 0 - 0, 0 - 1, 2 - 2]</td>
      <td>[Home, Away, Home, Away, Away]</td>
      <td>WWDWD</td>
      <td>[5, 1, 0, 1, 0]</td>
      <td>0.731186</td>
      <td>[False, False, False, True, False]</td>
    </tr>
  </tbody>
</table>