<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Season</th>
      <th colspan="5" halign="left">2018</th>
      <th colspan="5" halign="left">2019</th>
      <th colspan="5" halign="left">2020</th>
      <th colspan="5" halign="left">2021</th>
      <th>TotalHomeAdvantage</th>
    </tr>
    <tr>
      <th></th>
      <th colspan="2" halign="left">Home</th>
      <th>HomeAdvantage</th>
      <th colspan="2" halign="left">Overall</th>
      <th colspan="2" halign="left">Home</th>
      <th>HomeAdvantage</th>
      <th colspan="2" halign="left">Overall</th>
      <th colspan="2" halign="left">Home</th>
      <th>HomeAdvantage</th>
      <th colspan="2" halign="left">Overall</th>
      <th colspan="2" halign="left">Home</th>
      <th>HomeAdvantage</th>
      <th colspan="2" halign="left">Overall</th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Brentford FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>9</td>
      <td>0.333333</td>
      <td>0.055556</td>
      <td>18</td>
      <td>0.277778</td>
      <td>0.055556</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>19</td>
      <td>0.736842</td>
      <td>0.184211</td>
      <td>38</td>
      <td>0.552632</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.157895</td>
      <td>38</td>
      <td>0.368421</td>
      <td>19</td>
      <td>0.421053</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.473684</td>
      <td>9</td>
      <td>0.777778</td>
      <td>0.198830</td>
      <td>19</td>
      <td>0.578947</td>
      <td>0.180312</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>19</td>
      <td>0.473684</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.263158</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.500000</td>
      <td>9</td>
      <td>0.444444</td>
      <td>-0.029240</td>
      <td>19</td>
      <td>0.473684</td>
      <td>0.034113</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>19</td>
      <td>0.315789</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.236842</td>
      <td>19</td>
      <td>0.263158</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.236842</td>
      <td>19</td>
      <td>0.210526</td>
      <td>-0.026316</td>
      <td>38</td>
      <td>0.236842</td>
      <td>9</td>
      <td>0.333333</td>
      <td>0.055556</td>
      <td>18</td>
      <td>0.277778</td>
      <td>0.053606</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>19</td>
      <td>0.263158</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.236842</td>
      <td>19</td>
      <td>0.315789</td>
      <td>-0.078947</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.421053</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.315789</td>
      <td>9</td>
      <td>0.222222</td>
      <td>0.011696</td>
      <td>19</td>
      <td>0.210526</td>
      <td>-0.013645</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>19</td>
      <td>0.526316</td>
      <td>0.131579</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.421053</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.342105</td>
      <td>19</td>
      <td>0.315789</td>
      <td>-0.131579</td>
      <td>38</td>
      <td>0.447368</td>
      <td>8</td>
      <td>0.500000</td>
      <td>0.205882</td>
      <td>17</td>
      <td>0.294118</td>
      <td>0.138803</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>19</td>
      <td>0.526316</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.500000</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.473684</td>
      <td>19</td>
      <td>0.473684</td>
      <td>-0.078947</td>
      <td>38</td>
      <td>0.552632</td>
      <td>8</td>
      <td>0.500000</td>
      <td>0.029412</td>
      <td>17</td>
      <td>0.470588</td>
      <td>0.036120</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>19</td>
      <td>0.526316</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.421053</td>
      <td>19</td>
      <td>0.421053</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.368421</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.315789</td>
      <td>9</td>
      <td>0.333333</td>
      <td>-0.055556</td>
      <td>18</td>
      <td>0.388889</td>
      <td>0.025341</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>19</td>
      <td>0.368421</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.289474</td>
      <td>19</td>
      <td>0.421053</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.210526</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.263158</td>
      <td>7</td>
      <td>0.142857</td>
      <td>0.076190</td>
      <td>15</td>
      <td>0.066667</td>
      <td>0.060485</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>19</td>
      <td>0.421053</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.368421</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.210526</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>9</td>
      <td>0.222222</td>
      <td>-0.013072</td>
      <td>17</td>
      <td>0.235294</td>
      <td>0.048274</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>19</td>
      <td>0.631579</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.605263</td>
      <td>19</td>
      <td>0.631579</td>
      <td>0.210526</td>
      <td>38</td>
      <td>0.421053</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.473684</td>
      <td>10</td>
      <td>0.700000</td>
      <td>0.170588</td>
      <td>17</td>
      <td>0.529412</td>
      <td>0.135810</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>19</td>
      <td>0.368421</td>
      <td>0.131579</td>
      <td>38</td>
      <td>0.236842</td>
      <td>19</td>
      <td>0.368421</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.421053</td>
      <td>9</td>
      <td>0.444444</td>
      <td>0.055556</td>
      <td>18</td>
      <td>0.388889</td>
      <td>0.093567</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>19</td>
      <td>0.947368</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.842105</td>
      <td>19</td>
      <td>0.789474</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.684211</td>
      <td>19</td>
      <td>0.684211</td>
      <td>-0.026316</td>
      <td>38</td>
      <td>0.710526</td>
      <td>10</td>
      <td>0.800000</td>
      <td>0.000000</td>
      <td>20</td>
      <td>0.800000</td>
      <td>0.070175</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>19</td>
      <td>0.263158</td>
      <td>-0.105263</td>
      <td>38</td>
      <td>0.368421</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.289474</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.000000</td>
      <td>38</td>
      <td>0.315789</td>
      <td>10</td>
      <td>0.400000</td>
      <td>0.136842</td>
      <td>19</td>
      <td>0.263158</td>
      <td>0.019298</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>19</td>
      <td>0.421053</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.315789</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.289474</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.000000</td>
      <td>38</td>
      <td>0.315789</td>
      <td>10</td>
      <td>0.100000</td>
      <td>0.047368</td>
      <td>19</td>
      <td>0.052632</td>
      <td>0.059649</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>19</td>
      <td>0.894737</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.789474</td>
      <td>19</td>
      <td>0.947368</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.842105</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.000000</td>
      <td>38</td>
      <td>0.526316</td>
      <td>9</td>
      <td>0.666667</td>
      <td>0.035088</td>
      <td>19</td>
      <td>0.631579</td>
      <td>0.081871</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>19</td>
      <td>0.210526</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.131579</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>10</td>
      <td>0.100000</td>
      <td>-0.005263</td>
      <td>19</td>
      <td>0.105263</td>
      <td>0.036842</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>19</td>
      <td>0.421053</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.473684</td>
      <td>9</td>
      <td>0.222222</td>
      <td>0.055556</td>
      <td>18</td>
      <td>0.166667</td>
      <td>0.055556</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>19</td>
      <td>0.421053</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.578947</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.473684</td>
      <td>19</td>
      <td>0.473684</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.526316</td>
      <td>9</td>
      <td>0.555556</td>
      <td>0.166667</td>
      <td>18</td>
      <td>0.388889</td>
      <td>0.099415</td>
    </tr>
    <tr>
      <th>Chelsea FC</th>
      <td>19</td>
      <td>0.631579</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.552632</td>
      <td>19</td>
      <td>0.578947</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.526316</td>
      <td>19</td>
      <td>0.473684</td>
      <td>-0.026316</td>
      <td>38</td>
      <td>0.500000</td>
      <td>10</td>
      <td>0.500000</td>
      <td>-0.100000</td>
      <td>20</td>
      <td>0.600000</td>
      <td>0.010526</td>
    </tr>
  </tbody>
</table>