<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Season</th>
      <th colspan="5" halign="left">2018</th>
      <th colspan="5" halign="left">2019</th>
      <th colspan="5" halign="left">2020</th>
      <th colspan="5" halign="left">2021</th>
      <th>TotalHomeAdvantage</th>
    </tr>
    <tr>
      <th></th>
      <th colspan="2" halign="left">Home</th>
      <th>HomeAdvantage</th>
      <th colspan="2" halign="left">Overall</th>
      <th colspan="2" halign="left">Home</th>
      <th>HomeAdvantage</th>
      <th colspan="2" halign="left">Overall</th>
      <th colspan="2" halign="left">Home</th>
      <th>HomeAdvantage</th>
      <th colspan="2" halign="left">Overall</th>
      <th colspan="2" halign="left">Home</th>
      <th>HomeAdvantage</th>
      <th colspan="2" halign="left">Overall</th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
      <th>Played</th>
      <th>WinRatio</th>
      <th></th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Arsenal FC</th>
      <td>19</td>
      <td>0.736842</td>
      <td>0.184211</td>
      <td>38</td>
      <td>0.552632</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.157895</td>
      <td>38</td>
      <td>0.368421</td>
      <td>19</td>
      <td>0.421053</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.473684</td>
      <td>7</td>
      <td>0.714286</td>
      <td>0.175824</td>
      <td>13</td>
      <td>0.538462</td>
      <td>0.171053</td>
    </tr>
    <tr>
      <th>Sheffield United FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.157895</td>
      <td>38</td>
      <td>0.368421</td>
      <td>19</td>
      <td>0.263158</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.184211</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0.157895</td>
    </tr>
    <tr>
      <th>Fulham FC</th>
      <td>19</td>
      <td>0.315789</td>
      <td>0.131579</td>
      <td>38</td>
      <td>0.184211</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>19</td>
      <td>0.105263</td>
      <td>-0.026316</td>
      <td>38</td>
      <td>0.131579</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0.131579</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>19</td>
      <td>0.368421</td>
      <td>0.131579</td>
      <td>38</td>
      <td>0.236842</td>
      <td>19</td>
      <td>0.368421</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.421053</td>
      <td>6</td>
      <td>0.500000</td>
      <td>0.115385</td>
      <td>13</td>
      <td>0.384615</td>
      <td>0.131579</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>19</td>
      <td>0.631579</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.605263</td>
      <td>19</td>
      <td>0.631579</td>
      <td>0.210526</td>
      <td>38</td>
      <td>0.421053</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.473684</td>
      <td>6</td>
      <td>0.666667</td>
      <td>0.166667</td>
      <td>12</td>
      <td>0.500000</td>
      <td>0.118421</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>19</td>
      <td>0.947368</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.842105</td>
      <td>19</td>
      <td>0.789474</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.684211</td>
      <td>19</td>
      <td>0.684211</td>
      <td>-0.026316</td>
      <td>38</td>
      <td>0.710526</td>
      <td>7</td>
      <td>0.714286</td>
      <td>0.021978</td>
      <td>13</td>
      <td>0.692308</td>
      <td>0.105263</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>19</td>
      <td>0.894737</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.789474</td>
      <td>19</td>
      <td>0.947368</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.842105</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.000000</td>
      <td>38</td>
      <td>0.526316</td>
      <td>7</td>
      <td>0.571429</td>
      <td>-0.043956</td>
      <td>13</td>
      <td>0.615385</td>
      <td>0.105263</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>19</td>
      <td>0.526316</td>
      <td>0.131579</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.421053</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.342105</td>
      <td>19</td>
      <td>0.315789</td>
      <td>-0.131579</td>
      <td>38</td>
      <td>0.447368</td>
      <td>6</td>
      <td>0.500000</td>
      <td>0.192308</td>
      <td>13</td>
      <td>0.307692</td>
      <td>0.105263</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>19</td>
      <td>0.421053</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.368421</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.210526</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>6</td>
      <td>0.333333</td>
      <td>0.025641</td>
      <td>13</td>
      <td>0.307692</td>
      <td>0.078947</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>19</td>
      <td>0.210526</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.131579</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>7</td>
      <td>0.142857</td>
      <td>0.000000</td>
      <td>14</td>
      <td>0.142857</td>
      <td>0.078947</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>19</td>
      <td>0.421053</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.578947</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.473684</td>
      <td>19</td>
      <td>0.473684</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.526316</td>
      <td>7</td>
      <td>0.428571</td>
      <td>0.043956</td>
      <td>13</td>
      <td>0.384615</td>
      <td>0.065789</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>19</td>
      <td>0.421053</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.315789</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.289474</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.000000</td>
      <td>38</td>
      <td>0.315789</td>
      <td>7</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>14</td>
      <td>0.000000</td>
      <td>0.065789</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>19</td>
      <td>0.526316</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.421053</td>
      <td>19</td>
      <td>0.421053</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.368421</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.315789</td>
      <td>6</td>
      <td>0.500000</td>
      <td>0.038462</td>
      <td>13</td>
      <td>0.461538</td>
      <td>0.065789</td>
    </tr>
    <tr>
      <th>Chelsea FC</th>
      <td>19</td>
      <td>0.631579</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.552632</td>
      <td>19</td>
      <td>0.578947</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.526316</td>
      <td>19</td>
      <td>0.473684</td>
      <td>-0.026316</td>
      <td>38</td>
      <td>0.500000</td>
      <td>7</td>
      <td>0.571429</td>
      <td>-0.120879</td>
      <td>13</td>
      <td>0.692308</td>
      <td>0.065789</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>19</td>
      <td>0.473684</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.263158</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.500000</td>
      <td>6</td>
      <td>0.500000</td>
      <td>-0.038462</td>
      <td>13</td>
      <td>0.538462</td>
      <td>0.065789</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>19</td>
      <td>0.315789</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.236842</td>
      <td>19</td>
      <td>0.263158</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.236842</td>
      <td>19</td>
      <td>0.210526</td>
      <td>-0.026316</td>
      <td>38</td>
      <td>0.236842</td>
      <td>7</td>
      <td>0.285714</td>
      <td>-0.021978</td>
      <td>13</td>
      <td>0.307692</td>
      <td>0.052632</td>
    </tr>
    <tr>
      <th>Cardiff City FC</th>
      <td>19</td>
      <td>0.315789</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.263158</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0.052632</td>
    </tr>
    <tr>
      <th>AFC Bournemouth</th>
      <td>19</td>
      <td>0.421053</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.342105</td>
      <td>19</td>
      <td>0.263158</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.236842</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0.052632</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>19</td>
      <td>0.368421</td>
      <td>0.078947</td>
      <td>38</td>
      <td>0.289474</td>
      <td>19</td>
      <td>0.421053</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.210526</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.263158</td>
      <td>6</td>
      <td>0.166667</td>
      <td>0.083333</td>
      <td>12</td>
      <td>0.083333</td>
      <td>0.052632</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>19</td>
      <td>0.526316</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.500000</td>
      <td>19</td>
      <td>0.526316</td>
      <td>0.052632</td>
      <td>38</td>
      <td>0.473684</td>
      <td>19</td>
      <td>0.473684</td>
      <td>-0.078947</td>
      <td>38</td>
      <td>0.552632</td>
      <td>6</td>
      <td>0.333333</td>
      <td>-0.051282</td>
      <td>13</td>
      <td>0.384615</td>
      <td>0.039474</td>
    </tr>
    <tr>
      <th>Huddersfield Town AFC</th>
      <td>19</td>
      <td>0.105263</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.078947</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0.026316</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>19</td>
      <td>0.421053</td>
      <td>-0.052632</td>
      <td>38</td>
      <td>0.473684</td>
      <td>7</td>
      <td>0.285714</td>
      <td>0.071429</td>
      <td>14</td>
      <td>0.214286</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>West Bromwich Albion FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>19</td>
      <td>0.157895</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.131579</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>7</td>
      <td>0.285714</td>
      <td>-0.021978</td>
      <td>13</td>
      <td>0.307692</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>19</td>
      <td>0.263158</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.236842</td>
      <td>19</td>
      <td>0.315789</td>
      <td>-0.078947</td>
      <td>38</td>
      <td>0.394737</td>
      <td>19</td>
      <td>0.421053</td>
      <td>0.105263</td>
      <td>38</td>
      <td>0.315789</td>
      <td>6</td>
      <td>0.333333</td>
      <td>0.102564</td>
      <td>13</td>
      <td>0.230769</td>
      <td>-0.026316</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>19</td>
      <td>0.263158</td>
      <td>-0.105263</td>
      <td>38</td>
      <td>0.368421</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.026316</td>
      <td>38</td>
      <td>0.289474</td>
      <td>19</td>
      <td>0.315789</td>
      <td>0.000000</td>
      <td>38</td>
      <td>0.315789</td>
      <td>7</td>
      <td>0.285714</td>
      <td>0.071429</td>
      <td>14</td>
      <td>0.214286</td>
      <td>-0.039474</td>
    </tr>
  </tbody>
</table>