<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Matchday</th>
      <th colspan="7" halign="left">1</th>
      <th colspan="7" halign="left">2</th>
      <th colspan="7" halign="left">3</th>
      <th colspan="7" halign="left">4</th>
      <th colspan="7" halign="left">5</th>
      <th colspan="7" halign="left">6</th>
      <th colspan="7" halign="left">7</th>
      <th colspan="7" halign="left">8</th>
      <th colspan="7" halign="left">9</th>
      <th colspan="7" halign="left">10</th>
    </tr>
    <tr>
      <th></th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
      <th>AtHome</th>
      <th>Date</th>
      <th>Form</th>
      <th>GD</th>
      <th>Position</th>
      <th>Team</th>
      <th>WonAgainstStarTeam</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chelsea FC</th>
      <td>True</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>3</td>
      <td>2</td>
      <td>CRY</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-22 15:30:00</td>
      <td>WW</td>
      <td>5</td>
      <td>1</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-28 16:30:00</td>
      <td>WWD</td>
      <td>5</td>
      <td>2</td>
      <td>LIV</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-11 16:30:00</td>
      <td>WWDW</td>
      <td>8</td>
      <td>1</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-19 15:30:00</td>
      <td>WWDWW</td>
      <td>11</td>
      <td>1</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-25 11:30:00</td>
      <td>WDWWL</td>
      <td>10</td>
      <td>3</td>
      <td>MCI</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-02 14:00:00</td>
      <td>DWWLW</td>
      <td>12</td>
      <td>1</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-16 16:30:00</td>
      <td>WWLWW</td>
      <td>13</td>
      <td>1</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-23 11:30:00</td>
      <td>WLWWW</td>
      <td>20</td>
      <td>1</td>
      <td>NOR</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-30 14:00:00</td>
      <td>LWWWW</td>
      <td>23</td>
      <td>1</td>
      <td>NEW</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>False</td>
      <td>2021-08-14 16:30:00</td>
      <td>W</td>
      <td>3</td>
      <td>3</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-21 11:30:00</td>
      <td>WW</td>
      <td>5</td>
      <td>2</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-28 16:30:00</td>
      <td>WWD</td>
      <td>5</td>
      <td>3</td>
      <td>CHE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-12 15:30:00</td>
      <td>WWDW</td>
      <td>8</td>
      <td>2</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-18 14:00:00</td>
      <td>WWDWW</td>
      <td>11</td>
      <td>2</td>
      <td>CRY</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-25 16:30:00</td>
      <td>WDWWD</td>
      <td>11</td>
      <td>1</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-03 15:30:00</td>
      <td>DWWDD</td>
      <td>11</td>
      <td>2</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-16 11:30:00</td>
      <td>WWDDW</td>
      <td>16</td>
      <td>2</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-24 15:30:00</td>
      <td>WDDWW</td>
      <td>21</td>
      <td>2</td>
      <td>MUN</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-30 14:00:00</td>
      <td>DDWWD</td>
      <td>21</td>
      <td>2</td>
      <td>BHA</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>False</td>
      <td>2021-08-15 15:30:00</td>
      <td>L</td>
      <td>-1</td>
      <td>14</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-21 14:00:00</td>
      <td>LW</td>
      <td>4</td>
      <td>9</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-28 11:30:00</td>
      <td>LWW</td>
      <td>9</td>
      <td>7</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-11 14:00:00</td>
      <td>LWWW</td>
      <td>10</td>
      <td>5</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-18 14:00:00</td>
      <td>LWWWD</td>
      <td>10</td>
      <td>5</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-25 11:30:00</td>
      <td>WWWDW</td>
      <td>11</td>
      <td>2</td>
      <td>CHE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-03 15:30:00</td>
      <td>WWDWD</td>
      <td>11</td>
      <td>3</td>
      <td>LIV</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-16 14:00:00</td>
      <td>WDWDW</td>
      <td>13</td>
      <td>3</td>
      <td>BUR</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-23 16:30:00</td>
      <td>DWDWW</td>
      <td>16</td>
      <td>3</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-30 14:00:00</td>
      <td>WDWWL</td>
      <td>14</td>
      <td>3</td>
      <td>CRY</td>
      <td>False</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>False</td>
      <td>2021-08-15 13:00:00</td>
      <td>W</td>
      <td>2</td>
      <td>6</td>
      <td>NEW</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-23 19:00:00</td>
      <td>WW</td>
      <td>5</td>
      <td>3</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-28 14:00:00</td>
      <td>WWD</td>
      <td>5</td>
      <td>4</td>
      <td>CRY</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-11 14:00:00</td>
      <td>WWDD</td>
      <td>5</td>
      <td>8</td>
      <td>SOU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-19 13:00:00</td>
      <td>WWDDL</td>
      <td>4</td>
      <td>8</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-25 14:00:00</td>
      <td>WDDLW</td>
      <td>5</td>
      <td>7</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-03 13:00:00</td>
      <td>DDLWL</td>
      <td>4</td>
      <td>9</td>
      <td>BRE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-17 13:00:00</td>
      <td>DLWLW</td>
      <td>5</td>
      <td>7</td>
      <td>EVE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-24 13:00:00</td>
      <td>LWLWW</td>
      <td>6</td>
      <td>4</td>
      <td>TOT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-31 16:30:00</td>
      <td>WLWWW</td>
      <td>9</td>
      <td>4</td>
      <td>AVL</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>True</td>
      <td>2021-08-14 11:30:00</td>
      <td>W</td>
      <td>4</td>
      <td>1</td>
      <td>LEE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-22 13:00:00</td>
      <td>WD</td>
      <td>4</td>
      <td>6</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-29 15:30:00</td>
      <td>WDW</td>
      <td>5</td>
      <td>5</td>
      <td>WOL</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-11 14:00:00</td>
      <td>WDWW</td>
      <td>8</td>
      <td>3</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-19 13:00:00</td>
      <td>WDWWW</td>
      <td>9</td>
      <td>3</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-25 11:30:00</td>
      <td>DWWWL</td>
      <td>8</td>
      <td>4</td>
      <td>AVL</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-02 11:30:00</td>
      <td>WWWLD</td>
      <td>8</td>
      <td>4</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-16 14:00:00</td>
      <td>WWLDL</td>
      <td>6</td>
      <td>6</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-24 15:30:00</td>
      <td>WLDLL</td>
      <td>1</td>
      <td>7</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-30 16:30:00</td>
      <td>LDLLW</td>
      <td>4</td>
      <td>5</td>
      <td>TOT</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>False</td>
      <td>2021-08-13 19:00:00</td>
      <td>L</td>
      <td>-2</td>
      <td>15</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-22 15:30:00</td>
      <td>LL</td>
      <td>-4</td>
      <td>18</td>
      <td>CHE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-28 11:30:00</td>
      <td>LLL</td>
      <td>-9</td>
      <td>19</td>
      <td>MCI</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-11 14:00:00</td>
      <td>LLLW</td>
      <td>-8</td>
      <td>16</td>
      <td>NOR</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-18 14:00:00</td>
      <td>LLLWW</td>
      <td>-7</td>
      <td>13</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-26 15:30:00</td>
      <td>LLWWW</td>
      <td>-5</td>
      <td>11</td>
      <td>TOT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-02 16:30:00</td>
      <td>LWWWD</td>
      <td>-5</td>
      <td>11</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-18 19:00:00</td>
      <td>WWWDD</td>
      <td>-5</td>
      <td>12</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-22 19:00:00</td>
      <td>WWDDW</td>
      <td>-3</td>
      <td>10</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-30 11:30:00</td>
      <td>WDDWW</td>
      <td>-1</td>
      <td>6</td>
      <td>LEI</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>False</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>1</td>
      <td>9</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-21 16:30:00</td>
      <td>WW</td>
      <td>3</td>
      <td>4</td>
      <td>WAT</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-28 14:00:00</td>
      <td>WWL</td>
      <td>1</td>
      <td>8</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-11 14:00:00</td>
      <td>WWLW</td>
      <td>2</td>
      <td>6</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-19 13:00:00</td>
      <td>WWLWW</td>
      <td>3</td>
      <td>4</td>
      <td>LEI</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-27 19:00:00</td>
      <td>WLWWD</td>
      <td>3</td>
      <td>6</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-02 16:30:00</td>
      <td>LWWDD</td>
      <td>3</td>
      <td>6</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-16 14:00:00</td>
      <td>WWDDD</td>
      <td>3</td>
      <td>4</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-23 16:30:00</td>
      <td>WDDDL</td>
      <td>0</td>
      <td>5</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-30 14:00:00</td>
      <td>DDDLD</td>
      <td>0</td>
      <td>7</td>
      <td>LIV</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>True</td>
      <td>2021-08-15 15:30:00</td>
      <td>W</td>
      <td>1</td>
      <td>10</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-22 13:00:00</td>
      <td>WW</td>
      <td>2</td>
      <td>5</td>
      <td>WOL</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-29 13:00:00</td>
      <td>WWW</td>
      <td>3</td>
      <td>1</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-11 11:30:00</td>
      <td>WWWL</td>
      <td>0</td>
      <td>7</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-19 15:30:00</td>
      <td>WWWLL</td>
      <td>-3</td>
      <td>7</td>
      <td>CHE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-26 15:30:00</td>
      <td>WWLLL</td>
      <td>-5</td>
      <td>10</td>
      <td>ARS</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-03 13:00:00</td>
      <td>WLLLW</td>
      <td>-4</td>
      <td>8</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-17 15:30:00</td>
      <td>LLLWW</td>
      <td>-3</td>
      <td>5</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-24 13:00:00</td>
      <td>LLWWL</td>
      <td>-4</td>
      <td>6</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-30 16:30:00</td>
      <td>LWWLL</td>
      <td>-7</td>
      <td>8</td>
      <td>MUN</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>True</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>1</td>
      <td>8</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-23 19:00:00</td>
      <td>WL</td>
      <td>-2</td>
      <td>12</td>
      <td>WHU</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-28 14:00:00</td>
      <td>WLW</td>
      <td>-1</td>
      <td>9</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-11 14:00:00</td>
      <td>WLWL</td>
      <td>-2</td>
      <td>9</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-19 13:00:00</td>
      <td>WLWLL</td>
      <td>-3</td>
      <td>12</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-25 14:00:00</td>
      <td>LWLLD</td>
      <td>-3</td>
      <td>13</td>
      <td>BUR</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-03 13:00:00</td>
      <td>WLLDD</td>
      <td>-3</td>
      <td>13</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-16 14:00:00</td>
      <td>LLDDW</td>
      <td>-1</td>
      <td>11</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-24 13:00:00</td>
      <td>LDDWW</td>
      <td>0</td>
      <td>9</td>
      <td>BRE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-30 11:30:00</td>
      <td>DDWWL</td>
      <td>-2</td>
      <td>9</td>
      <td>ARS</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>True</td>
      <td>2021-08-13 19:00:00</td>
      <td>W</td>
      <td>2</td>
      <td>4</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-21 14:00:00</td>
      <td>WD</td>
      <td>2</td>
      <td>7</td>
      <td>CRY</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-28 14:00:00</td>
      <td>WDD</td>
      <td>2</td>
      <td>10</td>
      <td>AVL</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-11 14:00:00</td>
      <td>WDDL</td>
      <td>1</td>
      <td>10</td>
      <td>BHA</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-18 11:30:00</td>
      <td>WDDLW</td>
      <td>3</td>
      <td>9</td>
      <td>WOL</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-25 16:30:00</td>
      <td>DDLWD</td>
      <td>3</td>
      <td>9</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-03 13:00:00</td>
      <td>DLWDW</td>
      <td>4</td>
      <td>7</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-16 16:30:00</td>
      <td>LWDWL</td>
      <td>3</td>
      <td>9</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-24 13:00:00</td>
      <td>WDWLL</td>
      <td>2</td>
      <td>12</td>
      <td>LEI</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-30 14:00:00</td>
      <td>DWLLL</td>
      <td>0</td>
      <td>10</td>
      <td>BUR</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>False</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>-3</td>
      <td>18</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-21 14:00:00</td>
      <td>LD</td>
      <td>-3</td>
      <td>14</td>
      <td>BRE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-28 14:00:00</td>
      <td>LDD</td>
      <td>-3</td>
      <td>14</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-11 11:30:00</td>
      <td>LDDW</td>
      <td>0</td>
      <td>11</td>
      <td>TOT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-18 14:00:00</td>
      <td>LDDWL</td>
      <td>-3</td>
      <td>14</td>
      <td>LIV</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-27 19:00:00</td>
      <td>DDWLD</td>
      <td>-3</td>
      <td>15</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-03 13:00:00</td>
      <td>DWLDD</td>
      <td>-3</td>
      <td>15</td>
      <td>LEI</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-18 19:00:00</td>
      <td>WLDDD</td>
      <td>-3</td>
      <td>14</td>
      <td>ARS</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-23 14:00:00</td>
      <td>LDDDD</td>
      <td>-3</td>
      <td>15</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-30 14:00:00</td>
      <td>DDDDW</td>
      <td>-1</td>
      <td>11</td>
      <td>MCI</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>False</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>-2</td>
      <td>16</td>
      <td>EVE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-22 13:00:00</td>
      <td>LD</td>
      <td>-2</td>
      <td>13</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-28 14:00:00</td>
      <td>LDD</td>
      <td>-2</td>
      <td>13</td>
      <td>NEW</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-11 14:00:00</td>
      <td>LDDD</td>
      <td>-2</td>
      <td>14</td>
      <td>WHU</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-18 14:00:00</td>
      <td>LDDDD</td>
      <td>-2</td>
      <td>15</td>
      <td>MCI</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-26 13:00:00</td>
      <td>DDDDL</td>
      <td>-3</td>
      <td>16</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-02 14:00:00</td>
      <td>DDDLL</td>
      <td>-5</td>
      <td>17</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-16 14:00:00</td>
      <td>DDLLW</td>
      <td>-4</td>
      <td>15</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-23 14:00:00</td>
      <td>DLLWD</td>
      <td>-4</td>
      <td>16</td>
      <td>BUR</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-30 14:00:00</td>
      <td>LLWDW</td>
      <td>-3</td>
      <td>12</td>
      <td>WAT</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>False</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>-1</td>
      <td>11</td>
      <td>WAT</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-21 14:00:00</td>
      <td>LW</td>
      <td>1</td>
      <td>10</td>
      <td>NEW</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-28 14:00:00</td>
      <td>LWD</td>
      <td>1</td>
      <td>11</td>
      <td>BRE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-11 16:30:00</td>
      <td>LWDL</td>
      <td>-2</td>
      <td>12</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-18 16:30:00</td>
      <td>LWDLW</td>
      <td>1</td>
      <td>10</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-25 11:30:00</td>
      <td>WDLWW</td>
      <td>2</td>
      <td>8</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-03 13:00:00</td>
      <td>DLWWL</td>
      <td>1</td>
      <td>10</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-16 14:00:00</td>
      <td>LWWLL</td>
      <td>0</td>
      <td>13</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-22 19:00:00</td>
      <td>WWLLL</td>
      <td>-2</td>
      <td>13</td>
      <td>ARS</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-31 16:30:00</td>
      <td>WLLLL</td>
      <td>-5</td>
      <td>13</td>
      <td>WHU</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>True</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>1</td>
      <td>7</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-21 16:30:00</td>
      <td>WL</td>
      <td>-1</td>
      <td>11</td>
      <td>BHA</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-29 13:00:00</td>
      <td>WLL</td>
      <td>-2</td>
      <td>12</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-11 14:00:00</td>
      <td>WLLL</td>
      <td>-4</td>
      <td>15</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-18 14:00:00</td>
      <td>WLLLW</td>
      <td>-2</td>
      <td>11</td>
      <td>NOR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-25 14:00:00</td>
      <td>LLLWD</td>
      <td>-2</td>
      <td>12</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-02 14:00:00</td>
      <td>LLWDL</td>
      <td>-3</td>
      <td>14</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-16 11:30:00</td>
      <td>LWDLL</td>
      <td>-8</td>
      <td>16</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-23 14:00:00</td>
      <td>WDLLW</td>
      <td>-5</td>
      <td>14</td>
      <td>EVE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-30 14:00:00</td>
      <td>DLLWL</td>
      <td>-6</td>
      <td>14</td>
      <td>SOU</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>False</td>
      <td>2021-08-14 11:30:00</td>
      <td>L</td>
      <td>-4</td>
      <td>20</td>
      <td>MUN</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-21 14:00:00</td>
      <td>LD</td>
      <td>-4</td>
      <td>15</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-29 13:00:00</td>
      <td>LDD</td>
      <td>-4</td>
      <td>15</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-12 15:30:00</td>
      <td>LDDL</td>
      <td>-7</td>
      <td>17</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-17 19:00:00</td>
      <td>LDDLD</td>
      <td>-7</td>
      <td>17</td>
      <td>NEW</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-25 14:00:00</td>
      <td>DDLDL</td>
      <td>-8</td>
      <td>18</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-02 14:00:00</td>
      <td>DLDLW</td>
      <td>-7</td>
      <td>16</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-16 14:00:00</td>
      <td>LDLWL</td>
      <td>-8</td>
      <td>17</td>
      <td>SOU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-23 14:00:00</td>
      <td>DLWLD</td>
      <td>-8</td>
      <td>17</td>
      <td>WOL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-31 14:00:00</td>
      <td>LWLDW</td>
      <td>-7</td>
      <td>15</td>
      <td>NOR</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>True</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>-1</td>
      <td>13</td>
      <td>BHA</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-21 11:30:00</td>
      <td>LL</td>
      <td>-3</td>
      <td>17</td>
      <td>LIV</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-29 13:00:00</td>
      <td>LLD</td>
      <td>-3</td>
      <td>16</td>
      <td>LEE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-13 19:00:00</td>
      <td>LLDL</td>
      <td>-5</td>
      <td>18</td>
      <td>EVE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-18 14:00:00</td>
      <td>LLDLL</td>
      <td>-6</td>
      <td>19</td>
      <td>ARS</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-25 14:00:00</td>
      <td>LDLLD</td>
      <td>-6</td>
      <td>19</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-02 14:00:00</td>
      <td>DLLDD</td>
      <td>-6</td>
      <td>18</td>
      <td>NOR</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-16 14:00:00</td>
      <td>LLDDL</td>
      <td>-8</td>
      <td>18</td>
      <td>MCI</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-23 14:00:00</td>
      <td>LDDLD</td>
      <td>-8</td>
      <td>18</td>
      <td>SOU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-30 14:00:00</td>
      <td>DDLDW</td>
      <td>-6</td>
      <td>16</td>
      <td>BRE</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>True</td>
      <td>2021-08-15 13:00:00</td>
      <td>L</td>
      <td>-2</td>
      <td>17</td>
      <td>WHU</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-21 14:00:00</td>
      <td>LL</td>
      <td>-4</td>
      <td>19</td>
      <td>AVL</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-28 14:00:00</td>
      <td>LLD</td>
      <td>-4</td>
      <td>17</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-11 14:00:00</td>
      <td>LLDL</td>
      <td>-7</td>
      <td>19</td>
      <td>MUN</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-17 19:00:00</td>
      <td>LLDLD</td>
      <td>-7</td>
      <td>18</td>
      <td>LEE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-25 14:00:00</td>
      <td>LDLDD</td>
      <td>-7</td>
      <td>17</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-02 14:00:00</td>
      <td>DLDDL</td>
      <td>-8</td>
      <td>19</td>
      <td>WOL</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-17 15:30:00</td>
      <td>LDDLL</td>
      <td>-9</td>
      <td>19</td>
      <td>TOT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-23 14:00:00</td>
      <td>DDLLD</td>
      <td>-9</td>
      <td>19</td>
      <td>CRY</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-30 14:00:00</td>
      <td>DLLDL</td>
      <td>-12</td>
      <td>17</td>
      <td>CHE</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>True</td>
      <td>2021-08-14 16:30:00</td>
      <td>L</td>
      <td>-3</td>
      <td>19</td>
      <td>LIV</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-21 14:00:00</td>
      <td>LL</td>
      <td>-8</td>
      <td>20</td>
      <td>MCI</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-28 14:00:00</td>
      <td>LLL</td>
      <td>-9</td>
      <td>20</td>
      <td>LEI</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-11 14:00:00</td>
      <td>LLLL</td>
      <td>-10</td>
      <td>20</td>
      <td>ARS</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-18 14:00:00</td>
      <td>LLLLL</td>
      <td>-12</td>
      <td>20</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-25 14:00:00</td>
      <td>LLLLL</td>
      <td>-14</td>
      <td>20</td>
      <td>EVE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-02 14:00:00</td>
      <td>LLLLD</td>
      <td>-14</td>
      <td>20</td>
      <td>BUR</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-16 14:00:00</td>
      <td>LLLDD</td>
      <td>-14</td>
      <td>20</td>
      <td>BHA</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-23 11:30:00</td>
      <td>LLDDL</td>
      <td>-21</td>
      <td>20</td>
      <td>CHE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-31 14:00:00</td>
      <td>LDDLL</td>
      <td>-22</td>
      <td>18</td>
      <td>LEE</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>True</td>
      <td>2021-08-14 14:00:00</td>
      <td>W</td>
      <td>2</td>
      <td>5</td>
      <td>SOU</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-21 14:00:00</td>
      <td>WD</td>
      <td>2</td>
      <td>8</td>
      <td>LEE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-08-28 14:00:00</td>
      <td>WDW</td>
      <td>4</td>
      <td>6</td>
      <td>BHA</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-13 19:00:00</td>
      <td>WDWW</td>
      <td>6</td>
      <td>4</td>
      <td>BUR</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-18 16:30:00</td>
      <td>WDWWL</td>
      <td>3</td>
      <td>6</td>
      <td>AVL</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-25 14:00:00</td>
      <td>DWWLW</td>
      <td>5</td>
      <td>5</td>
      <td>NOR</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-02 11:30:00</td>
      <td>WWLWD</td>
      <td>5</td>
      <td>5</td>
      <td>MUN</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-17 13:00:00</td>
      <td>WLWDL</td>
      <td>4</td>
      <td>8</td>
      <td>WHU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-23 14:00:00</td>
      <td>LWDLL</td>
      <td>1</td>
      <td>8</td>
      <td>WAT</td>
      <td>False</td>
      <td>False</td>
      <td>2021-11-01 20:00:00</td>
      <td>WDLL</td>
      <td>NaN</td>
      <td>19</td>
      <td>WOL</td>
      <td>False</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>False</td>
      <td>2021-08-14 14:00:00</td>
      <td>L</td>
      <td>-1</td>
      <td>12</td>
      <td>LEI</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-22 13:00:00</td>
      <td>LL</td>
      <td>-2</td>
      <td>16</td>
      <td>TOT</td>
      <td>False</td>
      <td>True</td>
      <td>2021-08-29 15:30:00</td>
      <td>LLL</td>
      <td>-3</td>
      <td>18</td>
      <td>MUN</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-11 14:00:00</td>
      <td>LLLW</td>
      <td>-1</td>
      <td>13</td>
      <td>WAT</td>
      <td>False</td>
      <td>True</td>
      <td>2021-09-18 11:30:00</td>
      <td>LLLWL</td>
      <td>-3</td>
      <td>16</td>
      <td>BRE</td>
      <td>False</td>
      <td>False</td>
      <td>2021-09-26 13:00:00</td>
      <td>LLWLW</td>
      <td>-2</td>
      <td>14</td>
      <td>SOU</td>
      <td>False</td>
      <td>True</td>
      <td>2021-10-02 14:00:00</td>
      <td>LWLWW</td>
      <td>-1</td>
      <td>12</td>
      <td>NEW</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-16 14:00:00</td>
      <td>WLWWW</td>
      <td>0</td>
      <td>10</td>
      <td>AVL</td>
      <td>False</td>
      <td>False</td>
      <td>2021-10-23 14:00:00</td>
      <td>LWWWD</td>
      <td>0</td>
      <td>11</td>
      <td>LEE</td>
      <td>False</td>
      <td>True</td>
      <td>2021-11-01 20:00:00</td>
      <td>WWWD</td>
      <td>NaN</td>
      <td>20</td>
      <td>EVE</td>
      <td>False</td>
    </tr>
  </tbody>
</table>