<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Matchday</th>
      <th colspan="3" halign="left">1</th>
      <th colspan="3" halign="left">2</th>
      <th colspan="3" halign="left">3</th>
      <th colspan="3" halign="left">4</th>
      <th colspan="3" halign="left">5</th>
      <th colspan="3" halign="left">6</th>
      <th colspan="3" halign="left">7</th>
      <th colspan="3" halign="left">8</th>
      <th colspan="3" halign="left">9</th>
      <th colspan="3" halign="left">10</th>
      <th colspan="5" halign="left">1</th>
      <th colspan="5" halign="left">2</th>
      <th colspan="5" halign="left">3</th>
      <th colspan="5" halign="left">4</th>
      <th colspan="5" halign="left">5</th>
      <th colspan="5" halign="left">6</th>
      <th colspan="5" halign="left">7</th>
      <th colspan="5" halign="left">8</th>
      <th colspan="5" halign="left">9</th>
      <th colspan="5" halign="left">10</th>
    </tr>
    <tr>
      <th></th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>Date</th>
      <th>AtHome</th>
      <th>Team</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
      <th>GD</th>
      <th>Points</th>
      <th>Position</th>
      <th>WonAgainstStarTeam</th>
      <th>Form</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chelsea FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>True</td>
      <td>CRY</td>
      <td>2021-08-22 15:30:00</td>
      <td>False</td>
      <td>ARS</td>
      <td>2021-08-28 16:30:00</td>
      <td>False</td>
      <td>LIV</td>
      <td>2021-09-11 16:30:00</td>
      <td>True</td>
      <td>AVL</td>
      <td>2021-09-19 15:30:00</td>
      <td>False</td>
      <td>TOT</td>
      <td>2021-09-25 11:30:00</td>
      <td>True</td>
      <td>MCI</td>
      <td>2021-10-02 14:00:00</td>
      <td>True</td>
      <td>SOU</td>
      <td>2021-10-16 16:30:00</td>
      <td>False</td>
      <td>BRE</td>
      <td>2021-10-23 11:30:00</td>
      <td>True</td>
      <td>NOR</td>
      <td>2021-10-30 14:00:00</td>
      <td>False</td>
      <td>NEW</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>False</td>
      <td>W</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>False</td>
      <td>WW</td>
      <td>5</td>
      <td>7</td>
      <td>2</td>
      <td>False</td>
      <td>DWW</td>
      <td>8</td>
      <td>10</td>
      <td>1</td>
      <td>False</td>
      <td>WDWW</td>
      <td>11</td>
      <td>13</td>
      <td>1</td>
      <td>False</td>
      <td>WWDWW</td>
      <td>10</td>
      <td>13</td>
      <td>3</td>
      <td>False</td>
      <td>LWWDW</td>
      <td>12</td>
      <td>16</td>
      <td>1</td>
      <td>False</td>
      <td>WLWWD</td>
      <td>13</td>
      <td>19</td>
      <td>1</td>
      <td>False</td>
      <td>WWLWW</td>
      <td>20</td>
      <td>22</td>
      <td>1</td>
      <td>False</td>
      <td>WWWLW</td>
      <td>23</td>
      <td>25</td>
      <td>1</td>
      <td>False</td>
      <td>WWWWL</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>2021-08-14 16:30:00</td>
      <td>False</td>
      <td>NOR</td>
      <td>2021-08-21 11:30:00</td>
      <td>True</td>
      <td>BUR</td>
      <td>2021-08-28 16:30:00</td>
      <td>True</td>
      <td>CHE</td>
      <td>2021-09-12 15:30:00</td>
      <td>False</td>
      <td>LEE</td>
      <td>2021-09-18 14:00:00</td>
      <td>True</td>
      <td>CRY</td>
      <td>2021-09-25 16:30:00</td>
      <td>False</td>
      <td>BRE</td>
      <td>2021-10-03 15:30:00</td>
      <td>True</td>
      <td>MCI</td>
      <td>2021-10-16 11:30:00</td>
      <td>False</td>
      <td>WAT</td>
      <td>2021-10-24 15:30:00</td>
      <td>False</td>
      <td>MUN</td>
      <td>2021-10-30 14:00:00</td>
      <td>True</td>
      <td>BHA</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>False</td>
      <td>W</td>
      <td>5</td>
      <td>6</td>
      <td>2</td>
      <td>False</td>
      <td>WW</td>
      <td>5</td>
      <td>7</td>
      <td>3</td>
      <td>False</td>
      <td>DWW</td>
      <td>8</td>
      <td>10</td>
      <td>2</td>
      <td>False</td>
      <td>WDWW</td>
      <td>11</td>
      <td>13</td>
      <td>2</td>
      <td>False</td>
      <td>WWDWW</td>
      <td>11</td>
      <td>14</td>
      <td>1</td>
      <td>False</td>
      <td>DWWDW</td>
      <td>11</td>
      <td>15</td>
      <td>2</td>
      <td>False</td>
      <td>DDWWD</td>
      <td>16</td>
      <td>18</td>
      <td>2</td>
      <td>False</td>
      <td>WDDWW</td>
      <td>21</td>
      <td>21</td>
      <td>2</td>
      <td>False</td>
      <td>WWDDW</td>
      <td>21</td>
      <td>22</td>
      <td>2</td>
      <td>False</td>
      <td>DWWDD</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>2021-08-15 15:30:00</td>
      <td>False</td>
      <td>TOT</td>
      <td>2021-08-21 14:00:00</td>
      <td>True</td>
      <td>NOR</td>
      <td>2021-08-28 11:30:00</td>
      <td>True</td>
      <td>ARS</td>
      <td>2021-09-11 14:00:00</td>
      <td>False</td>
      <td>LEI</td>
      <td>2021-09-18 14:00:00</td>
      <td>True</td>
      <td>SOU</td>
      <td>2021-09-25 11:30:00</td>
      <td>False</td>
      <td>CHE</td>
      <td>2021-10-03 15:30:00</td>
      <td>False</td>
      <td>LIV</td>
      <td>2021-10-16 14:00:00</td>
      <td>True</td>
      <td>BUR</td>
      <td>2021-10-23 16:30:00</td>
      <td>False</td>
      <td>BHA</td>
      <td>2021-10-30 14:00:00</td>
      <td>True</td>
      <td>CRY</td>
      <td>-1</td>
      <td>0</td>
      <td>14</td>
      <td>False</td>
      <td>L</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>False</td>
      <td>WL</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>False</td>
      <td>WWL</td>
      <td>10</td>
      <td>9</td>
      <td>5</td>
      <td>False</td>
      <td>WWWL</td>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>False</td>
      <td>DWWWL</td>
      <td>11</td>
      <td>13</td>
      <td>2</td>
      <td>False</td>
      <td>WDWWW</td>
      <td>11</td>
      <td>14</td>
      <td>3</td>
      <td>False</td>
      <td>DWDWW</td>
      <td>13</td>
      <td>17</td>
      <td>3</td>
      <td>False</td>
      <td>WDWDW</td>
      <td>16</td>
      <td>20</td>
      <td>3</td>
      <td>False</td>
      <td>WWDWD</td>
      <td>14</td>
      <td>20</td>
      <td>3</td>
      <td>False</td>
      <td>LWWDW</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>2021-08-15 13:00:00</td>
      <td>False</td>
      <td>NEW</td>
      <td>2021-08-23 19:00:00</td>
      <td>True</td>
      <td>LEI</td>
      <td>2021-08-28 14:00:00</td>
      <td>True</td>
      <td>CRY</td>
      <td>2021-09-11 14:00:00</td>
      <td>False</td>
      <td>SOU</td>
      <td>2021-09-19 13:00:00</td>
      <td>True</td>
      <td>MUN</td>
      <td>2021-09-25 14:00:00</td>
      <td>False</td>
      <td>LEE</td>
      <td>2021-10-03 13:00:00</td>
      <td>True</td>
      <td>BRE</td>
      <td>2021-10-17 13:00:00</td>
      <td>False</td>
      <td>EVE</td>
      <td>2021-10-24 13:00:00</td>
      <td>True</td>
      <td>TOT</td>
      <td>2021-10-31 16:30:00</td>
      <td>False</td>
      <td>AVL</td>
      <td>2</td>
      <td>3</td>
      <td>6</td>
      <td>False</td>
      <td>W</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>False</td>
      <td>WW</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
      <td>False</td>
      <td>DWW</td>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>False</td>
      <td>DDWW</td>
      <td>4</td>
      <td>8</td>
      <td>8</td>
      <td>False</td>
      <td>LDDWW</td>
      <td>5</td>
      <td>11</td>
      <td>7</td>
      <td>False</td>
      <td>WLDDW</td>
      <td>4</td>
      <td>11</td>
      <td>9</td>
      <td>False</td>
      <td>LWLDD</td>
      <td>5</td>
      <td>14</td>
      <td>7</td>
      <td>False</td>
      <td>WLWLD</td>
      <td>6</td>
      <td>17</td>
      <td>4</td>
      <td>False</td>
      <td>WWLWL</td>
      <td>9</td>
      <td>20</td>
      <td>4</td>
      <td>False</td>
      <td>WWWLW</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>2021-08-14 11:30:00</td>
      <td>True</td>
      <td>LEE</td>
      <td>2021-08-22 13:00:00</td>
      <td>False</td>
      <td>SOU</td>
      <td>2021-08-29 15:30:00</td>
      <td>False</td>
      <td>WOL</td>
      <td>2021-09-11 14:00:00</td>
      <td>True</td>
      <td>NEW</td>
      <td>2021-09-19 13:00:00</td>
      <td>False</td>
      <td>WHU</td>
      <td>2021-09-25 11:30:00</td>
      <td>True</td>
      <td>AVL</td>
      <td>2021-10-02 11:30:00</td>
      <td>True</td>
      <td>EVE</td>
      <td>2021-10-16 14:00:00</td>
      <td>False</td>
      <td>LEI</td>
      <td>2021-10-24 15:30:00</td>
      <td>True</td>
      <td>LIV</td>
      <td>2021-10-30 16:30:00</td>
      <td>False</td>
      <td>TOT</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>False</td>
      <td>W</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>False</td>
      <td>DW</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>False</td>
      <td>WDW</td>
      <td>8</td>
      <td>10</td>
      <td>3</td>
      <td>False</td>
      <td>WWDW</td>
      <td>9</td>
      <td>13</td>
      <td>3</td>
      <td>False</td>
      <td>WWWDW</td>
      <td>8</td>
      <td>13</td>
      <td>4</td>
      <td>False</td>
      <td>LWWWD</td>
      <td>8</td>
      <td>14</td>
      <td>4</td>
      <td>False</td>
      <td>DLWWW</td>
      <td>6</td>
      <td>14</td>
      <td>6</td>
      <td>False</td>
      <td>LDLWW</td>
      <td>1</td>
      <td>14</td>
      <td>7</td>
      <td>False</td>
      <td>LLDLW</td>
      <td>4</td>
      <td>17</td>
      <td>5</td>
      <td>False</td>
      <td>WLLDL</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>2021-08-13 19:00:00</td>
      <td>False</td>
      <td>BRE</td>
      <td>2021-08-22 15:30:00</td>
      <td>True</td>
      <td>CHE</td>
      <td>2021-08-28 11:30:00</td>
      <td>False</td>
      <td>MCI</td>
      <td>2021-09-11 14:00:00</td>
      <td>True</td>
      <td>NOR</td>
      <td>2021-09-18 14:00:00</td>
      <td>False</td>
      <td>BUR</td>
      <td>2021-09-26 15:30:00</td>
      <td>True</td>
      <td>TOT</td>
      <td>2021-10-02 16:30:00</td>
      <td>False</td>
      <td>BHA</td>
      <td>2021-10-18 19:00:00</td>
      <td>True</td>
      <td>CRY</td>
      <td>2021-10-22 19:00:00</td>
      <td>True</td>
      <td>AVL</td>
      <td>2021-10-30 11:30:00</td>
      <td>False</td>
      <td>LEI</td>
      <td>-2</td>
      <td>0</td>
      <td>15</td>
      <td>False</td>
      <td>L</td>
      <td>-4</td>
      <td>0</td>
      <td>18</td>
      <td>False</td>
      <td>LL</td>
      <td>-9</td>
      <td>0</td>
      <td>19</td>
      <td>False</td>
      <td>LLL</td>
      <td>-8</td>
      <td>3</td>
      <td>16</td>
      <td>False</td>
      <td>WLLL</td>
      <td>-7</td>
      <td>6</td>
      <td>13</td>
      <td>False</td>
      <td>WWLLL</td>
      <td>-5</td>
      <td>9</td>
      <td>11</td>
      <td>False</td>
      <td>WWWLL</td>
      <td>-5</td>
      <td>10</td>
      <td>11</td>
      <td>False</td>
      <td>DWWWL</td>
      <td>-5</td>
      <td>11</td>
      <td>12</td>
      <td>False</td>
      <td>DDWWW</td>
      <td>-3</td>
      <td>14</td>
      <td>10</td>
      <td>False</td>
      <td>WDDWW</td>
      <td>-1</td>
      <td>17</td>
      <td>6</td>
      <td>False</td>
      <td>WWDDW</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>False</td>
      <td>BUR</td>
      <td>2021-08-21 16:30:00</td>
      <td>True</td>
      <td>WAT</td>
      <td>2021-08-28 14:00:00</td>
      <td>True</td>
      <td>EVE</td>
      <td>2021-09-11 14:00:00</td>
      <td>False</td>
      <td>BRE</td>
      <td>2021-09-19 13:00:00</td>
      <td>True</td>
      <td>LEI</td>
      <td>2021-09-27 19:00:00</td>
      <td>False</td>
      <td>CRY</td>
      <td>2021-10-02 16:30:00</td>
      <td>True</td>
      <td>ARS</td>
      <td>2021-10-16 14:00:00</td>
      <td>False</td>
      <td>NOR</td>
      <td>2021-10-23 16:30:00</td>
      <td>True</td>
      <td>MCI</td>
      <td>2021-10-30 14:00:00</td>
      <td>False</td>
      <td>LIV</td>
      <td>1</td>
      <td>3</td>
      <td>9</td>
      <td>False</td>
      <td>W</td>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>False</td>
      <td>WW</td>
      <td>1</td>
      <td>6</td>
      <td>8</td>
      <td>False</td>
      <td>LWW</td>
      <td>2</td>
      <td>9</td>
      <td>6</td>
      <td>False</td>
      <td>WLWW</td>
      <td>3</td>
      <td>12</td>
      <td>4</td>
      <td>False</td>
      <td>WWLWW</td>
      <td>3</td>
      <td>13</td>
      <td>6</td>
      <td>False</td>
      <td>DWWLW</td>
      <td>3</td>
      <td>14</td>
      <td>6</td>
      <td>False</td>
      <td>DDWWL</td>
      <td>3</td>
      <td>15</td>
      <td>4</td>
      <td>False</td>
      <td>DDDWW</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>False</td>
      <td>LDDDW</td>
      <td>0</td>
      <td>16</td>
      <td>7</td>
      <td>False</td>
      <td>DLDDD</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>2021-08-15 15:30:00</td>
      <td>True</td>
      <td>MCI</td>
      <td>2021-08-22 13:00:00</td>
      <td>False</td>
      <td>WOL</td>
      <td>2021-08-29 13:00:00</td>
      <td>True</td>
      <td>WAT</td>
      <td>2021-09-11 11:30:00</td>
      <td>False</td>
      <td>CRY</td>
      <td>2021-09-19 15:30:00</td>
      <td>True</td>
      <td>CHE</td>
      <td>2021-09-26 15:30:00</td>
      <td>False</td>
      <td>ARS</td>
      <td>2021-10-03 13:00:00</td>
      <td>True</td>
      <td>AVL</td>
      <td>2021-10-17 15:30:00</td>
      <td>False</td>
      <td>NEW</td>
      <td>2021-10-24 13:00:00</td>
      <td>False</td>
      <td>WHU</td>
      <td>2021-10-30 16:30:00</td>
      <td>True</td>
      <td>MUN</td>
      <td>1</td>
      <td>3</td>
      <td>10</td>
      <td>False</td>
      <td>W</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>False</td>
      <td>WW</td>
      <td>3</td>
      <td>9</td>
      <td>1</td>
      <td>False</td>
      <td>WWW</td>
      <td>0</td>
      <td>9</td>
      <td>7</td>
      <td>False</td>
      <td>LWWW</td>
      <td>-3</td>
      <td>9</td>
      <td>7</td>
      <td>False</td>
      <td>LLWWW</td>
      <td>-5</td>
      <td>9</td>
      <td>10</td>
      <td>False</td>
      <td>LLLWW</td>
      <td>-4</td>
      <td>12</td>
      <td>8</td>
      <td>False</td>
      <td>WLLLW</td>
      <td>-3</td>
      <td>15</td>
      <td>5</td>
      <td>False</td>
      <td>WWLLL</td>
      <td>-4</td>
      <td>15</td>
      <td>6</td>
      <td>False</td>
      <td>LWWLL</td>
      <td>-7</td>
      <td>15</td>
      <td>8</td>
      <td>False</td>
      <td>LLWWL</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>True</td>
      <td>WOL</td>
      <td>2021-08-23 19:00:00</td>
      <td>False</td>
      <td>WHU</td>
      <td>2021-08-28 14:00:00</td>
      <td>False</td>
      <td>NOR</td>
      <td>2021-09-11 14:00:00</td>
      <td>True</td>
      <td>MCI</td>
      <td>2021-09-19 13:00:00</td>
      <td>False</td>
      <td>BHA</td>
      <td>2021-09-25 14:00:00</td>
      <td>True</td>
      <td>BUR</td>
      <td>2021-10-03 13:00:00</td>
      <td>False</td>
      <td>CRY</td>
      <td>2021-10-16 14:00:00</td>
      <td>True</td>
      <td>MUN</td>
      <td>2021-10-24 13:00:00</td>
      <td>False</td>
      <td>BRE</td>
      <td>2021-10-30 11:30:00</td>
      <td>True</td>
      <td>ARS</td>
      <td>1</td>
      <td>3</td>
      <td>8</td>
      <td>False</td>
      <td>W</td>
      <td>-2</td>
      <td>3</td>
      <td>12</td>
      <td>False</td>
      <td>LW</td>
      <td>-1</td>
      <td>6</td>
      <td>9</td>
      <td>False</td>
      <td>WLW</td>
      <td>-2</td>
      <td>6</td>
      <td>9</td>
      <td>False</td>
      <td>LWLW</td>
      <td>-3</td>
      <td>6</td>
      <td>12</td>
      <td>False</td>
      <td>LLWLW</td>
      <td>-3</td>
      <td>7</td>
      <td>13</td>
      <td>False</td>
      <td>DLLWL</td>
      <td>-3</td>
      <td>8</td>
      <td>13</td>
      <td>False</td>
      <td>DDLLW</td>
      <td>-1</td>
      <td>11</td>
      <td>11</td>
      <td>False</td>
      <td>WDDLL</td>
      <td>0</td>
      <td>14</td>
      <td>9</td>
      <td>False</td>
      <td>WWDDL</td>
      <td>-2</td>
      <td>14</td>
      <td>9</td>
      <td>False</td>
      <td>LWWDD</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>2021-08-13 19:00:00</td>
      <td>True</td>
      <td>ARS</td>
      <td>2021-08-21 14:00:00</td>
      <td>False</td>
      <td>CRY</td>
      <td>2021-08-28 14:00:00</td>
      <td>False</td>
      <td>AVL</td>
      <td>2021-09-11 14:00:00</td>
      <td>True</td>
      <td>BHA</td>
      <td>2021-09-18 11:30:00</td>
      <td>False</td>
      <td>WOL</td>
      <td>2021-09-25 16:30:00</td>
      <td>True</td>
      <td>LIV</td>
      <td>2021-10-03 13:00:00</td>
      <td>False</td>
      <td>WHU</td>
      <td>2021-10-16 16:30:00</td>
      <td>True</td>
      <td>CHE</td>
      <td>2021-10-24 13:00:00</td>
      <td>True</td>
      <td>LEI</td>
      <td>2021-10-30 14:00:00</td>
      <td>False</td>
      <td>BUR</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>False</td>
      <td>W</td>
      <td>2</td>
      <td>4</td>
      <td>7</td>
      <td>False</td>
      <td>DW</td>
      <td>2</td>
      <td>5</td>
      <td>10</td>
      <td>False</td>
      <td>DDW</td>
      <td>1</td>
      <td>5</td>
      <td>10</td>
      <td>False</td>
      <td>LDDW</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>False</td>
      <td>WLDDW</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>False</td>
      <td>DWLDD</td>
      <td>4</td>
      <td>12</td>
      <td>7</td>
      <td>False</td>
      <td>WDWLD</td>
      <td>3</td>
      <td>12</td>
      <td>9</td>
      <td>False</td>
      <td>LWDWL</td>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>False</td>
      <td>LLWDW</td>
      <td>0</td>
      <td>12</td>
      <td>10</td>
      <td>False</td>
      <td>LLLWD</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>False</td>
      <td>CHE</td>
      <td>2021-08-21 14:00:00</td>
      <td>True</td>
      <td>BRE</td>
      <td>2021-08-28 14:00:00</td>
      <td>False</td>
      <td>WHU</td>
      <td>2021-09-11 11:30:00</td>
      <td>True</td>
      <td>TOT</td>
      <td>2021-09-18 14:00:00</td>
      <td>False</td>
      <td>LIV</td>
      <td>2021-09-27 19:00:00</td>
      <td>True</td>
      <td>BHA</td>
      <td>2021-10-03 13:00:00</td>
      <td>True</td>
      <td>LEI</td>
      <td>2021-10-18 19:00:00</td>
      <td>False</td>
      <td>ARS</td>
      <td>2021-10-23 14:00:00</td>
      <td>True</td>
      <td>NEW</td>
      <td>2021-10-30 14:00:00</td>
      <td>False</td>
      <td>MCI</td>
      <td>-3</td>
      <td>0</td>
      <td>18</td>
      <td>False</td>
      <td>L</td>
      <td>-3</td>
      <td>1</td>
      <td>14</td>
      <td>False</td>
      <td>DL</td>
      <td>-3</td>
      <td>2</td>
      <td>14</td>
      <td>False</td>
      <td>DDL</td>
      <td>0</td>
      <td>5</td>
      <td>11</td>
      <td>False</td>
      <td>WDDL</td>
      <td>-3</td>
      <td>5</td>
      <td>14</td>
      <td>False</td>
      <td>LWDDL</td>
      <td>-3</td>
      <td>6</td>
      <td>15</td>
      <td>False</td>
      <td>DLWDD</td>
      <td>-3</td>
      <td>7</td>
      <td>15</td>
      <td>False</td>
      <td>DDLWD</td>
      <td>-3</td>
      <td>8</td>
      <td>14</td>
      <td>False</td>
      <td>DDDLW</td>
      <td>-3</td>
      <td>9</td>
      <td>15</td>
      <td>False</td>
      <td>DDDDL</td>
      <td>-1</td>
      <td>12</td>
      <td>11</td>
      <td>False</td>
      <td>WDDDD</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>False</td>
      <td>EVE</td>
      <td>2021-08-22 13:00:00</td>
      <td>True</td>
      <td>MUN</td>
      <td>2021-08-28 14:00:00</td>
      <td>False</td>
      <td>NEW</td>
      <td>2021-09-11 14:00:00</td>
      <td>True</td>
      <td>WHU</td>
      <td>2021-09-18 14:00:00</td>
      <td>False</td>
      <td>MCI</td>
      <td>2021-09-26 13:00:00</td>
      <td>True</td>
      <td>WOL</td>
      <td>2021-10-02 14:00:00</td>
      <td>False</td>
      <td>CHE</td>
      <td>2021-10-16 14:00:00</td>
      <td>True</td>
      <td>LEE</td>
      <td>2021-10-23 14:00:00</td>
      <td>True</td>
      <td>BUR</td>
      <td>2021-10-30 14:00:00</td>
      <td>False</td>
      <td>WAT</td>
      <td>-2</td>
      <td>0</td>
      <td>16</td>
      <td>False</td>
      <td>L</td>
      <td>-2</td>
      <td>1</td>
      <td>13</td>
      <td>False</td>
      <td>DL</td>
      <td>-2</td>
      <td>2</td>
      <td>13</td>
      <td>False</td>
      <td>DDL</td>
      <td>-2</td>
      <td>3</td>
      <td>14</td>
      <td>False</td>
      <td>DDDL</td>
      <td>-2</td>
      <td>4</td>
      <td>15</td>
      <td>False</td>
      <td>DDDDL</td>
      <td>-3</td>
      <td>4</td>
      <td>16</td>
      <td>False</td>
      <td>LDDDD</td>
      <td>-5</td>
      <td>4</td>
      <td>17</td>
      <td>False</td>
      <td>LLDDD</td>
      <td>-4</td>
      <td>7</td>
      <td>15</td>
      <td>False</td>
      <td>WLLDD</td>
      <td>-4</td>
      <td>8</td>
      <td>16</td>
      <td>False</td>
      <td>DWLLD</td>
      <td>-3</td>
      <td>11</td>
      <td>12</td>
      <td>False</td>
      <td>WDWLL</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>False</td>
      <td>WAT</td>
      <td>2021-08-21 14:00:00</td>
      <td>True</td>
      <td>NEW</td>
      <td>2021-08-28 14:00:00</td>
      <td>True</td>
      <td>BRE</td>
      <td>2021-09-11 16:30:00</td>
      <td>False</td>
      <td>CHE</td>
      <td>2021-09-18 16:30:00</td>
      <td>True</td>
      <td>EVE</td>
      <td>2021-09-25 11:30:00</td>
      <td>False</td>
      <td>MUN</td>
      <td>2021-10-03 13:00:00</td>
      <td>False</td>
      <td>TOT</td>
      <td>2021-10-16 14:00:00</td>
      <td>True</td>
      <td>WOL</td>
      <td>2021-10-22 19:00:00</td>
      <td>False</td>
      <td>ARS</td>
      <td>2021-10-31 16:30:00</td>
      <td>True</td>
      <td>WHU</td>
      <td>-1</td>
      <td>0</td>
      <td>11</td>
      <td>False</td>
      <td>L</td>
      <td>1</td>
      <td>3</td>
      <td>10</td>
      <td>False</td>
      <td>WL</td>
      <td>1</td>
      <td>4</td>
      <td>11</td>
      <td>False</td>
      <td>DWL</td>
      <td>-2</td>
      <td>4</td>
      <td>12</td>
      <td>False</td>
      <td>LDWL</td>
      <td>1</td>
      <td>7</td>
      <td>10</td>
      <td>False</td>
      <td>WLDWL</td>
      <td>2</td>
      <td>10</td>
      <td>8</td>
      <td>False</td>
      <td>WWLDW</td>
      <td>1</td>
      <td>10</td>
      <td>10</td>
      <td>False</td>
      <td>LWWLD</td>
      <td>0</td>
      <td>10</td>
      <td>13</td>
      <td>False</td>
      <td>LLWWL</td>
      <td>-2</td>
      <td>10</td>
      <td>13</td>
      <td>False</td>
      <td>LLLWW</td>
      <td>-5</td>
      <td>10</td>
      <td>13</td>
      <td>False</td>
      <td>LLLLW</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>True</td>
      <td>AVL</td>
      <td>2021-08-21 16:30:00</td>
      <td>False</td>
      <td>BHA</td>
      <td>2021-08-29 13:00:00</td>
      <td>False</td>
      <td>TOT</td>
      <td>2021-09-11 14:00:00</td>
      <td>True</td>
      <td>WOL</td>
      <td>2021-09-18 14:00:00</td>
      <td>False</td>
      <td>NOR</td>
      <td>2021-09-25 14:00:00</td>
      <td>True</td>
      <td>NEW</td>
      <td>2021-10-02 14:00:00</td>
      <td>False</td>
      <td>LEE</td>
      <td>2021-10-16 11:30:00</td>
      <td>True</td>
      <td>LIV</td>
      <td>2021-10-23 14:00:00</td>
      <td>False</td>
      <td>EVE</td>
      <td>2021-10-30 14:00:00</td>
      <td>True</td>
      <td>SOU</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>False</td>
      <td>W</td>
      <td>-1</td>
      <td>3</td>
      <td>11</td>
      <td>False</td>
      <td>LW</td>
      <td>-2</td>
      <td>3</td>
      <td>12</td>
      <td>False</td>
      <td>LLW</td>
      <td>-4</td>
      <td>3</td>
      <td>15</td>
      <td>False</td>
      <td>LLLW</td>
      <td>-2</td>
      <td>6</td>
      <td>11</td>
      <td>False</td>
      <td>WLLLW</td>
      <td>-2</td>
      <td>7</td>
      <td>12</td>
      <td>False</td>
      <td>DWLLL</td>
      <td>-3</td>
      <td>7</td>
      <td>14</td>
      <td>False</td>
      <td>LDWLL</td>
      <td>-8</td>
      <td>7</td>
      <td>16</td>
      <td>False</td>
      <td>LLDWL</td>
      <td>-5</td>
      <td>10</td>
      <td>14</td>
      <td>False</td>
      <td>WLLDW</td>
      <td>-6</td>
      <td>10</td>
      <td>14</td>
      <td>False</td>
      <td>LWLLD</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>2021-08-14 11:30:00</td>
      <td>False</td>
      <td>MUN</td>
      <td>2021-08-21 14:00:00</td>
      <td>True</td>
      <td>EVE</td>
      <td>2021-08-29 13:00:00</td>
      <td>False</td>
      <td>BUR</td>
      <td>2021-09-12 15:30:00</td>
      <td>True</td>
      <td>LIV</td>
      <td>2021-09-17 19:00:00</td>
      <td>False</td>
      <td>NEW</td>
      <td>2021-09-25 14:00:00</td>
      <td>True</td>
      <td>WHU</td>
      <td>2021-10-02 14:00:00</td>
      <td>True</td>
      <td>WAT</td>
      <td>2021-10-16 14:00:00</td>
      <td>False</td>
      <td>SOU</td>
      <td>2021-10-23 14:00:00</td>
      <td>True</td>
      <td>WOL</td>
      <td>2021-10-31 14:00:00</td>
      <td>False</td>
      <td>NOR</td>
      <td>-4</td>
      <td>0</td>
      <td>20</td>
      <td>False</td>
      <td>L</td>
      <td>-4</td>
      <td>1</td>
      <td>15</td>
      <td>False</td>
      <td>DL</td>
      <td>-4</td>
      <td>2</td>
      <td>15</td>
      <td>False</td>
      <td>DDL</td>
      <td>-7</td>
      <td>2</td>
      <td>17</td>
      <td>False</td>
      <td>LDDL</td>
      <td>-7</td>
      <td>3</td>
      <td>17</td>
      <td>False</td>
      <td>DLDDL</td>
      <td>-8</td>
      <td>3</td>
      <td>18</td>
      <td>False</td>
      <td>LDLDD</td>
      <td>-7</td>
      <td>6</td>
      <td>16</td>
      <td>False</td>
      <td>WLDLD</td>
      <td>-8</td>
      <td>6</td>
      <td>17</td>
      <td>False</td>
      <td>LWLDL</td>
      <td>-8</td>
      <td>7</td>
      <td>17</td>
      <td>False</td>
      <td>DLWLD</td>
      <td>-7</td>
      <td>10</td>
      <td>15</td>
      <td>False</td>
      <td>WDLWL</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>True</td>
      <td>BHA</td>
      <td>2021-08-21 11:30:00</td>
      <td>False</td>
      <td>LIV</td>
      <td>2021-08-29 13:00:00</td>
      <td>True</td>
      <td>LEE</td>
      <td>2021-09-13 19:00:00</td>
      <td>False</td>
      <td>EVE</td>
      <td>2021-09-18 14:00:00</td>
      <td>True</td>
      <td>ARS</td>
      <td>2021-09-25 14:00:00</td>
      <td>False</td>
      <td>LEI</td>
      <td>2021-10-02 14:00:00</td>
      <td>True</td>
      <td>NOR</td>
      <td>2021-10-16 14:00:00</td>
      <td>False</td>
      <td>MCI</td>
      <td>2021-10-23 14:00:00</td>
      <td>False</td>
      <td>SOU</td>
      <td>2021-10-30 14:00:00</td>
      <td>True</td>
      <td>BRE</td>
      <td>-1</td>
      <td>0</td>
      <td>13</td>
      <td>False</td>
      <td>L</td>
      <td>-3</td>
      <td>0</td>
      <td>17</td>
      <td>False</td>
      <td>LL</td>
      <td>-3</td>
      <td>1</td>
      <td>16</td>
      <td>False</td>
      <td>DLL</td>
      <td>-5</td>
      <td>1</td>
      <td>18</td>
      <td>False</td>
      <td>LDLL</td>
      <td>-6</td>
      <td>1</td>
      <td>19</td>
      <td>False</td>
      <td>LLDLL</td>
      <td>-6</td>
      <td>2</td>
      <td>19</td>
      <td>False</td>
      <td>DLLDL</td>
      <td>-6</td>
      <td>3</td>
      <td>18</td>
      <td>False</td>
      <td>DDLLD</td>
      <td>-8</td>
      <td>3</td>
      <td>18</td>
      <td>False</td>
      <td>LDDLL</td>
      <td>-8</td>
      <td>4</td>
      <td>18</td>
      <td>False</td>
      <td>DLDDL</td>
      <td>-6</td>
      <td>7</td>
      <td>16</td>
      <td>False</td>
      <td>WDLDD</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>2021-08-15 13:00:00</td>
      <td>True</td>
      <td>WHU</td>
      <td>2021-08-21 14:00:00</td>
      <td>False</td>
      <td>AVL</td>
      <td>2021-08-28 14:00:00</td>
      <td>True</td>
      <td>SOU</td>
      <td>2021-09-11 14:00:00</td>
      <td>False</td>
      <td>MUN</td>
      <td>2021-09-17 19:00:00</td>
      <td>True</td>
      <td>LEE</td>
      <td>2021-09-25 14:00:00</td>
      <td>False</td>
      <td>WAT</td>
      <td>2021-10-02 14:00:00</td>
      <td>False</td>
      <td>WOL</td>
      <td>2021-10-17 15:30:00</td>
      <td>True</td>
      <td>TOT</td>
      <td>2021-10-23 14:00:00</td>
      <td>False</td>
      <td>CRY</td>
      <td>2021-10-30 14:00:00</td>
      <td>True</td>
      <td>CHE</td>
      <td>-2</td>
      <td>0</td>
      <td>17</td>
      <td>False</td>
      <td>L</td>
      <td>-4</td>
      <td>0</td>
      <td>19</td>
      <td>False</td>
      <td>LL</td>
      <td>-4</td>
      <td>1</td>
      <td>17</td>
      <td>False</td>
      <td>DLL</td>
      <td>-7</td>
      <td>1</td>
      <td>19</td>
      <td>False</td>
      <td>LDLL</td>
      <td>-7</td>
      <td>2</td>
      <td>18</td>
      <td>False</td>
      <td>DLDLL</td>
      <td>-7</td>
      <td>3</td>
      <td>17</td>
      <td>False</td>
      <td>DDLDL</td>
      <td>-8</td>
      <td>3</td>
      <td>19</td>
      <td>False</td>
      <td>LDDLD</td>
      <td>-9</td>
      <td>3</td>
      <td>19</td>
      <td>False</td>
      <td>LLDDL</td>
      <td>-9</td>
      <td>4</td>
      <td>19</td>
      <td>False</td>
      <td>DLLDD</td>
      <td>-12</td>
      <td>4</td>
      <td>17</td>
      <td>False</td>
      <td>LDLLD</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>2021-08-14 16:30:00</td>
      <td>True</td>
      <td>LIV</td>
      <td>2021-08-21 14:00:00</td>
      <td>False</td>
      <td>MCI</td>
      <td>2021-08-28 14:00:00</td>
      <td>True</td>
      <td>LEI</td>
      <td>2021-09-11 14:00:00</td>
      <td>False</td>
      <td>ARS</td>
      <td>2021-09-18 14:00:00</td>
      <td>True</td>
      <td>WAT</td>
      <td>2021-09-25 14:00:00</td>
      <td>False</td>
      <td>EVE</td>
      <td>2021-10-02 14:00:00</td>
      <td>False</td>
      <td>BUR</td>
      <td>2021-10-16 14:00:00</td>
      <td>True</td>
      <td>BHA</td>
      <td>2021-10-23 11:30:00</td>
      <td>False</td>
      <td>CHE</td>
      <td>2021-10-31 14:00:00</td>
      <td>True</td>
      <td>LEE</td>
      <td>-3</td>
      <td>0</td>
      <td>19</td>
      <td>False</td>
      <td>L</td>
      <td>-8</td>
      <td>0</td>
      <td>20</td>
      <td>False</td>
      <td>LL</td>
      <td>-9</td>
      <td>0</td>
      <td>20</td>
      <td>False</td>
      <td>LLL</td>
      <td>-10</td>
      <td>0</td>
      <td>20</td>
      <td>False</td>
      <td>LLLL</td>
      <td>-12</td>
      <td>0</td>
      <td>20</td>
      <td>False</td>
      <td>LLLLL</td>
      <td>-14</td>
      <td>0</td>
      <td>20</td>
      <td>False</td>
      <td>LLLLL</td>
      <td>-14</td>
      <td>1</td>
      <td>20</td>
      <td>False</td>
      <td>DLLLL</td>
      <td>-14</td>
      <td>2</td>
      <td>20</td>
      <td>False</td>
      <td>DDLLL</td>
      <td>-21</td>
      <td>2</td>
      <td>20</td>
      <td>False</td>
      <td>LDDLL</td>
      <td>-22</td>
      <td>2</td>
      <td>18</td>
      <td>False</td>
      <td>LLDDL</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>True</td>
      <td>SOU</td>
      <td>2021-08-21 14:00:00</td>
      <td>False</td>
      <td>LEE</td>
      <td>2021-08-28 14:00:00</td>
      <td>False</td>
      <td>BHA</td>
      <td>2021-09-13 19:00:00</td>
      <td>True</td>
      <td>BUR</td>
      <td>2021-09-18 16:30:00</td>
      <td>False</td>
      <td>AVL</td>
      <td>2021-09-25 14:00:00</td>
      <td>True</td>
      <td>NOR</td>
      <td>2021-10-02 11:30:00</td>
      <td>False</td>
      <td>MUN</td>
      <td>2021-10-17 13:00:00</td>
      <td>True</td>
      <td>WHU</td>
      <td>2021-10-23 14:00:00</td>
      <td>True</td>
      <td>WAT</td>
      <td>2021-11-01 20:00:00</td>
      <td>False</td>
      <td>WOL</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>False</td>
      <td>W</td>
      <td>2</td>
      <td>4</td>
      <td>8</td>
      <td>False</td>
      <td>DW</td>
      <td>4</td>
      <td>7</td>
      <td>6</td>
      <td>False</td>
      <td>WDW</td>
      <td>6</td>
      <td>10</td>
      <td>4</td>
      <td>False</td>
      <td>WWDW</td>
      <td>3</td>
      <td>10</td>
      <td>6</td>
      <td>False</td>
      <td>LWWDW</td>
      <td>5</td>
      <td>13</td>
      <td>5</td>
      <td>False</td>
      <td>WLWWD</td>
      <td>5</td>
      <td>14</td>
      <td>5</td>
      <td>False</td>
      <td>DWLWW</td>
      <td>4</td>
      <td>14</td>
      <td>8</td>
      <td>False</td>
      <td>LDWLW</td>
      <td>1</td>
      <td>14</td>
      <td>8</td>
      <td>False</td>
      <td>LLDWL</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>19</td>
      <td>False</td>
      <td>LLDW</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>2021-08-14 14:00:00</td>
      <td>False</td>
      <td>LEI</td>
      <td>2021-08-22 13:00:00</td>
      <td>True</td>
      <td>TOT</td>
      <td>2021-08-29 15:30:00</td>
      <td>True</td>
      <td>MUN</td>
      <td>2021-09-11 14:00:00</td>
      <td>False</td>
      <td>WAT</td>
      <td>2021-09-18 11:30:00</td>
      <td>True</td>
      <td>BRE</td>
      <td>2021-09-26 13:00:00</td>
      <td>False</td>
      <td>SOU</td>
      <td>2021-10-02 14:00:00</td>
      <td>True</td>
      <td>NEW</td>
      <td>2021-10-16 14:00:00</td>
      <td>False</td>
      <td>AVL</td>
      <td>2021-10-23 14:00:00</td>
      <td>False</td>
      <td>LEE</td>
      <td>2021-11-01 20:00:00</td>
      <td>True</td>
      <td>EVE</td>
      <td>-1</td>
      <td>0</td>
      <td>12</td>
      <td>False</td>
      <td>L</td>
      <td>-2</td>
      <td>0</td>
      <td>16</td>
      <td>False</td>
      <td>LL</td>
      <td>-3</td>
      <td>0</td>
      <td>18</td>
      <td>False</td>
      <td>LLL</td>
      <td>-1</td>
      <td>3</td>
      <td>13</td>
      <td>False</td>
      <td>WLLL</td>
      <td>-3</td>
      <td>3</td>
      <td>16</td>
      <td>False</td>
      <td>LWLLL</td>
      <td>-2</td>
      <td>6</td>
      <td>14</td>
      <td>False</td>
      <td>WLWLL</td>
      <td>-1</td>
      <td>9</td>
      <td>12</td>
      <td>False</td>
      <td>WWLWL</td>
      <td>0</td>
      <td>12</td>
      <td>10</td>
      <td>False</td>
      <td>WWWLW</td>
      <td>0</td>
      <td>13</td>
      <td>11</td>
      <td>False</td>
      <td>DWWWL</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20</td>
      <td>False</td>
      <td>DWWW</td>
    </tr>
  </tbody>
</table>