<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>CleanSheetRatio</th>
      <th>GoalsPerGame</th>
      <th>ConcededPerGame</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Crystal Palace FC</th>
      <td>0.29</td>
      <td>1.36</td>
      <td>1.43</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>0.57</td>
      <td>2.07</td>
      <td>0.57</td>
    </tr>
    <tr>
      <th>Chelsea FC</th>
      <td>0.57</td>
      <td>2.36</td>
      <td>0.43</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>0.57</td>
      <td>3.07</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>0.36</td>
      <td>0.86</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>0.38</td>
      <td>1.00</td>
      <td>1.31</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>0.21</td>
      <td>1.79</td>
      <td>1.21</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>0.21</td>
      <td>0.57</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>0.21</td>
      <td>0.93</td>
      <td>1.43</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>0.15</td>
      <td>1.08</td>
      <td>1.54</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>0.36</td>
      <td>0.93</td>
      <td>1.07</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>0.29</td>
      <td>1.21</td>
      <td>1.36</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>0.00</td>
      <td>1.36</td>
      <td>1.86</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>0.29</td>
      <td>1.36</td>
      <td>1.64</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>0.14</td>
      <td>1.71</td>
      <td>1.71</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>0.07</td>
      <td>1.57</td>
      <td>1.79</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>0.00</td>
      <td>1.14</td>
      <td>2.14</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>0.21</td>
      <td>1.21</td>
      <td>1.71</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>0.36</td>
      <td>0.93</td>
      <td>1.43</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>0.43</td>
      <td>1.21</td>
      <td>1.43</td>
    </tr>
  </tbody>
</table>