<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>CleanSheetRatio</th>
      <th>GoalsPerGame</th>
      <th>ConcededPerGame</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Arsenal FC</th>
      <td>0.46</td>
      <td>1.15</td>
      <td>1.31</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>0.15</td>
      <td>1.62</td>
      <td>1.69</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>0.29</td>
      <td>1.36</td>
      <td>1.43</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>0.21</td>
      <td>0.57</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>0.23</td>
      <td>1.85</td>
      <td>1.23</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>0.21</td>
      <td>0.93</td>
      <td>1.43</td>
    </tr>
    <tr>
      <th>Chelsea FC</th>
      <td>0.62</td>
      <td>2.38</td>
      <td>0.38</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>0.08</td>
      <td>1.17</td>
      <td>1.67</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>0.38</td>
      <td>0.92</td>
      <td>1.08</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>0.62</td>
      <td>2.08</td>
      <td>0.54</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>0.31</td>
      <td>1.31</td>
      <td>1.31</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>0.23</td>
      <td>1.23</td>
      <td>1.54</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>0.33</td>
      <td>0.92</td>
      <td>1.42</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>0.31</td>
      <td>1.38</td>
      <td>1.62</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>0.31</td>
      <td>0.92</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>0.08</td>
      <td>1.54</td>
      <td>1.77</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>0.62</td>
      <td>3.00</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>0.00</td>
      <td>1.38</td>
      <td>1.85</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>0.00</td>
      <td>1.14</td>
      <td>2.14</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>0.38</td>
      <td>0.85</td>
      <td>1.38</td>
    </tr>
  </tbody>
</table>