<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>CleanSheetRatio</th>
      <th>GoalsPerGame</th>
      <th>ConcededPerGame</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chelsea FC</th>
      <td>0.70</td>
      <td>2.60</td>
      <td>0.30</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>0.60</td>
      <td>2.90</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>0.60</td>
      <td>2.00</td>
      <td>0.60</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>0.30</td>
      <td>2.00</td>
      <td>1.10</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>0.20</td>
      <td>1.90</td>
      <td>1.50</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>0.40</td>
      <td>1.20</td>
      <td>1.30</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>0.40</td>
      <td>1.10</td>
      <td>1.10</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>0.30</td>
      <td>0.90</td>
      <td>1.60</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>0.22</td>
      <td>1.67</td>
      <td>1.56</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>0.10</td>
      <td>1.50</td>
      <td>1.70</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>0.22</td>
      <td>1.00</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>0.30</td>
      <td>1.20</td>
      <td>1.20</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>0.30</td>
      <td>1.30</td>
      <td>1.40</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>0.40</td>
      <td>0.90</td>
      <td>1.20</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>0.30</td>
      <td>1.40</td>
      <td>1.90</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>0.00</td>
      <td>1.20</td>
      <td>1.80</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>0.10</td>
      <td>1.00</td>
      <td>1.70</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>0.10</td>
      <td>1.00</td>
      <td>1.60</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>0.00</td>
      <td>1.10</td>
      <td>2.30</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>0.20</td>
      <td>0.30</td>
      <td>2.50</td>
    </tr>
  </tbody>
</table>