<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>RatingCurrent</th>
      <th>Rating1YAgo</th>
      <th>Rating2YAgo</th>
      <th>Rating3YAgo</th>
      <th>NormalisedRatingCurrent</th>
      <th>NormalisedRating1YAgo</th>
      <th>NormalisedRating2YAgo</th>
      <th>NormalisedRating3YAgo</th>
      <th>TotalRating</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chelsea FC</th>
      <td>5462.5</td>
      <td>11792.0</td>
      <td>7920.0</td>
      <td>14688.0</td>
      <td>1.000000</td>
      <td>0.335624</td>
      <td>0.211595</td>
      <td>0.245024</td>
      <td>0.728932</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>4158.0</td>
      <td>15249.0</td>
      <td>48906.0</td>
      <td>58491.0</td>
      <td>0.785884</td>
      <td>0.412503</td>
      <td>1.000000</td>
      <td>0.876810</td>
      <td>0.718597</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>2380.0</td>
      <td>41667.0</td>
      <td>48843.0</td>
      <td>67032.0</td>
      <td>0.494050</td>
      <td>1.000000</td>
      <td>0.998788</td>
      <td>1.000000</td>
      <td>0.688335</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>510.0</td>
      <td>19314.0</td>
      <td>16830.0</td>
      <td>5082.0</td>
      <td>0.187115</td>
      <td>0.502902</td>
      <td>0.382988</td>
      <td>0.106473</td>
      <td>0.281015</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>1440.0</td>
      <td>6825.0</td>
      <td>-1014.0</td>
      <td>-780.0</td>
      <td>0.339762</td>
      <td>0.225165</td>
      <td>0.039741</td>
      <td>0.021923</td>
      <td>0.269452</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>-140.0</td>
      <td>8910.0</td>
      <td>12090.0</td>
      <td>858.0</td>
      <td>0.080427</td>
      <td>0.271532</td>
      <td>0.291809</td>
      <td>0.045549</td>
      <td>0.146948</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>-119.0</td>
      <td>5856.0</td>
      <td>2688.0</td>
      <td>11550.0</td>
      <td>0.083874</td>
      <td>0.203616</td>
      <td>0.110953</td>
      <td>0.199763</td>
      <td>0.120602</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>-630.0</td>
      <td>9269.0</td>
      <td>5782.0</td>
      <td>15904.0</td>
      <td>0.000000</td>
      <td>0.279516</td>
      <td>0.170469</td>
      <td>0.262563</td>
      <td>0.095989</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>48.0</td>
      <td>10.0</td>
      <td>10.0</td>
      <td>10.0</td>
      <td>0.111284</td>
      <td>0.073610</td>
      <td>0.059439</td>
      <td>0.033318</td>
      <td>0.093824</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>104.0</td>
      <td>-492.0</td>
      <td>-1537.5</td>
      <td>-1350.0</td>
      <td>0.120476</td>
      <td>0.062446</td>
      <td>0.029671</td>
      <td>0.013702</td>
      <td>0.093029</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>-105.0</td>
      <td>2596.0</td>
      <td>10.0</td>
      <td>10.0</td>
      <td>0.086172</td>
      <td>0.131118</td>
      <td>0.059439</td>
      <td>0.033318</td>
      <td>0.092526</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>77.0</td>
      <td>-295.0</td>
      <td>-2352.0</td>
      <td>2592.0</td>
      <td>0.116044</td>
      <td>0.066827</td>
      <td>0.014004</td>
      <td>0.070559</td>
      <td>0.092076</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>58.5</td>
      <td>-2520.0</td>
      <td>4218.5</td>
      <td>370.5</td>
      <td>0.113008</td>
      <td>0.017346</td>
      <td>0.140394</td>
      <td>0.038518</td>
      <td>0.089208</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>-0.0</td>
      <td>10.0</td>
      <td>-0.0</td>
      <td>10.0</td>
      <td>0.103406</td>
      <td>0.073610</td>
      <td>0.059247</td>
      <td>0.033318</td>
      <td>0.088954</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>-125.0</td>
      <td>2227.5</td>
      <td>-1365.0</td>
      <td>10.0</td>
      <td>0.082889</td>
      <td>0.122923</td>
      <td>0.032990</td>
      <td>0.033318</td>
      <td>0.085880</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>-120.0</td>
      <td>10.0</td>
      <td>-476.0</td>
      <td>-1575.0</td>
      <td>0.083709</td>
      <td>0.073610</td>
      <td>0.050090</td>
      <td>0.010457</td>
      <td>0.075023</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>-42.0</td>
      <td>-1287.0</td>
      <td>-1890.0</td>
      <td>-2300.0</td>
      <td>0.096512</td>
      <td>0.044766</td>
      <td>0.022891</td>
      <td>0.000000</td>
      <td>0.072710</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>-24.0</td>
      <td>-2880.0</td>
      <td>-3080.0</td>
      <td>-945.0</td>
      <td>0.099467</td>
      <td>0.009340</td>
      <td>0.000000</td>
      <td>0.019544</td>
      <td>0.064319</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>-42.0</td>
      <td>-3300.0</td>
      <td>-2451.0</td>
      <td>-392.0</td>
      <td>0.096512</td>
      <td>0.000000</td>
      <td>0.012099</td>
      <td>0.027520</td>
      <td>0.061705</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>-99.0</td>
      <td>-2257.5</td>
      <td>-2106.0</td>
      <td>-1560.0</td>
      <td>0.087156</td>
      <td>0.023184</td>
      <td>0.018736</td>
      <td>0.010673</td>
      <td>0.061644</td>
    </tr>
  </tbody>
</table>