<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>RatingCurrent</th>
      <th>Rating1YAgo</th>
      <th>Rating2YAgo</th>
      <th>Rating3YAgo</th>
      <th>NormalisedRatingCurrent</th>
      <th>NormalisedRating1YAgo</th>
      <th>NormalisedRating2YAgo</th>
      <th>NormalisedRating3YAgo</th>
      <th>TotalRating</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chelsea FC</th>
      <td>1824.0</td>
      <td>81.0</td>
      <td>7920.0</td>
      <td>14688.0</td>
      <td>1.000000</td>
      <td>0.720339</td>
      <td>0.211595</td>
      <td>0.245024</td>
      <td>0.823690</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>1485.0</td>
      <td>76.5</td>
      <td>48906.0</td>
      <td>58491.0</td>
      <td>0.839489</td>
      <td>0.682203</td>
      <td>1.000000</td>
      <td>0.876810</td>
      <td>0.818033</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>896.0</td>
      <td>114.0</td>
      <td>16830.0</td>
      <td>5082.0</td>
      <td>0.560606</td>
      <td>1.000000</td>
      <td>0.382988</td>
      <td>0.106473</td>
      <td>0.633435</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>1309.0</td>
      <td>5.5</td>
      <td>48843.0</td>
      <td>67032.0</td>
      <td>0.756155</td>
      <td>0.080508</td>
      <td>0.998788</td>
      <td>1.000000</td>
      <td>0.623254</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>525.0</td>
      <td>48.0</td>
      <td>-2352.0</td>
      <td>2592.0</td>
      <td>0.384943</td>
      <td>0.440678</td>
      <td>0.014004</td>
      <td>0.070559</td>
      <td>0.349736</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>312.0</td>
      <td>45.0</td>
      <td>10.0</td>
      <td>10.0</td>
      <td>0.284091</td>
      <td>0.415254</td>
      <td>0.059439</td>
      <td>0.033318</td>
      <td>0.284381</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>294.0</td>
      <td>19.5</td>
      <td>-1537.5</td>
      <td>-1350.0</td>
      <td>0.275568</td>
      <td>0.199153</td>
      <td>0.029671</td>
      <td>0.013702</td>
      <td>0.222200</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>242.0</td>
      <td>4.0</td>
      <td>-1014.0</td>
      <td>-780.0</td>
      <td>0.250947</td>
      <td>0.067797</td>
      <td>0.039741</td>
      <td>0.021923</td>
      <td>0.176002</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>-84.0</td>
      <td>18.0</td>
      <td>12090.0</td>
      <td>858.0</td>
      <td>0.096591</td>
      <td>0.186441</td>
      <td>0.291809</td>
      <td>0.045549</td>
      <td>0.135943</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>-52.5</td>
      <td>21.0</td>
      <td>-476.0</td>
      <td>-1575.0</td>
      <td>0.111506</td>
      <td>0.211864</td>
      <td>0.050090</td>
      <td>0.010457</td>
      <td>0.126192</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>50.0</td>
      <td>-3.5</td>
      <td>-1365.0</td>
      <td>10.0</td>
      <td>0.160038</td>
      <td>0.004237</td>
      <td>0.032990</td>
      <td>0.033318</td>
      <td>0.104152</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>-12.0</td>
      <td>5.0</td>
      <td>-3080.0</td>
      <td>-945.0</td>
      <td>0.130682</td>
      <td>0.076271</td>
      <td>0.000000</td>
      <td>0.019544</td>
      <td>0.100025</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>-0.0</td>
      <td>-1.5</td>
      <td>-0.0</td>
      <td>10.0</td>
      <td>0.136364</td>
      <td>0.021186</td>
      <td>0.059247</td>
      <td>0.033318</td>
      <td>0.096336</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>-36.0</td>
      <td>-2.5</td>
      <td>4218.5</td>
      <td>370.5</td>
      <td>0.119318</td>
      <td>0.012712</td>
      <td>0.140394</td>
      <td>0.038518</td>
      <td>0.091953</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>-18.0</td>
      <td>-3.0</td>
      <td>-1890.0</td>
      <td>-2300.0</td>
      <td>0.127841</td>
      <td>0.008475</td>
      <td>0.022891</td>
      <td>0.000000</td>
      <td>0.083062</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>-30.0</td>
      <td>-4.0</td>
      <td>-2106.0</td>
      <td>-1560.0</td>
      <td>0.122159</td>
      <td>0.000000</td>
      <td>0.018736</td>
      <td>0.010673</td>
      <td>0.077488</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>-84.0</td>
      <td>-0.0</td>
      <td>10.0</td>
      <td>10.0</td>
      <td>0.096591</td>
      <td>0.033898</td>
      <td>0.059439</td>
      <td>0.033318</td>
      <td>0.074996</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>-63.0</td>
      <td>-3.0</td>
      <td>-2451.0</td>
      <td>-392.0</td>
      <td>0.106534</td>
      <td>0.008475</td>
      <td>0.012099</td>
      <td>0.027520</td>
      <td>0.069964</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>-288.0</td>
      <td>4.5</td>
      <td>5782.0</td>
      <td>15904.0</td>
      <td>0.000000</td>
      <td>0.072034</td>
      <td>0.170469</td>
      <td>0.262563</td>
      <td>0.044885</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>-225.0</td>
      <td>-3.0</td>
      <td>2688.0</td>
      <td>11550.0</td>
      <td>0.029830</td>
      <td>0.008475</td>
      <td>0.110953</td>
      <td>0.199763</td>
      <td>0.039259</td>
    </tr>
  </tbody>
</table>