<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>RatingCurrent</th>
      <th>Rating1YAgo</th>
      <th>Rating2YAgo</th>
      <th>Rating3YAgo</th>
      <th>NormalisedRatingCurrent</th>
      <th>NormalisedRating1YAgo</th>
      <th>NormalisedRating2YAgo</th>
      <th>NormalisedRating3YAgo</th>
      <th>TotalRating</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Manchester City FC</th>
      <td>3312.0</td>
      <td>41667.0</td>
      <td>48843.0</td>
      <td>67032.0</td>
      <td>0.618273</td>
      <td>1.000000</td>
      <td>0.998788</td>
      <td>1.000000</td>
      <td>0.764827</td>
    </tr>
    <tr>
      <th>Chelsea FC</th>
      <td>5681.0</td>
      <td>11792.0</td>
      <td>7920.0</td>
      <td>14688.0</td>
      <td>1.000000</td>
      <td>0.335624</td>
      <td>0.211595</td>
      <td>0.245024</td>
      <td>0.728932</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>3927.0</td>
      <td>15249.0</td>
      <td>48906.0</td>
      <td>58491.0</td>
      <td>0.717370</td>
      <td>0.412503</td>
      <td>1.000000</td>
      <td>0.876810</td>
      <td>0.676408</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>1440.0</td>
      <td>6825.0</td>
      <td>-1014.0</td>
      <td>-780.0</td>
      <td>0.316629</td>
      <td>0.225165</td>
      <td>0.039741</td>
      <td>0.021923</td>
      <td>0.255207</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>255.0</td>
      <td>19314.0</td>
      <td>16830.0</td>
      <td>5082.0</td>
      <td>0.125685</td>
      <td>0.502902</td>
      <td>0.382988</td>
      <td>0.106473</td>
      <td>0.243188</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>-112.0</td>
      <td>8910.0</td>
      <td>12090.0</td>
      <td>858.0</td>
      <td>0.066549</td>
      <td>0.271532</td>
      <td>0.291809</td>
      <td>0.045549</td>
      <td>0.138403</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>-110.5</td>
      <td>5856.0</td>
      <td>2688.0</td>
      <td>11550.0</td>
      <td>0.066790</td>
      <td>0.203616</td>
      <td>0.110953</td>
      <td>0.199763</td>
      <td>0.110082</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>-525.0</td>
      <td>9269.0</td>
      <td>5782.0</td>
      <td>15904.0</td>
      <td>0.000000</td>
      <td>0.279516</td>
      <td>0.170469</td>
      <td>0.262563</td>
      <td>0.095989</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>119.0</td>
      <td>-492.0</td>
      <td>-1537.5</td>
      <td>-1350.0</td>
      <td>0.103771</td>
      <td>0.062446</td>
      <td>0.029671</td>
      <td>0.013702</td>
      <td>0.082742</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>-105.0</td>
      <td>2596.0</td>
      <td>10.0</td>
      <td>10.0</td>
      <td>0.067676</td>
      <td>0.131118</td>
      <td>0.059439</td>
      <td>0.033318</td>
      <td>0.081137</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>63.0</td>
      <td>-295.0</td>
      <td>-2352.0</td>
      <td>2592.0</td>
      <td>0.094747</td>
      <td>0.066827</td>
      <td>0.014004</td>
      <td>0.070559</td>
      <td>0.078962</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>-0.0</td>
      <td>10.0</td>
      <td>-0.0</td>
      <td>10.0</td>
      <td>0.084596</td>
      <td>0.073610</td>
      <td>0.059247</td>
      <td>0.033318</td>
      <td>0.077371</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>-36.0</td>
      <td>10.0</td>
      <td>10.0</td>
      <td>10.0</td>
      <td>0.078795</td>
      <td>0.073610</td>
      <td>0.059439</td>
      <td>0.033318</td>
      <td>0.073818</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>-150.0</td>
      <td>2227.5</td>
      <td>-1365.0</td>
      <td>10.0</td>
      <td>0.060425</td>
      <td>0.122923</td>
      <td>0.032990</td>
      <td>0.033318</td>
      <td>0.072048</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>-120.0</td>
      <td>10.0</td>
      <td>-476.0</td>
      <td>-1575.0</td>
      <td>0.065259</td>
      <td>0.073610</td>
      <td>0.050090</td>
      <td>0.010457</td>
      <td>0.063662</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>82.5</td>
      <td>-3300.0</td>
      <td>-2451.0</td>
      <td>-392.0</td>
      <td>0.097889</td>
      <td>0.000000</td>
      <td>0.012099</td>
      <td>0.027520</td>
      <td>0.062553</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>-96.0</td>
      <td>-2520.0</td>
      <td>4218.5</td>
      <td>370.5</td>
      <td>0.069127</td>
      <td>0.017346</td>
      <td>0.140394</td>
      <td>0.038518</td>
      <td>0.062188</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>-48.0</td>
      <td>-1287.0</td>
      <td>-1890.0</td>
      <td>-2300.0</td>
      <td>0.076861</td>
      <td>0.044766</td>
      <td>0.022891</td>
      <td>0.000000</td>
      <td>0.060610</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>-30.0</td>
      <td>-2880.0</td>
      <td>-3080.0</td>
      <td>-945.0</td>
      <td>0.079762</td>
      <td>0.009340</td>
      <td>0.000000</td>
      <td>0.019544</td>
      <td>0.052185</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>-98.0</td>
      <td>-2257.5</td>
      <td>-2106.0</td>
      <td>-1560.0</td>
      <td>0.068804</td>
      <td>0.023184</td>
      <td>0.018736</td>
      <td>0.010673</td>
      <td>0.050344</td>
    </tr>
  </tbody>
</table>