<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>NextTeam</th>
      <th>HomeAway</th>
      <th>PreviousMatches</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chelsea FC</th>
      <td>2021-10-23</td>
      <td>Norwich City FC</td>
      <td>Home</td>
      <td>[{'date': '2020-07-14T19:15:00Z', 'homeTeam': 'Chelsea FC', 'awayTeam': 'Norwich City FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2019-08-24T11:30:00Z', 'homeTeam': 'Norwich City FC', 'awayTeam': 'Chelsea FC', 'homeGoals': 2, 'awayGoals': 3}]</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>2021-10-24</td>
      <td>Manchester United FC</td>
      <td>Away</td>
      <td>[{'date': '2021-05-13T19:15:00Z', 'homeTeam': 'Manchester United FC', 'awayTeam': 'Liverpool FC', 'homeGoals': 2, 'awayGoals': 4}, {'date': '2021-01-17T16:30:00Z', 'homeTeam': 'Liverpool FC', 'awayTeam': 'Manchester United FC', 'homeGoals': 0, 'awayGoals': 0}, {'date': '2020-01-19T16:30:00Z', 'homeTeam': 'Liverpool FC', 'awayTeam': 'Manchester United FC', 'homeGoals': 2, 'awayGoals': 0}, {'date': '2019-10-20T15:30:00Z', 'homeTeam': 'Manchester United FC', 'awayTeam': 'Liverpool FC', 'homeGoals': 1, 'awayGoals': 1}, {'date': '2019-02-24T14:05:00Z', 'homeTeam': 'Manchester United FC', 'awayTeam': 'Liverpool FC', 'homeGoals': 0, 'awayGoals': 0}, {'date': '2018-12-16T16:00:00Z', 'homeTeam': 'Liverpool FC', 'awayTeam': 'Manchester United FC', 'homeGoals': 3, 'awayGoals': 1}]</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>2021-10-23</td>
      <td>Brighton and Hove Albion FC</td>
      <td>Away</td>
      <td>[{'date': '2021-05-18T18:00:00Z', 'homeTeam': 'Brighton and Hove Albion FC', 'awayTeam': 'Manchester City FC', 'homeGoals': 3, 'awayGoals': 2}, {'date': '2021-01-13T18:00:00Z', 'homeTeam': 'Manchester City FC', 'awayTeam': 'Brighton and Hove Albion FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2020-07-11T19:00:00Z', 'homeTeam': 'Brighton and Hove Albion FC', 'awayTeam': 'Manchester City FC', 'homeGoals': 0, 'awayGoals': 5}, {'date': '2019-08-31T14:00:00Z', 'homeTeam': 'Manchester City FC', 'awayTeam': 'Brighton and Hove Albion FC', 'homeGoals': 4, 'awayGoals': 0}, {'date': '2019-05-12T14:00:00Z', 'homeTeam': 'Brighton and Hove Albion FC', 'awayTeam': 'Manchester City FC', 'homeGoals': 1, 'awayGoals': 4}, {'date': '2018-09-29T14:00:00Z', 'homeTeam': 'Manchester City FC', 'awayTeam': 'Brighton and Hove Albion FC', 'homeGoals': 2, 'awayGoals': 0}]</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>2021-10-23</td>
      <td>Manchester City FC</td>
      <td>Home</td>
      <td>[{'date': '2021-05-18T18:00:00Z', 'homeTeam': 'Brighton and Hove Albion FC', 'awayTeam': 'Manchester City FC', 'homeGoals': 3, 'awayGoals': 2}, {'date': '2021-01-13T18:00:00Z', 'homeTeam': 'Manchester City FC', 'awayTeam': 'Brighton and Hove Albion FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2020-07-11T19:00:00Z', 'homeTeam': 'Brighton and Hove Albion FC', 'awayTeam': 'Manchester City FC', 'homeGoals': 0, 'awayGoals': 5}, {'date': '2019-08-31T14:00:00Z', 'homeTeam': 'Manchester City FC', 'awayTeam': 'Brighton and Hove Albion FC', 'homeGoals': 4, 'awayGoals': 0}, {'date': '2019-05-12T14:00:00Z', 'homeTeam': 'Brighton and Hove Albion FC', 'awayTeam': 'Manchester City FC', 'homeGoals': 1, 'awayGoals': 4}, {'date': '2018-09-29T14:00:00Z', 'homeTeam': 'Manchester City FC', 'awayTeam': 'Brighton and Hove Albion FC', 'homeGoals': 2, 'awayGoals': 0}]</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>2021-10-24</td>
      <td>West Ham United FC</td>
      <td>Away</td>
      <td>[{'date': '2021-02-21T12:00:00Z', 'homeTeam': 'West Ham United FC', 'awayTeam': 'Tottenham Hotspur FC', 'homeGoals': 2, 'awayGoals': 1}, {'date': '2020-10-18T15:30:00Z', 'homeTeam': 'Tottenham Hotspur FC', 'awayTeam': 'West Ham United FC', 'homeGoals': 3, 'awayGoals': 3}, {'date': '2020-06-23T19:15:00Z', 'homeTeam': 'Tottenham Hotspur FC', 'awayTeam': 'West Ham United FC', 'homeGoals': 2, 'awayGoals': 0}, {'date': '2019-11-23T12:30:00Z', 'homeTeam': 'West Ham United FC', 'awayTeam': 'Tottenham Hotspur FC', 'homeGoals': 2, 'awayGoals': 3}, {'date': '2019-04-27T11:30:00Z', 'homeTeam': 'Tottenham Hotspur FC', 'awayTeam': 'West Ham United FC', 'homeGoals': 0, 'awayGoals': 1}, {'date': '2018-10-20T14:00:00Z', 'homeTeam': 'West Ham United FC', 'awayTeam': 'Tottenham Hotspur FC', 'homeGoals': 0, 'awayGoals': 1}]</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>2021-10-24</td>
      <td>Liverpool FC</td>
      <td>Home</td>
      <td>[{'date': '2021-05-13T19:15:00Z', 'homeTeam': 'Manchester United FC', 'awayTeam': 'Liverpool FC', 'homeGoals': 2, 'awayGoals': 4}, {'date': '2021-01-17T16:30:00Z', 'homeTeam': 'Liverpool FC', 'awayTeam': 'Manchester United FC', 'homeGoals': 0, 'awayGoals': 0}, {'date': '2020-01-19T16:30:00Z', 'homeTeam': 'Liverpool FC', 'awayTeam': 'Manchester United FC', 'homeGoals': 2, 'awayGoals': 0}, {'date': '2019-10-20T15:30:00Z', 'homeTeam': 'Manchester United FC', 'awayTeam': 'Liverpool FC', 'homeGoals': 1, 'awayGoals': 1}, {'date': '2019-02-24T14:05:00Z', 'homeTeam': 'Manchester United FC', 'awayTeam': 'Liverpool FC', 'homeGoals': 0, 'awayGoals': 0}, {'date': '2018-12-16T16:00:00Z', 'homeTeam': 'Liverpool FC', 'awayTeam': 'Manchester United FC', 'homeGoals': 3, 'awayGoals': 1}]</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>2021-10-24</td>
      <td>Tottenham Hotspur FC</td>
      <td>Home</td>
      <td>[{'date': '2021-02-21T12:00:00Z', 'homeTeam': 'West Ham United FC', 'awayTeam': 'Tottenham Hotspur FC', 'homeGoals': 2, 'awayGoals': 1}, {'date': '2020-10-18T15:30:00Z', 'homeTeam': 'Tottenham Hotspur FC', 'awayTeam': 'West Ham United FC', 'homeGoals': 3, 'awayGoals': 3}, {'date': '2020-06-23T19:15:00Z', 'homeTeam': 'Tottenham Hotspur FC', 'awayTeam': 'West Ham United FC', 'homeGoals': 2, 'awayGoals': 0}, {'date': '2019-11-23T12:30:00Z', 'homeTeam': 'West Ham United FC', 'awayTeam': 'Tottenham Hotspur FC', 'homeGoals': 2, 'awayGoals': 3}, {'date': '2019-04-27T11:30:00Z', 'homeTeam': 'Tottenham Hotspur FC', 'awayTeam': 'West Ham United FC', 'homeGoals': 0, 'awayGoals': 1}, {'date': '2018-10-20T14:00:00Z', 'homeTeam': 'West Ham United FC', 'awayTeam': 'Tottenham Hotspur FC', 'homeGoals': 0, 'awayGoals': 1}]</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>2021-10-23</td>
      <td>Watford FC</td>
      <td>Home</td>
      <td>[{'date': '2020-02-01T15:00:00Z', 'homeTeam': 'Watford FC', 'awayTeam': 'Everton FC', 'homeGoals': 2, 'awayGoals': 3}, {'date': '2019-08-17T14:00:00Z', 'homeTeam': 'Everton FC', 'awayTeam': 'Watford FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2019-02-09T15:00:00Z', 'homeTeam': 'Watford FC', 'awayTeam': 'Everton FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2018-12-10T20:00:00Z', 'homeTeam': 'Everton FC', 'awayTeam': 'Watford FC', 'homeGoals': 2, 'awayGoals': 2}]</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>2021-10-24</td>
      <td>Leicester City FC</td>
      <td>Home</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>2021-10-23</td>
      <td>Leeds United FC</td>
      <td>Away</td>
      <td>[{'date': '2021-02-19T20:00:00Z', 'homeTeam': 'Wolverhampton Wanderers FC', 'awayTeam': 'Leeds United FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2020-10-19T19:00:00Z', 'homeTeam': 'Leeds United FC', 'awayTeam': 'Wolverhampton Wanderers FC', 'homeGoals': 0, 'awayGoals': 1}]</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>2021-10-24</td>
      <td>Brentford FC</td>
      <td>Away</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>2021-10-22</td>
      <td>Arsenal FC</td>
      <td>Away</td>
      <td>[{'date': '2021-02-06T12:30:00Z', 'homeTeam': 'Aston Villa FC', 'awayTeam': 'Arsenal FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2020-11-08T19:15:00Z', 'homeTeam': 'Arsenal FC', 'awayTeam': 'Aston Villa FC', 'homeGoals': 0, 'awayGoals': 3}, {'date': '2020-07-21T19:15:00Z', 'homeTeam': 'Aston Villa FC', 'awayTeam': 'Arsenal FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2019-09-22T15:30:00Z', 'homeTeam': 'Arsenal FC', 'awayTeam': 'Aston Villa FC', 'homeGoals': 3, 'awayGoals': 2}]</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>2021-10-18</td>
      <td>Crystal Palace FC</td>
      <td>Home</td>
      <td>[{'date': '2021-05-19T18:00:00Z', 'homeTeam': 'Crystal Palace FC', 'awayTeam': 'Arsenal FC', 'homeGoals': 1, 'awayGoals': 3}, {'date': '2021-01-14T20:00:00Z', 'homeTeam': 'Arsenal FC', 'awayTeam': 'Crystal Palace FC', 'homeGoals': 0, 'awayGoals': 0}, {'date': '2020-01-11T12:30:00Z', 'homeTeam': 'Crystal Palace FC', 'awayTeam': 'Arsenal FC', 'homeGoals': 1, 'awayGoals': 1}, {'date': '2019-10-27T16:30:00Z', 'homeTeam': 'Arsenal FC', 'awayTeam': 'Crystal Palace FC', 'homeGoals': 2, 'awayGoals': 2}, {'date': '2019-04-21T15:00:00Z', 'homeTeam': 'Arsenal FC', 'awayTeam': 'Crystal Palace FC', 'homeGoals': 2, 'awayGoals': 3}, {'date': '2018-10-28T13:30:00Z', 'homeTeam': 'Crystal Palace FC', 'awayTeam': 'Arsenal FC', 'homeGoals': 2, 'awayGoals': 2}]</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>2021-10-18</td>
      <td>Arsenal FC</td>
      <td>Away</td>
      <td>[{'date': '2021-05-19T18:00:00Z', 'homeTeam': 'Crystal Palace FC', 'awayTeam': 'Arsenal FC', 'homeGoals': 1, 'awayGoals': 3}, {'date': '2021-01-14T20:00:00Z', 'homeTeam': 'Arsenal FC', 'awayTeam': 'Crystal Palace FC', 'homeGoals': 0, 'awayGoals': 0}, {'date': '2020-01-11T12:30:00Z', 'homeTeam': 'Crystal Palace FC', 'awayTeam': 'Arsenal FC', 'homeGoals': 1, 'awayGoals': 1}, {'date': '2019-10-27T16:30:00Z', 'homeTeam': 'Arsenal FC', 'awayTeam': 'Crystal Palace FC', 'homeGoals': 2, 'awayGoals': 2}, {'date': '2019-04-21T15:00:00Z', 'homeTeam': 'Arsenal FC', 'awayTeam': 'Crystal Palace FC', 'homeGoals': 2, 'awayGoals': 3}, {'date': '2018-10-28T13:30:00Z', 'homeTeam': 'Crystal Palace FC', 'awayTeam': 'Arsenal FC', 'homeGoals': 2, 'awayGoals': 2}]</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>2021-10-23</td>
      <td>Burnley FC</td>
      <td>Home</td>
      <td>[{'date': '2021-04-04T11:00:00Z', 'homeTeam': 'Southampton FC', 'awayTeam': 'Burnley FC', 'homeGoals': 3, 'awayGoals': 2}, {'date': '2020-09-26T19:00:00Z', 'homeTeam': 'Burnley FC', 'awayTeam': 'Southampton FC', 'homeGoals': 0, 'awayGoals': 1}, {'date': '2020-02-15T12:30:00Z', 'homeTeam': 'Southampton FC', 'awayTeam': 'Burnley FC', 'homeGoals': 1, 'awayGoals': 2}, {'date': '2019-08-10T14:00:00Z', 'homeTeam': 'Burnley FC', 'awayTeam': 'Southampton FC', 'homeGoals': 3, 'awayGoals': 0}, {'date': '2019-02-02T15:00:00Z', 'homeTeam': 'Burnley FC', 'awayTeam': 'Southampton FC', 'homeGoals': 1, 'awayGoals': 1}, {'date': '2018-08-12T12:30:00Z', 'homeTeam': 'Southampton FC', 'awayTeam': 'Burnley FC', 'homeGoals': 0, 'awayGoals': 0}]</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>2021-10-23</td>
      <td>Everton FC</td>
      <td>Away</td>
      <td>[{'date': '2020-02-01T15:00:00Z', 'homeTeam': 'Watford FC', 'awayTeam': 'Everton FC', 'homeGoals': 2, 'awayGoals': 3}, {'date': '2019-08-17T14:00:00Z', 'homeTeam': 'Everton FC', 'awayTeam': 'Watford FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2019-02-09T15:00:00Z', 'homeTeam': 'Watford FC', 'awayTeam': 'Everton FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2018-12-10T20:00:00Z', 'homeTeam': 'Everton FC', 'awayTeam': 'Watford FC', 'homeGoals': 2, 'awayGoals': 2}]</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>2021-10-23</td>
      <td>Wolverhampton Wanderers FC</td>
      <td>Home</td>
      <td>[{'date': '2021-02-19T20:00:00Z', 'homeTeam': 'Wolverhampton Wanderers FC', 'awayTeam': 'Leeds United FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2020-10-19T19:00:00Z', 'homeTeam': 'Leeds United FC', 'awayTeam': 'Wolverhampton Wanderers FC', 'homeGoals': 0, 'awayGoals': 1}]</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>2021-10-23</td>
      <td>Southampton FC</td>
      <td>Away</td>
      <td>[{'date': '2021-04-04T11:00:00Z', 'homeTeam': 'Southampton FC', 'awayTeam': 'Burnley FC', 'homeGoals': 3, 'awayGoals': 2}, {'date': '2020-09-26T19:00:00Z', 'homeTeam': 'Burnley FC', 'awayTeam': 'Southampton FC', 'homeGoals': 0, 'awayGoals': 1}, {'date': '2020-02-15T12:30:00Z', 'homeTeam': 'Southampton FC', 'awayTeam': 'Burnley FC', 'homeGoals': 1, 'awayGoals': 2}, {'date': '2019-08-10T14:00:00Z', 'homeTeam': 'Burnley FC', 'awayTeam': 'Southampton FC', 'homeGoals': 3, 'awayGoals': 0}, {'date': '2019-02-02T15:00:00Z', 'homeTeam': 'Burnley FC', 'awayTeam': 'Southampton FC', 'homeGoals': 1, 'awayGoals': 1}, {'date': '2018-08-12T12:30:00Z', 'homeTeam': 'Southampton FC', 'awayTeam': 'Burnley FC', 'homeGoals': 0, 'awayGoals': 0}]</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>2021-10-23</td>
      <td>Crystal Palace FC</td>
      <td>Away</td>
      <td>[{'date': '2021-02-02T20:15:00Z', 'homeTeam': 'Newcastle United FC', 'awayTeam': 'Crystal Palace FC', 'homeGoals': 1, 'awayGoals': 2}, {'date': '2020-11-27T20:00:00Z', 'homeTeam': 'Crystal Palace FC', 'awayTeam': 'Newcastle United FC', 'homeGoals': 0, 'awayGoals': 2}, {'date': '2020-02-22T15:00:00Z', 'homeTeam': 'Crystal Palace FC', 'awayTeam': 'Newcastle United FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2019-12-21T15:00:00Z', 'homeTeam': 'Newcastle United FC', 'awayTeam': 'Crystal Palace FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2019-04-06T14:00:00Z', 'homeTeam': 'Newcastle United FC', 'awayTeam': 'Crystal Palace FC', 'homeGoals': 0, 'awayGoals': 1}, {'date': '2018-09-22T14:00:00Z', 'homeTeam': 'Crystal Palace FC', 'awayTeam': 'Newcastle United FC', 'homeGoals': 0, 'awayGoals': 0}]</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>2021-10-23</td>
      <td>Chelsea FC</td>
      <td>Away</td>
      <td>[{'date': '2020-07-14T19:15:00Z', 'homeTeam': 'Chelsea FC', 'awayTeam': 'Norwich City FC', 'homeGoals': 1, 'awayGoals': 0}, {'date': '2019-08-24T11:30:00Z', 'homeTeam': 'Norwich City FC', 'awayTeam': 'Chelsea FC', 'homeGoals': 2, 'awayGoals': 3}]</td>
    </tr>
  </tbody>
</table>