<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>NextTeam</th>
      <th>HomeAway</th>
      <th>PreviousMeetings</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chelsea FC</th>
      <td>2021-10-23</td>
      <td>Norwich City FC</td>
      <td>Home</td>
      <td>[{'Date': '14 July 2020', 'HomeTeam': 'Chelsea FC', 'AwayTeam': 'Norwich City FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '24 August 2019', 'HomeTeam': 'Norwich City FC', 'AwayTeam': 'Chelsea FC', 'HomeGoals': 2, 'AwayGoals': 3, 'Result': 'Won'}]</td>
    </tr>
    <tr>
      <th>Liverpool FC</th>
      <td>2021-10-24</td>
      <td>Manchester United FC</td>
      <td>Away</td>
      <td>[{'Date': '13 May 2021', 'HomeTeam': 'Manchester United FC', 'AwayTeam': 'Liverpool FC', 'HomeGoals': 2, 'AwayGoals': 4, 'Result': 'Won'}, {'Date': '17 January 2021', 'HomeTeam': 'Liverpool FC', 'AwayTeam': 'Manchester United FC', 'HomeGoals': 0, 'AwayGoals': 0, 'Result': 'Drew'}, {'Date': '19 January 2020', 'HomeTeam': 'Liverpool FC', 'AwayTeam': 'Manchester United FC', 'HomeGoals': 2, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '20 October 2019', 'HomeTeam': 'Manchester United FC', 'AwayTeam': 'Liverpool FC', 'HomeGoals': 1, 'AwayGoals': 1, 'Result': 'Drew'}, {'Date': '24 February 2019', 'HomeTeam': 'Manchester United FC', 'AwayTeam': 'Liverpool FC', 'HomeGoals': 0, 'AwayGoals': 0, 'Result': 'Drew'}, {'Date': '16 December 2018', 'HomeTeam': 'Liverpool FC', 'AwayTeam': 'Manchester United FC', 'HomeGoals': 3, 'AwayGoals': 1, 'Result': 'Won'}]</td>
    </tr>
    <tr>
      <th>Manchester City FC</th>
      <td>2021-10-23</td>
      <td>Brighton and Hove Albion FC</td>
      <td>Away</td>
      <td>[{'Date': '18 May 2021', 'HomeTeam': 'Brighton and Hove Albion FC', 'AwayTeam': 'Manchester City FC', 'HomeGoals': 3, 'AwayGoals': 2, 'Result': 'Lost'}, {'Date': '13 January 2021', 'HomeTeam': 'Manchester City FC', 'AwayTeam': 'Brighton and Hove Albion FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '11 July 2020', 'HomeTeam': 'Brighton and Hove Albion FC', 'AwayTeam': 'Manchester City FC', 'HomeGoals': 0, 'AwayGoals': 5, 'Result': 'Won'}, {'Date': '31 August 2019', 'HomeTeam': 'Manchester City FC', 'AwayTeam': 'Brighton and Hove Albion FC', 'HomeGoals': 4, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '12 May 2019', 'HomeTeam': 'Brighton and Hove Albion FC', 'AwayTeam': 'Manchester City FC', 'HomeGoals': 1, 'AwayGoals': 4, 'Result': 'Won'}, {'Date': '29 September 2018', 'HomeTeam': 'Manchester City FC', 'AwayTeam': 'Brighton and Hove Albion FC', 'HomeGoals': 2, 'AwayGoals': 0, 'Result': 'Won'}]</td>
    </tr>
    <tr>
      <th>Brighton and Hove Albion FC</th>
      <td>2021-10-23</td>
      <td>Manchester City FC</td>
      <td>Home</td>
      <td>[{'Date': '18 May 2021', 'HomeTeam': 'Brighton and Hove Albion FC', 'AwayTeam': 'Manchester City FC', 'HomeGoals': 3, 'AwayGoals': 2, 'Result': 'Won'}, {'Date': '13 January 2021', 'HomeTeam': 'Manchester City FC', 'AwayTeam': 'Brighton and Hove Albion FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '11 July 2020', 'HomeTeam': 'Brighton and Hove Albion FC', 'AwayTeam': 'Manchester City FC', 'HomeGoals': 0, 'AwayGoals': 5, 'Result': 'Lost'}, {'Date': '31 August 2019', 'HomeTeam': 'Manchester City FC', 'AwayTeam': 'Brighton and Hove Albion FC', 'HomeGoals': 4, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '12 May 2019', 'HomeTeam': 'Brighton and Hove Albion FC', 'AwayTeam': 'Manchester City FC', 'HomeGoals': 1, 'AwayGoals': 4, 'Result': 'Lost'}, {'Date': '29 September 2018', 'HomeTeam': 'Manchester City FC', 'AwayTeam': 'Brighton and Hove Albion FC', 'HomeGoals': 2, 'AwayGoals': 0, 'Result': 'Lost'}]</td>
    </tr>
    <tr>
      <th>Tottenham Hotspur FC</th>
      <td>2021-10-24</td>
      <td>West Ham United FC</td>
      <td>Away</td>
      <td>[{'Date': '21 February 2021', 'HomeTeam': 'West Ham United FC', 'AwayTeam': 'Tottenham Hotspur FC', 'HomeGoals': 2, 'AwayGoals': 1, 'Result': 'Lost'}, {'Date': '18 October 2020', 'HomeTeam': 'Tottenham Hotspur FC', 'AwayTeam': 'West Ham United FC', 'HomeGoals': 3, 'AwayGoals': 3, 'Result': 'Drew'}, {'Date': '23 June 2020', 'HomeTeam': 'Tottenham Hotspur FC', 'AwayTeam': 'West Ham United FC', 'HomeGoals': 2, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '23 November 2019', 'HomeTeam': 'West Ham United FC', 'AwayTeam': 'Tottenham Hotspur FC', 'HomeGoals': 2, 'AwayGoals': 3, 'Result': 'Won'}, {'Date': '27 April 2019', 'HomeTeam': 'Tottenham Hotspur FC', 'AwayTeam': 'West Ham United FC', 'HomeGoals': 0, 'AwayGoals': 1, 'Result': 'Lost'}, {'Date': '20 October 2018', 'HomeTeam': 'West Ham United FC', 'AwayTeam': 'Tottenham Hotspur FC', 'HomeGoals': 0, 'AwayGoals': 1, 'Result': 'Won'}]</td>
    </tr>
    <tr>
      <th>Manchester United FC</th>
      <td>2021-10-24</td>
      <td>Liverpool FC</td>
      <td>Home</td>
      <td>[{'Date': '13 May 2021', 'HomeTeam': 'Manchester United FC', 'AwayTeam': 'Liverpool FC', 'HomeGoals': 2, 'AwayGoals': 4, 'Result': 'Lost'}, {'Date': '17 January 2021', 'HomeTeam': 'Liverpool FC', 'AwayTeam': 'Manchester United FC', 'HomeGoals': 0, 'AwayGoals': 0, 'Result': 'Drew'}, {'Date': '19 January 2020', 'HomeTeam': 'Liverpool FC', 'AwayTeam': 'Manchester United FC', 'HomeGoals': 2, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '20 October 2019', 'HomeTeam': 'Manchester United FC', 'AwayTeam': 'Liverpool FC', 'HomeGoals': 1, 'AwayGoals': 1, 'Result': 'Drew'}, {'Date': '24 February 2019', 'HomeTeam': 'Manchester United FC', 'AwayTeam': 'Liverpool FC', 'HomeGoals': 0, 'AwayGoals': 0, 'Result': 'Drew'}, {'Date': '16 December 2018', 'HomeTeam': 'Liverpool FC', 'AwayTeam': 'Manchester United FC', 'HomeGoals': 3, 'AwayGoals': 1, 'Result': 'Lost'}]</td>
    </tr>
    <tr>
      <th>West Ham United FC</th>
      <td>2021-10-24</td>
      <td>Tottenham Hotspur FC</td>
      <td>Home</td>
      <td>[{'Date': '21 February 2021', 'HomeTeam': 'West Ham United FC', 'AwayTeam': 'Tottenham Hotspur FC', 'HomeGoals': 2, 'AwayGoals': 1, 'Result': 'Won'}, {'Date': '18 October 2020', 'HomeTeam': 'Tottenham Hotspur FC', 'AwayTeam': 'West Ham United FC', 'HomeGoals': 3, 'AwayGoals': 3, 'Result': 'Drew'}, {'Date': '23 June 2020', 'HomeTeam': 'Tottenham Hotspur FC', 'AwayTeam': 'West Ham United FC', 'HomeGoals': 2, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '23 November 2019', 'HomeTeam': 'West Ham United FC', 'AwayTeam': 'Tottenham Hotspur FC', 'HomeGoals': 2, 'AwayGoals': 3, 'Result': 'Lost'}, {'Date': '27 April 2019', 'HomeTeam': 'Tottenham Hotspur FC', 'AwayTeam': 'West Ham United FC', 'HomeGoals': 0, 'AwayGoals': 1, 'Result': 'Won'}, {'Date': '20 October 2018', 'HomeTeam': 'West Ham United FC', 'AwayTeam': 'Tottenham Hotspur FC', 'HomeGoals': 0, 'AwayGoals': 1, 'Result': 'Lost'}]</td>
    </tr>
    <tr>
      <th>Everton FC</th>
      <td>2021-10-23</td>
      <td>Watford FC</td>
      <td>Home</td>
      <td>[{'Date': '01 February 2020', 'HomeTeam': 'Watford FC', 'AwayTeam': 'Everton FC', 'HomeGoals': 2, 'AwayGoals': 3, 'Result': 'Won'}, {'Date': '17 August 2019', 'HomeTeam': 'Everton FC', 'AwayTeam': 'Watford FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '09 February 2019', 'HomeTeam': 'Watford FC', 'AwayTeam': 'Everton FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '10 December 2018', 'HomeTeam': 'Everton FC', 'AwayTeam': 'Watford FC', 'HomeGoals': 2, 'AwayGoals': 2, 'Result': 'Drew'}]</td>
    </tr>
    <tr>
      <th>Brentford FC</th>
      <td>2021-10-24</td>
      <td>Leicester City FC</td>
      <td>Home</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>Wolverhampton Wanderers FC</th>
      <td>2021-10-23</td>
      <td>Leeds United FC</td>
      <td>Away</td>
      <td>[{'Date': '19 February 2021', 'HomeTeam': 'Wolverhampton Wanderers FC', 'AwayTeam': 'Leeds United FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '19 October 2020', 'HomeTeam': 'Leeds United FC', 'AwayTeam': 'Wolverhampton Wanderers FC', 'HomeGoals': 0, 'AwayGoals': 1, 'Result': 'Won'}]</td>
    </tr>
    <tr>
      <th>Leicester City FC</th>
      <td>2021-10-24</td>
      <td>Brentford FC</td>
      <td>Away</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>Aston Villa FC</th>
      <td>2021-10-22</td>
      <td>Arsenal FC</td>
      <td>Away</td>
      <td>[{'Date': '06 February 2021', 'HomeTeam': 'Aston Villa FC', 'AwayTeam': 'Arsenal FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '08 November 2020', 'HomeTeam': 'Arsenal FC', 'AwayTeam': 'Aston Villa FC', 'HomeGoals': 0, 'AwayGoals': 3, 'Result': 'Won'}, {'Date': '21 July 2020', 'HomeTeam': 'Aston Villa FC', 'AwayTeam': 'Arsenal FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '22 September 2019', 'HomeTeam': 'Arsenal FC', 'AwayTeam': 'Aston Villa FC', 'HomeGoals': 3, 'AwayGoals': 2, 'Result': 'Lost'}]</td>
    </tr>
    <tr>
      <th>Arsenal FC</th>
      <td>2021-10-18</td>
      <td>Crystal Palace FC</td>
      <td>Home</td>
      <td>[{'Date': '19 May 2021', 'HomeTeam': 'Crystal Palace FC', 'AwayTeam': 'Arsenal FC', 'HomeGoals': 1, 'AwayGoals': 3, 'Result': 'Won'}, {'Date': '14 January 2021', 'HomeTeam': 'Arsenal FC', 'AwayTeam': 'Crystal Palace FC', 'HomeGoals': 0, 'AwayGoals': 0, 'Result': 'Drew'}, {'Date': '11 January 2020', 'HomeTeam': 'Crystal Palace FC', 'AwayTeam': 'Arsenal FC', 'HomeGoals': 1, 'AwayGoals': 1, 'Result': 'Drew'}, {'Date': '27 October 2019', 'HomeTeam': 'Arsenal FC', 'AwayTeam': 'Crystal Palace FC', 'HomeGoals': 2, 'AwayGoals': 2, 'Result': 'Drew'}, {'Date': '21 April 2019', 'HomeTeam': 'Arsenal FC', 'AwayTeam': 'Crystal Palace FC', 'HomeGoals': 2, 'AwayGoals': 3, 'Result': 'Lost'}, {'Date': '28 October 2018', 'HomeTeam': 'Crystal Palace FC', 'AwayTeam': 'Arsenal FC', 'HomeGoals': 2, 'AwayGoals': 2, 'Result': 'Drew'}]</td>
    </tr>
    <tr>
      <th>Crystal Palace FC</th>
      <td>2021-10-18</td>
      <td>Arsenal FC</td>
      <td>Away</td>
      <td>[{'Date': '19 May 2021', 'HomeTeam': 'Crystal Palace FC', 'AwayTeam': 'Arsenal FC', 'HomeGoals': 1, 'AwayGoals': 3, 'Result': 'Lost'}, {'Date': '14 January 2021', 'HomeTeam': 'Arsenal FC', 'AwayTeam': 'Crystal Palace FC', 'HomeGoals': 0, 'AwayGoals': 0, 'Result': 'Drew'}, {'Date': '11 January 2020', 'HomeTeam': 'Crystal Palace FC', 'AwayTeam': 'Arsenal FC', 'HomeGoals': 1, 'AwayGoals': 1, 'Result': 'Drew'}, {'Date': '27 October 2019', 'HomeTeam': 'Arsenal FC', 'AwayTeam': 'Crystal Palace FC', 'HomeGoals': 2, 'AwayGoals': 2, 'Result': 'Drew'}, {'Date': '21 April 2019', 'HomeTeam': 'Arsenal FC', 'AwayTeam': 'Crystal Palace FC', 'HomeGoals': 2, 'AwayGoals': 3, 'Result': 'Won'}, {'Date': '28 October 2018', 'HomeTeam': 'Crystal Palace FC', 'AwayTeam': 'Arsenal FC', 'HomeGoals': 2, 'AwayGoals': 2, 'Result': 'Drew'}]</td>
    </tr>
    <tr>
      <th>Southampton FC</th>
      <td>2021-10-23</td>
      <td>Burnley FC</td>
      <td>Home</td>
      <td>[{'Date': '04 April 2021', 'HomeTeam': 'Southampton FC', 'AwayTeam': 'Burnley FC', 'HomeGoals': 3, 'AwayGoals': 2, 'Result': 'Won'}, {'Date': '26 September 2020', 'HomeTeam': 'Burnley FC', 'AwayTeam': 'Southampton FC', 'HomeGoals': 0, 'AwayGoals': 1, 'Result': 'Won'}, {'Date': '15 February 2020', 'HomeTeam': 'Southampton FC', 'AwayTeam': 'Burnley FC', 'HomeGoals': 1, 'AwayGoals': 2, 'Result': 'Lost'}, {'Date': '10 August 2019', 'HomeTeam': 'Burnley FC', 'AwayTeam': 'Southampton FC', 'HomeGoals': 3, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '02 February 2019', 'HomeTeam': 'Burnley FC', 'AwayTeam': 'Southampton FC', 'HomeGoals': 1, 'AwayGoals': 1, 'Result': 'Drew'}, {'Date': '12 August 2018', 'HomeTeam': 'Southampton FC', 'AwayTeam': 'Burnley FC', 'HomeGoals': 0, 'AwayGoals': 0, 'Result': 'Drew'}]</td>
    </tr>
    <tr>
      <th>Watford FC</th>
      <td>2021-10-23</td>
      <td>Everton FC</td>
      <td>Away</td>
      <td>[{'Date': '01 February 2020', 'HomeTeam': 'Watford FC', 'AwayTeam': 'Everton FC', 'HomeGoals': 2, 'AwayGoals': 3, 'Result': 'Lost'}, {'Date': '17 August 2019', 'HomeTeam': 'Everton FC', 'AwayTeam': 'Watford FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '09 February 2019', 'HomeTeam': 'Watford FC', 'AwayTeam': 'Everton FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '10 December 2018', 'HomeTeam': 'Everton FC', 'AwayTeam': 'Watford FC', 'HomeGoals': 2, 'AwayGoals': 2, 'Result': 'Drew'}]</td>
    </tr>
    <tr>
      <th>Leeds United FC</th>
      <td>2021-10-23</td>
      <td>Wolverhampton Wanderers FC</td>
      <td>Home</td>
      <td>[{'Date': '19 February 2021', 'HomeTeam': 'Wolverhampton Wanderers FC', 'AwayTeam': 'Leeds United FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '19 October 2020', 'HomeTeam': 'Leeds United FC', 'AwayTeam': 'Wolverhampton Wanderers FC', 'HomeGoals': 0, 'AwayGoals': 1, 'Result': 'Lost'}]</td>
    </tr>
    <tr>
      <th>Burnley FC</th>
      <td>2021-10-23</td>
      <td>Southampton FC</td>
      <td>Away</td>
      <td>[{'Date': '04 April 2021', 'HomeTeam': 'Southampton FC', 'AwayTeam': 'Burnley FC', 'HomeGoals': 3, 'AwayGoals': 2, 'Result': 'Lost'}, {'Date': '26 September 2020', 'HomeTeam': 'Burnley FC', 'AwayTeam': 'Southampton FC', 'HomeGoals': 0, 'AwayGoals': 1, 'Result': 'Lost'}, {'Date': '15 February 2020', 'HomeTeam': 'Southampton FC', 'AwayTeam': 'Burnley FC', 'HomeGoals': 1, 'AwayGoals': 2, 'Result': 'Won'}, {'Date': '10 August 2019', 'HomeTeam': 'Burnley FC', 'AwayTeam': 'Southampton FC', 'HomeGoals': 3, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '02 February 2019', 'HomeTeam': 'Burnley FC', 'AwayTeam': 'Southampton FC', 'HomeGoals': 1, 'AwayGoals': 1, 'Result': 'Drew'}, {'Date': '12 August 2018', 'HomeTeam': 'Southampton FC', 'AwayTeam': 'Burnley FC', 'HomeGoals': 0, 'AwayGoals': 0, 'Result': 'Drew'}]</td>
    </tr>
    <tr>
      <th>Newcastle United FC</th>
      <td>2021-10-23</td>
      <td>Crystal Palace FC</td>
      <td>Away</td>
      <td>[{'Date': '02 February 2021', 'HomeTeam': 'Newcastle United FC', 'AwayTeam': 'Crystal Palace FC', 'HomeGoals': 1, 'AwayGoals': 2, 'Result': 'Lost'}, {'Date': '27 November 2020', 'HomeTeam': 'Crystal Palace FC', 'AwayTeam': 'Newcastle United FC', 'HomeGoals': 0, 'AwayGoals': 2, 'Result': 'Won'}, {'Date': '22 February 2020', 'HomeTeam': 'Crystal Palace FC', 'AwayTeam': 'Newcastle United FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '21 December 2019', 'HomeTeam': 'Newcastle United FC', 'AwayTeam': 'Crystal Palace FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Won'}, {'Date': '06 April 2019', 'HomeTeam': 'Newcastle United FC', 'AwayTeam': 'Crystal Palace FC', 'HomeGoals': 0, 'AwayGoals': 1, 'Result': 'Lost'}, {'Date': '22 September 2018', 'HomeTeam': 'Crystal Palace FC', 'AwayTeam': 'Newcastle United FC', 'HomeGoals': 0, 'AwayGoals': 0, 'Result': 'Drew'}]</td>
    </tr>
    <tr>
      <th>Norwich City FC</th>
      <td>2021-10-23</td>
      <td>Chelsea FC</td>
      <td>Away</td>
      <td>[{'Date': '14 July 2020', 'HomeTeam': 'Chelsea FC', 'AwayTeam': 'Norwich City FC', 'HomeGoals': 1, 'AwayGoals': 0, 'Result': 'Lost'}, {'Date': '24 August 2019', 'HomeTeam': 'Norwich City FC', 'AwayTeam': 'Chelsea FC', 'HomeGoals': 2, 'AwayGoals': 3, 'Result': 'Lost'}]</td>
    </tr>
  </tbody>
</table>