:root {
  --sheffield-united:rgb(238, 39, 55);
  --sheffield-united-secondary: rgb(13, 23, 26);

  --leeds-united: rgb(255, 205, 0);
  --leeds-united-secondary: rgb(29, 66, 138);

  --aston-villa: rgb(103, 14, 54);
  --aston-villa-secondary: rgb(149, 191, 229);

  --fulham: rgb(255, 255, 255);
  --fulham-secondary: rgb(204, 0, 0);

  --wolverhampton-wanderers: rgb(253, 185, 19);
  --wolverhampton-wanderers-secondary: rgb(35, 31, 32);

  --west-ham-united: rgb(122, 38, 58);
  --west-ham-united-secondary: rgb(27, 177, 231);

  --west-bromwich-albion: rgb(18, 47, 103);
  --west-bromwich-albion-secondary: rgb(255, 255, 255);

  --tottenham-hotspur: rgb(19, 34, 87);
  --tottenham-hotspur-secondary: rgb(255, 255, 255);

  --southampton: rgb(215, 25, 32);
  --southampton-secondary: rgb(19, 12, 14);

  --newcastle-united: rgb(45, 41, 38);
  --newcastle-united-secondary: rgb(255, 255, 255);

  --manchester-united: rgb(218, 41, 28);
  --manchester-united-secondary: rgb(251, 225, 34);
  
  --manchester-city: rgb(108, 171, 221);
  --manchester-city-secondary: rgb(28, 44, 91);
  
  --liverpool: rgb(200, 16, 46);
  --liverpool-secondary: rgb(0, 178, 169);
  
  --leicester-city: rgb(0, 83, 160);
  --leicester-city-secondary: rgb(253, 190, 17);
  
  --everton: rgb(39, 68, 136);
  --everton-secondary: rgb(255, 255, 255);
  
  --crystal-palace: rgb(27, 69, 143);
  --crystal-palace-secondary: rgb(196, 18, 46);
  
  --chelsea: rgb(3, 70, 148);
  --chelsea-secondary: rgb(0, 0, 0);
  
  --burnley: rgb(108, 29, 69);
  --burnley-secondary: rgb(153, 214, 234);
  
  --brighton-and-hove-albion: rgb(0, 87, 184);
  --brighton-and-hove-albion-secondary: rgb(255, 255, 255);
  
  --arsenal: rgb(239, 1, 7);
  --arsenal-secondary: rgb(255, 255, 255);
  
  --norwich-city: rgb(255, 242, 0);
  --norwich-city-secondary: rgb(0, 166, 80);
  
  --cardiff-city: rgb(0, 112, 181);
  --cardiff-city-secondary: rgb(209, 21, 26);
  
  --watford: rgb(251, 238, 35);
  --watford-secondary: rgb(237, 33, 39);
  
  --swansea-city: rgb(18, 18, 18);
  --swansea-city-secondary: rgb(255, 255, 255);
  
  --stoke-city: rgb(224, 58, 62);
  --stoke-city-secondary: rgb(27, 68, 156);
  
  --huddersfield: rgb(14, 99, 173);
  --huddersfield-secondary: rgb(255, 255, 255);
  
  --bournemouth: rgb(218, 41, 28);
  --bournemouth-secondary: rgb(0, 0, 0);
}

/* .sheffield-united {
  background-color: rgb(238, 39, 55);
}
.sheffield-united-secondary {
  color: rgb(13, 23, 26);
}

.leeds-united {
  background-color: rgb(255, 205, 0);
}
.leeds-united-secondary {
  color: rgb(29 66 138);
}

.aston-villa {
  background-color: rgb(103, 14, 54);
}
.aston-villa-secondary {
  color: rgb(149, 191, 229);
}

.fulham {
  background-color: rgb(255, 255, 255);
}
.fulham-secondary {
  color: rgb(204, 0, 0);
}

.wolverhampton-wanderers {
  background-color: rgb(253, 185, 19);
}
.wolverhampton-wanderers-secondary {
  color: rgb(35, 31, 32);
}

.west-ham-united {
  background-color: rgb(122, 38, 58);
}
.west-ham-united-secondary {
  color: rgb(27, 177, 231);
}

.west-bromwich-albion {
  background-color: rgb(18, 47, 103);
}
.west-bromwich-albion-secondary {
  color: rgb(255, 255, 255);
}

.tottenham-hotspur {
  background-color: rgb(19, 34, 87);
}
.tottenham-hotspur-secondary {
  color: rgb(255, 255, 255);
}

.southampton {
  background-color: rgb(215, 25, 32);
}
.southampton-secondary {
  color: rgb(19, 12, 14);
}

.newcastle-united {
  background-color: rgb(45 41 38);
}
.newcastle-united-secondary {
  color: rgb(255, 255, 255);
}

.manchester-united {
  background-color: rgb(218, 41, 28);
}
.manchester-united-secondary {
  color: rgb(251, 225, 34);
}

.manchester-city {
  background-color: rgb(108, 171, 221);
}
.manchester-city-secondary {
  color: rgb(28, 44, 91);
}

.liverpool {
  background-color: rgb(200, 16, 46);
}
.liverpool-secondary {
  color: rgb(0, 178, 169);
}

.leicester-city {
  background-color: rgb(0, 83, 160);
}
.leicester-city-secondary {
  color: rgb(253, 190, 17);
}

.everton {
  background-color: rgb(39, 68, 136);
}
.everton-secondary {
  color: rgb(255, 255, 255);
}

.crystal-palace {
  background-color: rgb(27, 69, 143);
}
.crystal-palace-secondary {
  color: rgb(196, 18, 46);
}

.chelsea {
  background-color: rgb(3, 70, 148);
}
.chelsea-secondary {
  color: rgb(0, 0, 0);
}

.burnley {
  background-color: rgb(108, 29, 69);
}
.burnley-secondary {
  color: rgb(153, 214, 234);
}

.brighton-and-hove-albion {
  background-color: rgb(0, 87, 184);
}
.brighton-and-hove-albion-secondary {
  color: rgb(255, 255, 255);
}

.arsenal {
  background-color: rgb(239, 1, 7);
}
.arsenal-secondary {
  color: rgb(255, 255, 255);
}

.norwich-city {
  background-color: rgb(255, 242, 0);
}
.norwich-city-secondary {
  color: rgb(0, 166, 80);
}

.cardiff-city {
  background-color: rgb(0, 112, 181);
}
.cardiff-city-secondary {
  color: rgb(209, 21, 26);
}

.watford {
  background-color: rgb(251, 238, 35);
}
.watford-secondary {
  color: rgb(237, 33, 39);
}

.swansea-city {
  background-color: rgb(18, 18, 18);
}
.swansea-city-secondary {
  color: rgb(255, 255, 255);
}

.stoke-city {
  background-color: rgb(224, 58, 62);
}
.stoke-city-secondary {
  color: rgb(27, 68, 156);
}

.huddersfield {
  background-color: rgb(14, 99, 173);
}
.huddersfield-secondary {
  color: rgb(255, 255, 255);
}

.bournemouth {
  background-color: rgb(218, 41, 28);
}
.bournemouth-secondary {
  color: rgb(0, 0, 0);
}

*/