/* -------------------------------- Global ------------------------------------- */

:root {
  --border-radius: 4px;
}

@font-face {
  font-family: "Radikal Medium";
  src: url("/static/fonts/Radikal-Medium.ttf");
}

* {
  font-family: "Radikal Medium";
}

body {
  background: #fafafa;
  color: #333333;
  margin: 0;
}

h1 {
  margin: 25px 0 0 0;
  font-size: 1.7em;
}

.main-link {
  font-size: 1.4em;
  font-weight: 600;
  color: #333333;
  flex: auto;
  align-self: center;
  margin: 0px 6px;
  text-decoration: none;
}

.no-decoration {
  text-decoration: none;
}


/* Ko-fi button */

a.kofi-button {
  font-size: 16px !important;
  font-weight: 500;
  border-radius: var(--border-radius);
}

.kofitext img.kofiimg {
  height: 18px !important;
  width: 28px !important;
  padding-right: 2px;
}

/* -------------------------------- Layout ------------------------------------- */

.header {
  padding: 30px 15px;
  text-align: center;
  /* margin-bottom: 10px; */
}

#back-button {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 100px;
  height: 60px;
}

.title {
  font-size: 2.6em;
  font-weight: 600;
}

/* ------------------------------- Home Page ----------------------------------- */

.teams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #000000;
  margin: 0 auto 0 auto;
  width: 90%;
  border: 8px solid rgb(46, 46, 46);
  border-radius: var(--border-radius);
}

.team-button {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 145px;
}

.home-page-footer {
  padding: 20px 0 30px 0;
  height: auto;
  margin-top: 1%;
  display: flex;
  align-self: center;
}

@media only screen and (max-width: 1100px) {
  .teams {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .teams {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------------------------- Teams Page ---------------------------------- */

.page-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  height: auto;
}

.top-left {
  border-radius: 2px 0 0 0
}
.top-right {
  border-radius: 0 2px 0 0
}
.bottom-right {
  border-radius: 0 0 2px 0;
}
.bottom-left {
  border-radius: 0 0 0 2px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.clean-sheets-row {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  height: 30%;
}

.row-left {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-right: auto;
  margin-right: 40px;
  padding-left: 40px;
  text-justify: center;
}

.position-and-badge {
  height: 500px;
}

img {
  height: 450px;
  position: relative;
}

.row-graph {
  width: 100%;
  margin: 0px 20px;
}

.full-row-graph {
  margin-left: 10px;
}

.clean-sheets.body {
  margin: 0;
}


.fixtures-graph {
  display: flex;
  flex-direction: column;
}

.position {
  text-shadow: 9px 9px #000000;
  margin-top: 10px;
  font-weight: 800;
  font-size: 450px;
  text-align: left;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.current-form-row {
  font-size: 0.9em;
  display: flex;
  width: 100%;
}
.icon {
  position: relative;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  margin: 0px 5px;

  background-repeat: no-repeat;
  background-size: contain;
}
.icon-name {
  position: relative;
  width: 20%;
  margin: 0px 5px;
}
.pos-4 {  /* Most recent game */
  opacity: 1;
}
.pos-3 {
  opacity: 0.9;
}
.pos-2 {
  opacity: 0.8;
}
.pos-1 {
  opacity: 0.7;
}
.pos-0 {  /* Least recent game */
  opacity: 0.5;
}

.current-form {
  font-size: 1.6em;
  margin: 20px 10px;
}

.table-snippet {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.table-row {
  display: flex;
  padding: 5px 5%;
  border-radius: var(--border-radius);
}
.table-row.this-team {
  padding: 13px 5%;
  font-size: 20px;
}

#divider {
  align-self: center;
  border-bottom: 1px solid grey;
  width: 90%;
}
#big-divider{
  border-bottom: 2px solid rgb(29, 29, 29);
  width: 100%;
  width: 0%;
}
.column-title {
  font-weight: 700;
}
.table-element {
  font-size: 17px;
}
.table-position {
  width: 7%;
}
.table-team-name {
  width: 63%;
  text-align: left;
  margin-left: 3px;
}
.table-gd {
  width: 15%;
}
.table-points {
  width: 15%;
}

.next-game-title {
  width: max-content;
  padding: 6px 20px;
  border-radius: 0 0 var(--border-radius) 0;
}
.next-game-title-text {
  align-self: center;
  margin: auto;
}
.next-game-logo {
  height: 225px;
  margin: 10px;
}
.predictions-and-logo {
  font-size: 22px;
  width: 45%;
}
.predictions-link {
  text-decoration: none;
  color: #333333;
}
.past-results {
  font-size: 22px;
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.next-game-prediction {
  margin: 0px 20px 0px 0px;
  border-radius: var(--border-radius);
}
.next-game-values {
  display: flex;
  margin: 1% 5% 1% 0px;
}
.past-result {
  font-size: 17px;
  display: flex;
  margin: 0px 5% 2px 5%;
}

.Drew {
  background-color: #e1ae2d60;
}
.Won {
  background-color:#4ee1253a
}
.Lost {
  background-color: #d3232345
}

.past-result-date {
  font-size: 14px;
  color: grey;
}
.prev-results-title {
  font-weight: 700;
  margin-top: -60px; /* To allow for vertically centred table values */
}
.next-game-item {
  padding: 8px 0px;
  border-radius: var(--border-radius);
  margin: 2px 0;
}
.accuracy {
  margin-bottom: 30px;
}
.accuracy-item {
  font-size: 14px;
  color: rgb(120, 120, 120);
  margin-bottom: 5px;
}
/* .next-game-divider {
  height: 2px;
  width: 100%;
  margin: 0px auto;
} */

.home-team {
  float: left;
  width: calc(50% - 18px);
  text-align: left;
}
.score {
  float: left;
  min-width: 37px;
  margin: 0 4px;
  text-align: center;
  font-weight: 800
}
.away-team {
 float: left;
 width: calc(50% - 18px);
 text-align: right;
}

.home-team,
.away-team {
  font-size: 16px; 
}


/* Footer general */

.donation {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  align-self: center;
}
.donation-text {
  align-self: center;
}
.footer-link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
}
.donation-fontsize {
  font-size: 16px;
}


/* Teams page footer */

.teams-footer {
  padding: 50px 0 4px 0;
  height: auto;
  margin-top: 50px;
  width: 100%;
  font-size: 0.65em;
  align-items: center;
}
.footer-details {
  display: flex;
  flex-direction: column;
}
.footer-detail {
  margin: 4px 0 !important;
}
.created-by {
  margin-left: auto !important;
  margin: 0 10px;
}
.version {
  margin: 0 10px;
}

.predictions-footer {
  align-items: center;
  font-size: 0.8em;
  margin-top: 30px;
  text-align: center;
}

.last-updated {
  margin: 20px 0;
  text-align: center;
}

.underline {
  text-decoration: underline;
}
.footer-item-gap {
  margin: 8px 10px;
}
.footer-bottom {
  margin: 15px 0 5px auto;
  display: flex;
}
.footer-text-colour {
  color: rgba(0, 0, 0, 0.37);
}

.season-stats-row {
  margin: 100px 100px 0 100px;
  height: auto;
}

.season-stats {
  display: flex;
  font-size: 50px;
  width: 100%;
  letter-spacing: -0.06em;
}

.season-stat-value {
  font-size: 3.2em;
  line-height: 0.6em;
  font-weight: 700;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.season-stat-position {
  font-size: 0.3em;
  color: rgb(162, 162, 162);
  position: absolute;
  top: -58px;
  right: -80px;
  letter-spacing: -0.07em;
}
.ssp-1st {color:#6cff68;}
.ssp-2nd {color:#78f570;}
.ssp-3rd {color:#81eb78;}
.ssp-4th {color:#89e07f;}
.ssp-5th {color:#8fd686;}
.ssp-6th {color:#95cc8c;}
.ssp-7th {color:#99c192;}
.ssp-8th {color:#9db797;}
.ssp-9th {color:#a0ad9d;}
.ssp-10th {color:#a2a2a2;}
.ssp-11th {color:#a2a2a2;}
.ssp-12th {color:#af9d9b;}
.ssp-13th {color:#bc9895;}
.ssp-14th {color:#c7928e;}
.ssp-15th {color:#d18d88;}
.ssp-16th {color:#db8681;}
.ssp-17th {color:#e5807b;}
.ssp-18th {color:#ee7975;}
.ssp-19th {color:#f7716e;}
.ssp-20th {color:#FF6868;}

.season-stat {
  flex: 1;
}

.lowered {
  margin-bottom: -9px;
}

.debug {
  border: 4px solid rgb(46, 46, 46);
}


/* Mobile view */

@media only screen and (max-width: 1400px) {
  .season-stat-value {
    font-size: 2.5em;
  }
  .season-stat {
    margin-bottom: 1.4em;
  }
  .season-stats-row {
    margin: 70px 0 0 0;
  }
  .season-stat-text {
    font-size: 0.9em;
  }
  .season-stat-position {
    right: -80px;
    top: -50px;
  }
  .teams-footer {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .row-graph {
    width: auto;
  }
  .row-left {
    align-self: center;
  }
  .position-and-badge {
    width: 25%;
    max-width: 400px;
    min-width: 150px;
    padding-right: 35% !important;
    padding-left: 10% !important;
  }
  .icon {
    width: 20vw;
  }
  .form-details {
    width: 80%;
  }
  .table-snippet {
    margin-top: 0;
  }
  .mini-graph {
    /* Reset margin to match other graphs as no longer on row with other items */
    margin-left: 10px;
  }
  .next-game-prediction {
    margin: 50px 20px 0px 20px;
  }

  .next-game-title {
    width: auto;
    border-radius: 0;
  }
  .season-stats {
    flex-direction: column;
  }
  .season-stat-value {
    font-size: 3em;
  }
  .season-stat {
    margin-bottom: 1.4em;
  }
  .season-stats-row {
    margin-top: 40px;
  }
}


@media only screen and (max-width: 800px) {
  .row-graph {
    margin: 0;
  }
  .next-game-prediction {
    margin: 50px 75px 0 75px;
  }
  /* Change next game to column orientation */
  .next-game-values {
    flex-direction: column;
    margin: 20px;
  }
  .predictions-and-logo {
    margin: 0 auto;
    width: 100%;
  }
  .past-results {
    margin: 70px auto 0 auto;
    width: 100%;
  }
  .next-game-prediction {
    padding-bottom: 0;
  }

  .season-stat {
    margin-bottom: 1.2em;
  }
  .season-stat-value {
    font-size: 2.5em;
  }
  .season-stat-position {
    right: -64px;
    top: -40px;
  }
  .season-stat-text {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 700px) {
  #back-button {
    display: none;
  }
  .position-and-badge {
    width: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .next-game-prediction {
    margin: 50px 10px 0 10px;
  }

  .lowered {
    margin: 0 30px;
  }

  .position {
    font-size: 13em;
    text-align: center;
    line-height: 1.45;
  }
  .position-and-badge {
    background-size: auto 240px !important;
    background-position: center !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .season-stat {
    margin-bottom: 1.2em;
  }
  .season-stat-value {
    font-size: 1.9em;
    letter-spacing: 0.01em;
  }
  .season-stat-position {
    right: -60px;
    top: -30px;
  }
  .season-stat-text {
    font-size: 0.75em;
  }

  .form-details {
    width: 90%;
  }
  .teams-footer {
    padding: 0;
  }
  .footer-detail {
    margin: 2px 0 !important;
  }
}


/* ----------------------------- Predictions Page -----------------------------*/

.predictions-header {
  padding: 40px 40px 0 40px;
  text-align: center;
}

.predictions {
  display: flex;
  flex-direction: column;
}

.predictions-gap {
  margin: 15px 0;
}
.page-content {
  font-size: 1.3em;
}
.green {
  background-color: #77dd77;
}
.yellow {
  background-color:#ffb347;
}
.red {
  background-color: #c23b22;
}
.predictions-title {
  font-size: 3em;
  font-weight: 800;
}
.predictions-container {
  margin-bottom: 80px;
  width: 50%;
  margin: 0 auto;
}
.date {
  width: min(90%, 300px);
  align-self: center;
  margin-bottom: 2px;
}
.prediction-item {
  text-align: left;
  margin: 0 8%;
  display: flex;
}
.prediction-label {
  flex: 4;
}
.prediction-value {
  flex: 6;
  text-align: right;
}
.prediction-container {
  padding: 6px 0 3px 0;
  margin: 2px 0;
  width: min(90%, 300px);
  align-self: center;
  border-radius: 6px;

  /* background: none; */
  color: inherit;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  outline: inherit;
}
.medium-predictions-divider {
  align-self: center;
  border-bottom: 3px solid black;
  width: min(100%, 360px);
  margin-bottom: 2px;
}

.prediction-details {
  display: none;
  font-size: 0.65em;
  color: #8d8d8d;
  color: black;
  margin-bottom: 5px;
  margin-left: 30px;
  text-align: left;
}
.prediction-detail {
  margin: 3px 0;
}

/* Mobile view */

@media only screen and (max-width: 800px) {
  .predictions-container {
    width: 80%;
  }
  .page-content {
    font-size: 1.1em;
  }
}

/* Data Page */
.table-title {
  margin-top: 30px;
  font-size: 1.3em;
  font-weight: 700;
}
.data-table-container {
  font-size: 0.6em;
  margin: 20px auto;
  overflow-x: auto;
  overflow-y: auto;
  width: max-content;
  max-width: 95%;
  height: 500px;
}

table {
  margin: 0 auto;
}