
* {
  font-family: "Radikal Medium";
}

h1 {
  margin: 20px 0px 0px 0px;
}

.header {
  
  padding: 40px;
  text-align: center;
  margin-bottom: 30px;
}

a {
  font-size: 30px;
  text-decoration: none;
  position: relative;
  top: 34%;
  color: #333333;
  font-weight: 600;
}

.title {
  font-size: 40px;
  font-weight: 800;
}

body {
  background: #fafafa;
  color: #333333;
  margin: 0px;
}

.page-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.teams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: auto auto auto auto; */
  background-color: #000000;
  margin: 0px auto;
  width: 90%;
  height: 70vh;
  border: 4px solid rgb(46, 46, 46);
}
.team-button {
  border: 4px solid rgb(46, 46, 46);
  text-align: center;
  font-size: 20px;
  position: relative;
}

.row {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  height: auto;
}

.row-left {
  display: flex;
  flex-direction: column;
  width: 720px;
  padding-right: auto;
  margin-right: 40px;
  padding-left: 40px;
  height: auto;
  text-justify: center;
}

.position-and-badge {
  height: 500px;
}

img {
  height: 450px;
  position: relative;
  /* left: -100px; */
  /* transform: translate(-100px, 0px); */
}

.row-graph {
  height: 100%;
  width: 100%;
}

.fixtures-graph {
  padding-right: 10px;

  display: flex;
  flex-direction: column;
}

.position {
  text-shadow: 9px 9px #000000;
  margin-top: 10px;
  font-weight: 800;
  font-size: 450px;
  text-align: left;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.graph {
  width: 100%;
  height: 100%;
  align-self: center;
}


.current-form-row {
  display: flex;
  width: 100%;
  /* height: auto; */
}
.icon {
  position: relative;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  margin: 0px 5px;

  background-repeat: no-repeat;
  background-size: contain;
}
.icon-name {
  position: relative;
  width: 20%;
  margin: 0px 5px;
}
.pos-0 {
  opacity: 1;
}
.pos-1 {
  opacity: 0.9;
}
.pos-2 {
  opacity: 0.8;
}
.pos-3 {
  opacity: 0.7;
}
.pos-4 {
  opacity: 0.5;
}

.current-form {
  font-size: 30px;
  margin: 20px 10px;
}

.table-snippet {
  position: relative;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.table-row {
  display: flex;
  padding: 5px 5%;
  /* text-align: left; */
}
/* #divider {
  align-self: center;
  border-bottom: 1px solid grey;
  width: 90%;
}
#divider.this-team {
  border-bottom: 2px solid rgb(29, 29, 29);
  width: 100%;
} */
#divider {
  align-self: center;
  border-bottom: 1px solid grey;
  width: 90%;
}
#big-divider{
  border-bottom: 2px solid rgb(29, 29, 29);
  width: 100%;
}
.column-title {
  font-weight: 700;
}
.table-element {
  font-size: 17px;
}
.table-position {
  width: 7%;
  /* text-align: left; */
}
.table-team-name {
  width: 63%;
  text-align: left;
}
.table-gd {
  width: 15%;
}
.table-points {
  width: 15%;
}
.table-row .this-team {
  font-size: 20px;
  margin: 5px 0px;
}


.debug {
  border: 4px solid rgb(46, 46, 46);
}



/* .plotly .modebar-btn svg {
  height: 1em!important;
  width: 1em!important;
} */


@media only screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .row-left {
    align-self: center;
    height: auto;
  }
  .position-and-badge {
    width: 25%;
    max-width: 400px;
    min-width: 150px;
    padding-right: 35%;
    padding-left: 10%;
  }
  .icon {
    width: 20vw;
  }
  .form-details {
    width: 80%;
  }
}

/* Reduce size of position and logo */
@media only screen and (max-width: 700px) {
  
}