/* -------------------------------- Global ------------------------------------- */

:root {
  --border-radius: 6px;
  --ssp1-offset: 0;
  --ssp2-offset: 0;
  --ssp3-offset: 0;

  /* Club colours */
  --sheffield-united: rgb(238 39 55);
  --sheffield-united-secondary: rgb(13 23 26);
  --leeds-united: rgb(255 205 0);
  --leeds-united-secondary: rgb(29 66 138);
  --aston-villa: rgb(103 14 54);
  --aston-villa-secondary: rgb(149 191 229);
  --fulham: rgb(255 255 255);
  --fulham-secondary: rgb(204 0 0);
  --wolverhampton-wanderers: rgb(253 185 19);
  --wolverhampton-wanderers-secondary: rgb(35 31 32);
  --west-ham-united: rgb(122 38 58);
  --west-ham-united-secondary: rgb(243 212 89);
  --west-bromwich-albion: rgb(18 47 103);
  --west-bromwich-albion-secondary: rgb(255 255 255);
  --tottenham-hotspur: rgb(19 34 87);
  --tottenham-hotspur-secondary: rgb(255 255 255);
  --southampton: rgb(215 25 32);
  --southampton-secondary: rgb(19 12 14);
  --newcastle-united: rgb(45 41 38);
  --newcastle-united-secondary: rgb(255 255 255);
  --manchester-united: rgb(218 41 28);
  --manchester-united-secondary: rgb(251 225 34);
  --manchester-city: rgb(108 171 221);
  --manchester-city-secondary: rgb(28 44 91);
  --liverpool: rgb(200 16 46);
  --liverpool-secondary: rgb(0 178 169);
  --leicester-city: rgb(0 83 160);
  --leicester-city-secondary: rgb(253 190 17);
  --everton: rgb(39 68 136);
  --everton-secondary: rgb(255 255 255);
  --crystal-palace: rgb(27 69 143);
  --crystal-palace-secondary: rgb(196 18 46);
  --chelsea: rgb(3 70 148);
  --chelsea-secondary: rgb(0 0 0);
  --burnley: rgb(108 29 69);
  --burnley-secondary: rgb(153 214 234);
  --brighton-and-hove-albion: rgb(0 87 184);
  --brighton-and-hove-albion-secondary: rgb(255 255 255);
  --arsenal: rgb(239 1 7);
  --arsenal-secondary: rgb(255 255 255);
  --norwich-city: rgb(255 242 0);
  --norwich-city-secondary: rgb(0 166 80);
  --cardiff-city: rgb(0 112 181);
  --cardiff-city-secondary: rgb(209 21 26);
  --watford: rgb(251 238 35);
  --watford-secondary: rgb(237 33 39);
  --swansea-city: rgb(18 18 18);
  --swansea-city-secondary: rgb(255 255 255);
  --stoke-city: rgb(224 58 62);
  --stoke-city-secondary: rgb(27 68 156);
  --huddersfield: rgb(14 99 173);
  --huddersfield-secondary: rgb(255 255 255);
  --bournemouth: rgb(218 41 28);
  --bournemouth-secondary: rgb(0 0 0);
  --brentford: rgb(227 6 19);
  --brentford-secondary: rgb(255 255 255);
}

@font-face {
  font-family: 'Radikal Medium';
  src: url('/static/fonts/Radikal-Medium.ttf');
}

* {
  font-family: 'Radikal Medium';
}

body {
  background: #FAFAFA;
  color: #333;
  margin: 0;
}

h1 {
  margin: 25px 0 0;
  font-size: 1.7em;
}
.main-link {
  font-size: 1.4em;
  font-weight: 600;
  color: #333;
  flex: auto;
  align-self: center;
  text-decoration: none;
  letter-spacing: -1px;
}
.no-decoration {
  text-decoration: none;
}

/* Ko-fi button */

a.kofi-button {
  font-size: 16px;
  border-radius: var(--border-radius);
}
.kofitext img.kofiimg {
  height: 18px;
  width: 28px;
  padding-right: 2px;
}
.kofitext {
  font-family: 'Quicksand', Helvetica, Century Gothic, sans-serif;
}

/* -------------------------------- Layout ------------------------------------- */

.header {
  padding: 30px 15px;
  text-align: center;
}
#back-button {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 100px;
  height: 60px;
}
.title {
  font-size: 2.6em;
  font-weight: 600;
}

/* ------------------------------- Home Page ----------------------------------- */

.teams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 8px auto;
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
}
.team-button {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 145px;
}
.home-page-footer {
  padding: 20px 0 30px;
  height: auto;
  margin-top: 1%;
  display: flex;
  align-self: center;
}

.pl-background {
  background: #3d195b;
}
.pl-text {
  color: #e90052;
}

@media only screen and (max-width: 1100px) {
  .teams {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .teams {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------------------------- Teams Page ---------------------------------- */

.page-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.row {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  height: auto;
}
.top-left {
  border-radius: 6px 0 0;
}
.top-right {
  border-radius: 0 6px 0 0;
}
.top-both {
  border-radius: 6px 6px 0 0;
}
.bottom-right {
  border-radius: 0 0 6px;
}
.bottom-left {
  border-radius: 0 0 0 6px;
}
.bottom-both {
  border-radius: 0 0 6px 6px;
}
.no-bottom-margin {
  margin-bottom: 0;
}
.clean-sheets-row {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  height: 30%;
}
.clean-sheets {
  height: 60px;
}
.row-left {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-right: auto;
  margin-right: 40px;
  padding-left: 40px;
  text-justify: center;
}
.position-and-badge {
  height: 500px;
}
img {
  height: 450px;
  position: relative;
}
.row-graph {
  width: 100%;
  margin: 0 20px;
}
.resizable-graph {
  width: 100% !important;
  height: 450px !important;
}
.full-row-graph {
  margin-left: 10px;
}
.clean-sheets.body {
  margin: 0;
}
.fixtures-graph {
  display: flex;
  flex-direction: column;
}
.position {
  text-shadow: 9px 9px #000;
  margin-top: 10px;
  font-weight: 800;
  font-size: 450px;
  text-align: left;
  user-select: none;
}
.current-form-row {
  font-size: 0.9em;
  display: flex;
  width: min(80%, 600px);
  width: 100%;
}
.icon {
  position: relative;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-name {
  position: relative;
  width: 20%;
  margin: 0 5px;
}
.pos-4 {  /* Most recent game */
  opacity: 100%;
}
.pos-3 {
  opacity: 90%;
}
.pos-2 {
  opacity: 80%;
}
.pos-1 {
  opacity: 70%;
}
.pos-0 {  /* Least recent game */
  opacity: 50%;
}
.current-form {
  font-size: 1.6em;
  margin: 20px 10px;
}
.table-snippet {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.table-row {
  display: flex;
  padding: 5px 5%;
  border-radius: var(--border-radius);
}
.table-row.this-team {
  padding: 13px 5%;
  font-size: 20px;
}
.this-team {
  font-size: 19px !important;
}
#divider {
  align-self: center;
  border-bottom: 1px solid grey;
  width: 90%;
}
#big-divider {
  border-bottom: 2px solid rgb(29 29 29);
  width: 100%;
  width: 0%;
}
.column-title {
  font-weight: 700;
}
.table-element {
  font-size: 17px;
}
.table-position {
  width: 7%;
}
.table-team-name {
  width: 63%;
  text-align: left;
  margin-left: 3px;
}
.table-gd {
  width: 15%;
}
.table-points {
  width: 15%;
}
.next-game-title {
  width: max-content;
  padding: 6px 20px;
  border-radius: 0 0 var(--border-radius) 0;
}
.next-game-title-text {
  align-self: center;
  margin: auto;
}
.next-game-logo {
  height: 225px;
  margin: 10px;
}
.predictions-and-logo {
  font-size: 22px;
  width: 45%;
}
.predictions-link {
  text-decoration: none;
  color: #333;
}
.predictions-link:hover {
  color: rgb(120 120 120);
}
.past-results {
  font-size: 22px;
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.next-game-prediction {
  margin: 0 20px 0 0;
  border-radius: var(--border-radius);
}
.next-game-values {
  display: flex;
  margin: 0.5% 5% 0.5% 0;
}
.past-result {
  font-size: 17px;
  display: flex;
  margin: 0 5% 2px;
}
.Drew {
  background-color: #E1AE2D60;
  background-color: #ffb2477e;
  
}
.Won {
  background-color: #4EE1253A;
  background-color: #77dd7798;
}
.Lost {
  background-color: #f3363688;
  /* background-color: #ff492990; */
}
.past-result-date {
  font-size: 13px;
  color: rgb(104, 104, 104);
}
.prev-results-title {
  font-weight: 700;
  padding-top: 0 !important;
  margin: 0 !important;
}
.next-game-item {
  padding: 7px 0 4px;
  border-radius: var(--border-radius);
  margin-top: 4px;
}
.accuracy {
  margin-bottom: 30px;
}
.accuracy-item {
  font-size: 14px;
  color: rgb(120 120 120);
  margin-bottom: 5px;
}
.home-team {
  float: left;
  width: calc(50% - 18px);
  text-align: left;
}
.score {
  float: left;
  min-width: 42px;
  margin: 0 4px;
  text-align: center;
  font-weight: 800;
}
.away-team {
  float: left;
  width: calc(50% - 18px);
  text-align: right;
}
.home-team,
.away-team {
  font-size: 16px;
}

.two-graphs {
  display: flex;
  margin: 0 8%;
}
.freq-graph {
  width: 50%;
}

/* Footer general */

.donation {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  align-self: center;
}
.donation-text {
  align-self: center;
}
.footer-link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
}
.donation-fontsize {
  font-size: 16px;
}

/* Teams page footer */

.teams-footer {
  padding: 50px 0 4px;
  height: auto;
  margin-top: 50px;
  width: 100%;
  font-size: 0.65em;
  align-items: center;
}
.footer-details {
  display: flex;
  flex-direction: column;
}
.footer-detail {
  margin: 4px 0 !important;
}
.created-by {
  margin-left: auto !important;
  margin: 0 10px;
}
.version {
  margin: 0 10px;
}
.predictions-footer {
  align-items: center;
  font-size: 0.8em;
  margin-top: 30px;
  text-align: center;
}
.method-description {
  margin: 20px auto 15px;
  width: 80%;
}
.last-updated {
  margin: 20px 0;
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.footer-item-gap {
  margin: 8px 10px;
}
.footer-bottom {
  margin: 15px 0 5px auto;
  display: flex;
}
.footer-text-colour {
  color: rgb(0 0 0 / 37%);
}
.season-stats-row {
  margin: 100px 100px 80px;
  height: auto;
}
.season-stats {
  display: flex;
  font-size: 50px;
  width: 100%;
  letter-spacing: -0.06em;
}
.season-stat-value {
  font-size: 3.2em;
  line-height: 0.6em;
  font-weight: 700;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.season-stat-position {
  font-size: 0.3em;
  color: rgb(162 162 162);
  position: absolute;
  top: -53px;
  letter-spacing: -0.07em;
}
#ssp1 {
  right: calc(var(--ssp1-offset) - 52px);
}
#ssp2 {
  right: calc(var(--ssp2-offset) - 52px);
}
#ssp3 {
  right: calc(var(--ssp3-offset) - 52px);
}
.ssp-1st { color: #6CFF68; }
.ssp-2nd { color: #78F570; }
.ssp-3rd { color: #81EB78; }
.ssp-4th { color: #89E07F; }
.ssp-5th { color: #8FD686; }
.ssp-6th { color: #95CC8C; }
.ssp-7th { color: #99C192; }
.ssp-8th { color: #9DB797; }
.ssp-9th { color: #A0AD9D; }
.ssp-10th { color: #A2A2A2; }
.ssp-11th { color: #A2A2A2; }
.ssp-12th { color: #AF9D9B; }
.ssp-13th { color: #BC9895; }
.ssp-14th { color: #C7928E; }
.ssp-15th { color: #D18D88; }
.ssp-16th { color: #DB8681; }
.ssp-17th { color: #E5807B; }
.ssp-18th { color: #EE7975; }
.ssp-19th { color: #F7716E; }
.ssp-20th { color: #FF6868; }
.season-stat {
  flex: 1;
}
.lowered {
  margin-bottom: -9px;
}
.debug {
  border: 4px solid rgb(46 46 46);
}

/* Mobile view */

@media only screen and (max-width: 1400px) {
  .season-stat-value {
    font-size: 2.5em;
  }
  .season-stat {
    margin: 0.4em 0 1em 0;
  }
  .season-stats-row {
    margin: 70px 0 10px;
  }
  .season-stat-text {
    font-size: 0.9em;
  }
  .teams-footer {
    margin-top: 0;
  }
  .season-stat-position {
    top: -40px;
  }
  #ssp1 {
    right: calc(var(--ssp1-offset) - 40px);
  }
  #ssp2 {
    right: calc(var(--ssp2-offset) - 40px);
  }
  #ssp3 {
    right: calc(var(--ssp3-offset) - 40px);
  }
}

@media only screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .row-graph {
    width: auto;
  }
  .row-left {
    align-self: center;
  }
  .position-and-badge {
    width: 50%;
    max-width: 400px;
    min-width: 150px;
    padding-right: 3% !important;
    background-size: auto 330px !important;
    height: 400px;
  }
  .position {
    font-size: 350px;
  }
  .icon {
    width: 20vw;
  }
  .form-details {
    width: 80%;
    align-items: center;
  }
  .current-form-row {
    width: min(80%, 600px);
  }
  .table-snippet {
    margin-top: 0;
  }
  .mini-graph {
    /* Reset margin to match other graphs as no longer on row with other items */
    margin-left: 10px;
  }
  .next-game-prediction {
    margin: 50px 20px 0;
  }
  .next-game-title {
    width: auto;
    border-radius: 0;
  }
  .season-stats {
    flex-direction: column;
  }
  .season-stat-value {
    font-size: 3em;
  }
  .season-stat {
    margin: 0.4em 0 1em 0;
  }
  .season-stats-row {
    margin-top: 40px;
  }
  .season-stat-position {
    top: -49px;
  }
  #ssp1 {
    right: calc(var(--ssp1-offset) - 45px);
  }
  #ssp2 {
    right: calc(var(--ssp2-offset) - 45px);
  }
  #ssp3 {
    right: calc(var(--ssp3-offset) - 45px);
  }
  .season-stat-text {
    font-size: 0.9em;
  }

  .resizable-graph {
    height: 400px !important;
  }

  .two-graphs {
    display: flex;
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .row-graph {
    margin: 0;
  }
  .next-game-prediction {
    margin: 50px 75px 0;
  }

  /* Change next game to column orientation */
  .next-game-values {
    flex-direction: column;
    margin: 20px;
  }
  .predictions-and-logo {
    margin: 0 auto;
    width: 100%;
  }
  .past-results {
    margin: 30px auto 0;
    width: 100%;
  }
  .next-game-prediction {
    padding-bottom: 0;
  }
  .season-stat {
    margin: 0.4em 0 0.8em 0;
  }
  .season-stat-value {
    font-size: 2.5em;
  }
  .season-stat-position {
    top: -42px;
  }
  #ssp1 {
    right: calc(var(--ssp1-offset) - 40px);
  }
  #ssp2 {
    right: calc(var(--ssp2-offset) - 40px);
  }
  #ssp3 {
    right: calc(var(--ssp3-offset) - 40px);
  }
  .season-stat-text {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 700px) {
  #back-button {
    display: none;
  }
  .position-and-badge {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .current-form-row {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .row {
    margin-bottom: 30px;
  }
  .full-row-graph,
  .mini-graph {
    margin-left: 10px;
  }
  .season-stat {
    margin: 0.4em 0 0.8em 0;
  }
  .season-stat-value {
    font-size: 1.4em;
    letter-spacing: 0.01em;
  }
  .season-stat-position {
    top: -22px;
  }
  #ssp1 {
    right: calc(var(--ssp1-offset) - 18px);
  }
  #ssp2 {
    right: calc(var(--ssp2-offset) - 18px);
  }
  #ssp3 {
    right: calc(var(--ssp3-offset) - 18px);
  }
  .season-stat-text {
    font-size: 0.55em;
    letter-spacing: -0.04em;
  }
  .form-details {
    width: 90%;
  }
  .teams-footer {
    padding: 0;
  }
  .footer-detail {
    margin: 2px 0 !important;
  }
  .team-button {
    height: 90px;
  }
  .title {
    font-size: 2.2em !important;
  }
  .main-link {
    font-size: 1.2em;
  }
  .next-game-prediction {
    margin: 50px 10px 0;
  }
  .lowered {
    margin: 0 30px;
  }
  .position {
    font-size: 10.5em;
    text-align: center;
    line-height: 1.6;
    padding-right: 20px;
    margin: 0;
    text-shadow: 7px 7px #000;
  }
  .position-and-badge {
    background-size: auto 210px !important;
    background-position: center !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 250px;
  }
  h1 {
    font-size: 1.5em;
  }
  .current-form {
    font-size: 1.3em;
  }
  .table-element {
    font-size: 14px;
  }
  .this-team {
    font-size: 16px;
  }
  .table-row.this-team {
    padding: 10px 5% 8px 5%;
  }
  .next-game-logo {
    height: 190px;
  }
  .next-game-values {
    margin-top: 5px;
  }
  .past-results {
    margin-top: 20px;
  }
  .season-stats-row {
    margin-top: 20px;
  }
  .season-stat {
    margin: 0.25em 0 0.45em 0;
  }
  .teams-footer {
    margin-top: 2em;
  }
  .next-game-prediction {
    margin-top: 30px;
  }
  .prev-results-title {
    font-size: 18px;
  }
  .score,
  .home-team,
  .away-team {
    font-size: 0.85em;
  }
  .past-result-date {
    font-size: 11px;
  }


  .page-content {
    overflow-x: hidden;
  }
  .resizable-graph {
    height: 250px !important;
  }
  .plotly-graph-div {
    width: 105% !important;
  }

  .teams {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

/* ----------------------------- Predictions Page ----------------------------- */

.predictions-header {
  padding: 40px 40px 0;
  text-align: center;
}
.predictions {
  display: flex;
  flex-direction: column;
}
.predictions-gap {
  margin: 15px 0;
}
.page-content {
  font-size: 1.3em;
}
.green {
  background-color: #77DD77;
}
.yellow {
  background-color: #FFB347;
}
.red {
  background-color: #C23B22;
}
/* .green {
  background-color: #54FE68;
}
.yellow {
  background-color: #EDEC55;
}
.red {
  background-color: #FF6566;
} */
.predictions-title {
  font-size: 3em;
  font-weight: 800;
}
.predictions-container {
  width: 50%;
  margin: 0 auto;
}
.date {
  width: min(90%, 300px);
  align-self: center;
  margin-bottom: 2px;
}
.prediction-item {
  text-align: left;
  margin: 0 8%;
  display: flex;
}
.prediction-label {
  flex: 5;
}
.prediction-value {
  flex: 4.5;
  display: flex;
  text-align: right;
}
.prediction-initials {
  flex: 1;
  text-align: center;
}
.prediction-score {
  flex: 1;
  text-align: center;
}
.prediction-container {
  padding: 6px 0 3px;
  margin: 2px 0;
  width: min(90%, 300px);
  align-self: center;
  border-radius: var(--border-radius);
  color: inherit;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  outline: inherit;
  position: relative;
}
.medium-predictions-divider {
  align-self: center;
  border-bottom: 3px solid black;
  width: min(100%, 375px);
  margin-bottom: 2px;
}
.prediction-details {
  font-size: 0.75em;
  color: black;
  margin: 5px 0;
  text-align: left;
  height: 0;
  display: none;
}
.prediction-time {
  color: grey;
  font-size: 0.7em;
  position: absolute;
  right: -34px;
  top: calc(50% - 7px);
}
.prediction-detail {
  margin: 3px 0 3px 30px;
}
.prediction-details.expanded {
  height: auto;
  display: block;
}
.detailed-predicted-score {
  font-size: 1.2em;
  margin: 10px 0 0;
  text-align: center;
}
.tabbed {
  padding-left: 2em;
}

/* Mobile view */

@media only screen and (max-width: 800px) {
  .predictions-container {
    width: 80%;
  }
  .prediction-container {
    width: min(80%, 300px);
  }
  .page-content {
    font-size: 1.1em;
  }
  .prediction-time {
    right: -28px;
    top: calc(50% - 6px);
  }
  .prediction-value {
    flex: 4;
  }
}

@media only screen and (max-width: 500px) {
  .prediction-value {
    flex: 4.5;
  }
}

@media only screen and (max-width: 400px) {
  .prediction-value {
    flex: 6;
  }
}

/* -------------------------------- Data Page ---------------------------------- */

.table-title {
  margin-top: 30px;
  font-size: 1.3em;
  font-weight: 700;
}
.data-table-container {
  font-size: 0.52em;
  margin: 20px auto;
  overflow-x: auto;
  overflow-y: auto;
  width: max-content;
  max-width: 95%;
  height: auto;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
th,
td {
  padding: 2px 4px;
}
