<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->

{% extends "layout.html" %} {% block content %}
<div class="teams">
  <a href="/liverpool" class="team-button" style="background-color: var(--liverpool);">
    <div class="main-link" style="color: var(--liverpool-secondary);">Liverpool</div>
  </a>
  <a href="/manchester-city" class="team-button" style="background-color: var(--manchester-city);">
    <div class="main-link" style="color: var(--manchester-city-secondary);">Manchester City</div>
  </a>
  <a href="/manchester-united" class="team-button" style="background-color: var(--manchester-united);">
    <div class="main-link" style="color: var(--manchester-united-secondary);">Manchester United</div>
  </a>
  <a href="/chelsea" class="team-button" style="background-color: var(--chelsea);">
    <div class="main-link" style="color: var(--chelsea-secondary);">Chelsea</div>
  </a>
  <a href="/leicester-city" class="team-button" style="background-color: var(--leicester-city);">
    <div class="main-link" style="color: var(--leicester-city-secondary);">Leicester</div>
  </a>
  <a href="/tottenham-hotspur" class="team-button" style="background-color: var(--tottenham-hotspur);">
    <div class="main-link" style="color: var(--tottenham-hotspur-secondary);">Spurs</div>
  </a>
  <a href="/wolverhampton-wanderers" class="team-button" style="background-color: var(--wolverhampton-wanderers);">
    <div class="main-link" style="color: var(--wolverhampton-wanderers-secondary);">Wolves</div>
  </a>
  <a href="/arsenal" class="team-button" style="background-color: var(--arsenal);">
    <div class="main-link" style="color: var(--arsenal-secondary);">Arsenal</div>
  </a>
  <a href="/sheffield-united" class="team-button" style="background-color: var(--sheffield-united);">
    <div class="main-link" style="color: var(--sheffield-united-secondary);">Sheffield United</div>
  </a>
  <a href="/burnley" class="team-button" style="background-color: var(--burnley);">
    <div class="main-link" style="color: var(--burnley-secondary);">Burnley</div>
  </a>
  <a href="/southampton" class="team-button" style="background-color: var(--southampton);">
    <div class="main-link" style="color: var(--southampton-secondary);">Southampton</div>
  </a>
  <a href="/everton" class="team-button" style="background-color: var(--everton);">
    <div class="main-link" style="color: var(--everton-secondary);">Everton</div>
  </a>
  <a href="/newcastle-united" class="team-button" style="background-color: var(--newcastle-united);">
    <div class="main-link" style="color: var(--newcastle-united-secondary);">Newcastle</div>
  </a>
  <a href="/crystal-palace" class="team-button" style="background-color: var(--crystal-palace);">
    <div class="main-link" style="color: var(--crystal-palace-secondary);">Crystal Palace</div>
  </a>
  <a href="/brighton-and-hove-albion" class="team-button" style="background-color: var(--brighton-and-hove-albion);">
    <div class="main-link" style="color: var(--brighton-and-hove-albion-secondary);">Brighton</div>
  </a>
  <a href="/west-ham-united" class="team-button" style="background-color: var(--west-ham-united);">
    <div class="main-link" style="color: var(--west-ham-united-secondary);">West Ham</div>
  </a>
  <a href="/aston-villa" class="team-button" style="background-color: var(--aston-villa);">
    <div class="main-link" style="color: var(--aston-villa-secondary);">Aston Villa</div>
  </a>
  <a href="/leeds-united" class="team-button" style="background-color: var(--leeds-united);">
    <div class="main-link" style="color: var(--leeds-united-secondary);">Leeds United</div>
  </a>
  <a href="/west-bromwich-albion" class="team-button" style="background-color: var(--west-bromwich-albion);">
    <div class="main-link" style="color: var(--west-bromwich-albion-secondary);">West Brom</div>
  </a>
  <a href="/fulham" class="team-button" style="background-color: var(--fulham);">
    <div class="main-link" style="color: var(--fulham-secondary);">Fulham</div>
  </a>
</div>
<div class="main-page-footer">
  <a class="footer-link donation-fontsize" href="https://www.paypal.me/TomDraper">
    <img class="donation" src="static/img/coin.png">
    <div class="donation-text footer-text-colour">Donate!</div>
  </a>
</div>
{% endblock content %}
