<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->

{% extends "layout.html" %} {% block content %}
<div class="teams">
<div class="team-button" style="background-color: var(--liverpool);">
    <a class="main-link" style="color: var(--liverpool-secondary);" href="/liverpool">Liverpool</a>
  </div>
  <div class="team-button" style="background-color: var(--manchester-city);">
    <a class="main-link" style="color: var(--manchester-city-secondary);" href="/manchester-city">Manchester City</a>
  </div>
  <div class="team-button" style="background-color: var(--manchester-united);">
    <a class="main-link" style="color: var(--manchester-united-secondary);" href="/manchester-united">Manchester United</a>
  </div>
  <div class="team-button" style="background-color: var(--chelsea);">
    <a class="main-link" style="color: var(--chelsea-secondary);" href="/chelsea">Chelsea</a>
  </div>
  <div class="team-button" style="background-color: var(--leicester-city);">
    <a class="main-link" style="color: var(--leicester-city-secondary);" href="/leicester-city">Leicester</a>
  </div>
  <div class="team-button" style="background-color: var(--tottenham-hotspur);">
    <a class="main-link" style="color: var(--tottenham-hotspur-secondary);" href="/tottenham-hotspur">Spurs</a>
  </div>
  <div class="team-button" style="background-color: var(--wolverhampton-wanderers);">
    <a class="main-link" style="color: var(--wolverhampton-wanderers-secondary);" href="/wolverhampton-wanderers">Wolves</a>
  </div>
  <div class="team-button" style="background-color: var(--arsenal);">
    <a class="main-link" style="color: var(--arsenal-secondary);" href="/arsenal">Arsenal</a>
  </div>
  <div class="team-button" style="background-color: var(--sheffield-united);">
    <a class="main-link" style="color: var(--sheffield-united-secondary);" href="/sheffield-united">Sheffield United</a>
  </div>
  <div class="team-button" style="background-color: var(--burnley);">
    <a class="main-link" style="color: var(--burnley-secondary);" href="/burnley">Burnley</a>
  </div>
  <div class="team-button" style="background-color: var(--southampton);">
    <a class="main-link" style="color: var(--southampton-secondary);" href="/southampton">Southampton</a>
  </div>
  <div class="team-button" style="background-color: var(--everton);">
    <a class="main-link" style="color: var(--everton-secondary);" href="/everton">Everton</a>
  </div>
  <div class="team-button" style="background-color: var(--newcastle-united);">
    <a class="main-link" style="color: var(--newcastle-united-secondary);" href="/newcastle-united">Newcastle</a>
  </div>
  <div class="team-button" style="background-color: var(--crystal-palace);">
    <a class="main-link" style="color: var(--crystal-palace-secondary);" href="/crystal-palace">Crystal Palace</a>
  </div>
  <div class="team-button" style="background-color: var(--brighton-and-hove-albion);">
    <a class="main-link" style="color: var(--brighton-and-hove-albion-secondary);" href="/brighton-and-hove-albion">Brighton</a>
  </div>
  <div class="team-button" style="background-color: var(--west-ham-united);">
    <a class="main-link" style="color: var(--west-ham-united-secondary);" href="/west-ham-united">West Ham</a>
  </div>
  <div class="team-button" style="background-color: var(--aston-villa);">
    <a class="main-link" style="color: var(--aston-villa-secondary);" href="/aston-villa">Aston Villa</a>
  </div>
  <div class="team-button" style="background-color: var(--leeds-united);">
    <a class="main-link" style="color: var(--leeds-united-secondary);" href="/leeds-united">Leeds United</a>
  </div>
  <div class="team-button" style="background-color: var(--west-bromwich-albion);">
    <a class="main-link" style="color: var(--west-bromwich-albion-secondary);" href="/west-bromwich-albion">West Brom</a>
  </div>
  <div class="team-button" style="background-color: var(--fulham);">
    <a class="main-link" style="color: var(--fulham-secondary);" href="/fulham">Fulham</a>
  </div>
</div>
<div class="main-page-footer">
  <a class="footer-link donation-fontsize" href="https://www.paypal.me/TomDraper">
    <img class="donation" src="static/coin.png">
    <div class="donation-text footer-text-colour">Donate!</div>
  </a>
</div>
{% endblock content %}
