<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if team == "None" %}
      <title>Premier League</title>
    {% else %}
      <title>{{ team.replace('-', ' ').title() }}</title>
    {% endif %}
  </head>
  <body>
    {% if team == "None" %}
      <div class="title">
        <a class="title" href="/">Premier League</a>
      </div>
    {% else %}
      <div class="title {{team}}">
        <a class="title" href="/">{{ team.replace('-', ' ').title() }}</a>
      </div>
    {% endif %}
    <div class="page-content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
