<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <style>
      @font-face {
        font-family: "Radikal Medium";
        src: url("/static/fonts/Radikal-Medium.ttf");
      }
      .position-and-badge {
        background-image: url("static/club_badges/{{team}}.png");
        background-repeat: no-repeat;
        background-size: auto 450px;
        background-position: right center;
      }
    </style>

    {% if team == "None" %}
      <title>Premier League</title>
    {% else %}
      <title>{{ team.replace('-', ' ').title() }}</title>
    {% endif %}
  </head>
  <body>
    {% if team == "None" %}
      <div class="header">
        <a class="title" href="/">Premier League</a>
      </div>
    {% else %}
      <div class="header {{team}}">
        <a class="title {{team.replace(' ', '-') + '-secondary'}}" href="/">{{ team.replace('-', ' ').title() }}</a>
      </div>
    {% endif %}
    <div class="page-content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
