
{% extends 'layout.html' %} {% block content %}

<div class="row">
  <div class="row-left position-and-badge">
    <div class="position">{{ position }}</div>
    <!-- <img src='../static/club_badges/{{team}}.png'/ alt=""> -->
  </div>
  <div class="fixtures-graph row-graph">
    <h1>Fixtures</h1>
    <div class="graph">
      {% include 'graphs/{}/fixtures_{}.html'.format(team.replace('-', '_'), team.replace('-', '_')) %}
    </div>
  </div>
</div>
<div class="row">
  <div class="row-left form-details">
    <div class="current-form-row">
      <div class="icon pos-0 {{ form[0] }} {{ won_against_star_team[0] }}"></div>
      <div class="icon pos-1 {{ form[1] }} {{ won_against_star_team[1] }}"></div>
      <div class="icon pos-2 {{ form[2] }} {{ won_against_star_team[2] }}"></div>
      <div class="icon pos-3 {{ form[3] }} {{ won_against_star_team[3] }}"></div>
      <div class="icon pos-4 {{ form[4] }} {{ won_against_star_team[4] }}"></div>
    </div>
    <div class="current-form-row">
      <div class="icon-name pos-0">{{ recent_teams_played[0] }}</div>
      <div class="icon-name pos-1">{{ recent_teams_played[1] }}</div>
      <div class="icon-name pos-2">{{ recent_teams_played[2] }}</div>
      <div class="icon-name pos-3">{{ recent_teams_played[3] }}</div>
      <div class="icon-name pos-4">{{ recent_teams_played[4] }}</div>
    </div>
    <div class="current-form">Current Form: {{ form_rating }}%</div>
    <div class="table-snippet">
      <div class="divider"></div>
        <div class="table-row">
          <div class="table-element table-position column-title"></div>
          <div class="table-element table-team-name column-title">Team</div>
          <div class="table-element table-gd column-title">GD</div>
          <div class="table-element table-points column-title">Points</div>
        </div>
        {% for i in range(table_snippet|length) %}
          {% if i == 0 %}
            {% if 'this-team' in table_css_styles[i].split(' ') %}
              <div id="big-divider"></div>
            {% else %}
              <div id="divider"></div>
            {% endif %}
          {% else %}
            {% if 'this-team' in table_css_styles[i-1].split(' ') + table_css_styles[i].split(' ') %}
              <div id="big-divider"></div>
            {% else %}
              <div id="divider"></div>
            {% endif %}
          {% endif %}
          <div class="table-row {{ table_css_styles[i] }}">
            <div class="table-element table-position {{ table_css_styles[i] }}-secondary">{{ table_snippet[i][0] }}</div>
            <div class="table-element table-team-name {{ table_css_styles[i] }}-secondary">{{ table_snippet[i][1] }}</div>
            <div class="table-element table-gd {{ table_css_styles[i] }}-secondary">{{ table_snippet[i][2] }}</div>
            <div class="table-element table-points {{ table_css_styles[i] }}-secondary">{{ table_snippet[i][3] }}</div>
          </div>
        {% endfor %}
        {% if 'this-team' in table_css_styles[6].split(' ') %}
          <div id="big-divider"></div>
        {% else %}
          <div id="divider"></div>
        {% endif %}
    </div>
    <!-- <img src='../static/club_badges/{{team}}.png'/ alt=""> -->
  </div>
  <div class="next-game-prediction row-graph">
    <div class="next-game-title {{ next_team_to_play.lower().replace(' ', '-') }}">
      <h1 class="next-game-title-text {{ next_team_to_play.lower().replace(' ', '-') }}-secondary">Next Game: {{next_team_to_play}}</h1>
    </div>
    <!-- <div class="next-game-underline {{ next_team_to_play.lower().replace(' ', '-') }}"></div> -->
    <div class="next-game-values">
      <div class="predictions-and-logo">
        <div class="predictions">
          <div class="next-game-item">Score prediction: <b>2 - 1</b></div>
          <div class="next-game-item">Clean sheet probability: <b>34%</b></div>
        </div>
        <div class="next-game-logo opposition-badge"
            style="background-image: url('static/club_badges/{{ next_team_to_play.lower().replace(''' ''', '''-''') }}.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;">
        </div>
      </div>
      <div class="past-results">
        <div class="next-game-item" style="font-weight:700;">Previous Results</div>
        <div class="next-game-divider past-result {{ next_team_to_play.lower().replace(' ', '-') }}"></div>
        <div class="next-game-item">
          <div class="past-result">
            <div class="home-team">West Bromwich Albion</div>
            <div class="score" style="font-weight:800">0 - 0</div>
            <div class="away-team">Newcastle United</div>
          </div>
          <div style="clear: both;"></div>
          <div class="past-result-date">14th February 2020</div>
        </div>
        <div class="next-game-divider past-result {{ next_team_to_play.lower().replace(' ', '-') }}"></div>
        <div class="next-game-item">
          <div class="past-result">
            <div class="home-team">Newcastle United</div>
            <div class="score" style="font-weight:800">0 - 0</div>
            <div class="away-team">West Bromwich Albion</div>
          </div>
          <div style="clear: both;"></div>
          <div class="past-result-date">14th March 2020</div>
        </div>
        <div class="next-game-divider past-result {{ next_team_to_play.lower().replace(' ', '-') }}"></div>
        <div class="next-game-item">
          <div class="past-result">
            <div class="home-team">West Bromwich Albion</div>
            <div class="score" style="font-weight:800">0 - 0</div>
            <div class="away-team">Newcastle United</div>
          </div>
          <div style="clear: both;"></div>
          <div class="past-result-date">1st April 2020</div>
        </div>
        <div class="next-game-divider past-result {{ next_team_to_play.lower().replace(' ', '-') }}"></div>
        <div class="next-game-item">
          <div class="past-result">
            <div class="home-team">Newcastle United</div>
            <div class="score" style="font-weight:800">0 - 0</div>
            <div class="away-team">West Bromwich Albion</div>
          </div>
          <div style="clear: both;"></div>
          <div class="past-result-date">14th October 2020</div>
        </div>
        <div class="next-game-divider past-result {{ next_team_to_play.lower().replace(' ', '-') }}"></div>
        <div class="next-game-item">
          <div class="past-result">
            <div class="home-team">West Bromwich Albion</div>
            <div class="score" style="font-weight:800">0 - 0</div>
            <div class="away-team">Newcastle United</div>
          </div>
          <div style="clear: both;"></div>
          <div class="past-result-date">14th November 2020</div>
        </div>
        <div class="next-game-divider past-result {{ next_team_to_play.lower().replace(' ', '-') }}"></div>
        <div class="next-game-item">
          <div class="past-result">
            <div class="home-team">Newcastle United</div>
            <div class="score" style="font-weight:800">0 - 3</div>
            <div class="away-team">West Bromwich Albion</div>
          </div>
          <div style="clear: both;"></div>
          <div class="past-result-date">2nd May 2011</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-graph row-graph">
    <h1>Form Over Time</h1>
    <div class="graph">
      {% include 'graphs/{}/form_over_time_{}.html'.format(team.replace('-', '_'), team.replace('-', '_')) %}
    </div>
  </div>
</div>
<div class="row">
  <div class="position-over-time-graph row-graph">
    <h1>Position Over Time</h1>
    <div class="graph">
      {% include 'graphs/{}/position_over_time_{}.html'.format(team.replace('-', '_'), team.replace('-', '_')) %}
    </div>
  </div>
</div>
<div class="row">
  <div class="goals-scored-vs-conceded-graph row-graph">
    <h1>Goals Scored vs Goals Conceded</h1>
    <div class="graph">
      {% include 'graphs/{}/goals_scored_and_conceded_{}.html'.format(team.replace('-', '_'), team.replace('-', '_')) %}
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-item-gap footer-text-colour">
    Data provided by <a class="footer-text-colour underline" href="https://www.football-data.org/">football-data.org</a>
  </div>
  <div class="footer-item-gap footer-text-colour">
    Graphs created using <a class="footer-text-colour underline" href="https://plotly.com/">Plotly</a>
  </div>
  <div class="footer-item-gap footer-text-colour">
    Font made from <a class="footer-text-colour" href="http://www.onlinewebfonts.com">oNline Web Fonts</a> is licensed by CC BY 3.0
  </div>
  <a class="footer-item-gap-large footer-link donation-fontsize" href="https://www.paypal.me/TomDraper">
    <img class="donation" src="static/coin.png">
    <div class="donation-text footer-text-colour">Donate!</div>
  </a>
</div>
{% endblock content %}
