
{% extends 'layout.html' %} {% block content %}

<div class="row">
  <div class="row-left position-and-badge">
    <div class="position">{{ position }}</div>
    <!-- <img src='../static/club_badges/{{team}}.png'/ alt=""> -->
  </div>
  <div class="fixtures-graph">
    <h1>Fixtures</h1>
    <div class="graph">
      {% include 'graphs/{}/fixtures_{}.html'.format(team.replace('-', '_'), team.replace('-', '_')) %}
    </div>
  </div>
</div>
<div class="row">
  <div class="row-left form-details">
    <div class="current-form-row">
      <div class="icon pos-0 {{ form[0] }} {{ won_against_star_team[0] }}"></div>
      <div class="icon pos-1 {{ form[1] }} {{ won_against_star_team[1] }}"></div>
      <div class="icon pos-2 {{ form[2] }} {{ won_against_star_team[2] }}"></div>
      <div class="icon pos-3 {{ form[3] }} {{ won_against_star_team[3] }}"></div>
      <div class="icon pos-4 {{ form[4] }} {{ won_against_star_team[4] }}"></div>
    </div>
    <div class="current-form-row">
      <div class="icon-name pos-0">{{ recent_teams_played[0] }}</div>
      <div class="icon-name pos-1">{{ recent_teams_played[1] }}</div>
      <div class="icon-name pos-2">{{ recent_teams_played[2] }}</div>
      <div class="icon-name pos-3">{{ recent_teams_played[3] }}</div>
      <div class="icon-name pos-4">{{ recent_teams_played[4] }}</div>
    </div>
    <div class="current-form">
      Current Form: {{ form_rating }}%
    </div>
    <!-- <img src='../static/club_badges/{{team}}.png'/ alt=""> -->
  </div>
  <div class="form-graph">
    <h1>Form</h1>
    Graph Coming Soon
  </div>
</div>
{% endblock content %}
